openapi: 3.0.3
info:
  description: REST API for Omnistrate Service Registration
  title: Omnistrate Registration API
  version: 2022-09-01-00
servers:
- url: https://api.omnistrate.cloud
tags:
- description: Common API for all Omnistrate API endpoints
  name: global-api
- name: service-api
- name: service-environment-api
- name: service-model-api
- name: product-tier-api
- name: service-api-api
- name: service-plan-api
- name: resource-api
- name: tier-version-set-api
- name: input-parameter-api
- name: output-parameter-api
- description: The external facing VUnit API
  name: vunit-api
- description: The infra config API manages the infra for Omnistrate resources
  name: infra-config-api
- description: The image config API manages the image config for Omnistrate entities
  name: image-config-api
- description: The deployment config API manages the deployment config for Omnistrate
    entities
  name: deployment-config-api
- description: The compute config API manages the compute config for Omnistrate entities
  name: compute-config-api
- description: The storage config API manages the storage config for Omnistrate entities
  name: storage-config-api
- description: The storage volume config API manages the storage volume config for
    Omnistrate entities
  name: storage-volume-config-api
- description: The network config API manages the network config for Omnistrate entities
  name: network-config-api
- description: The Availability Zone API provides read-only access to availability
    zones
  name: availability-zone-api
- description: The Region API provides read-only access to regions
  name: region-api
- description: The Cloud Provider API provides read-only access to cloud provider
    metadata
  name: cloud-provider-api
- description: The Demo API provides a demo of the system
  name: demo-api
- description: The Contactus API for customers to reach out to us
  name: contactus-api
- description: The signin API for customers to authenticate with us
  name: signin-api
- description: The Signup API for customers to signup with us
  name: signup-api
- description: The Plan API is for payment info.  It's explicitly empty for free plans.
  name: plan-api
- description: The Usage API is for getting the last calendar month usage.
  name: usage-api
- description: The Invoices API gets the list of invoices for the organization
  name: invoice-api
- description: The user management API to manage user metadata
  name: users-api
- description: The Consumption Signin API signs the user into the consumption service
  name: consumption-user-api
- description: The Services Orchestration API manages the orchestration of services
  name: services-orchestration-api
- description: The Resource Instance API manages the instances of a resource
  name: resource-instance-api
- description: The Consumption Usage API retrieves the usage data for consumption
    users
  name: consumption-usage-api
- description: The Consumption Invoice API retrieves the invoice data for consumption
    users
  name: consumption-invoice-api
- description: The Consumption Invoice API retrieves the billing information for consumption
    users
  name: consumption-billing-api
- description: The Account Config API manages the access information for a Service
    Provider account
  name: account-config-api
- description: The Custom Domain API manages the delegated domain names for the Service
    Provider
  name: custom-domain-api
- description: The limit API manages the limit for Omnistrate entities
  name: limit-api
- description: The image registry API manages the image registry for Omnistrate resources
  name: image-registry-api
- description: The service offering API provides a public API to list all public services
  name: service-offering-api
- description: The set of APIs for auditing instance events for consumption side users.
  name: audit-events-api
- description: The subscription management API to manage subscription metadata
  name: subscription-api
- description: The subscription request API for end customers to issue subscription
    requests
  name: subscription-request-api
- name: identity-provider-api
- name: saas-portal-api
- name: helm-package-api
- name: compose-gen-api
- name: custom-network-api
- description: The API to manage stripe connected accounts
  name: stripe-connect-api
paths:
  /2022-09-01-00/accountconfig:
    post:
      operationId: account-config-api#CreateAccountConfig
      requestBody:
        content:
          application/json:
            example:
              awsAccessKey: Est omnis dolore vitae enim saepe sit.
              awsAccountID: "123456789012"
              awsBootstrapRoleARN: arn:aws:iam::<ACCOUNT_ID>:role/<ROLE_NAME>
              awsSecretKey: Aliquid necessitatibus.
              azureSubscriptionID: 12345678-1234-1234-1234-123456789012
              azureTenantID: 12345678-1234-1234-1234-123456789012
              byoaInstanceID: instance-12345678
              cloudProviderId: infra-12345678
              description: An AWS account hosting multiple dev environments
              gcpProjectID: my-project
              gcpProjectNumber: "123456789012"
              gcpServiceAccountEmail: bootstrap@my-project.iam.gserviceaccount.com
              gcpServiceAccountKey: Repellendus dolorem aliquam placeat velit laboriosam
                eius.
              name: Dev AWS account
            schema:
              $ref: '#/components/schemas/CreateAccountConfigRequest2'
        required: true
      responses:
        "202":
          content:
            application/json:
              examples:
                default:
                  summary: default
                  value: ac-12345678
              schema:
                description: The ID of the registered account config
                example: ac-12345678
                type: string
          description: Accepted response.
        "400":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "bad_request: Response used on a bad request"
        "404":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "not_found: Response used when the requested resource is not\
            \ found"
        "409":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "invalid_state: Response used when requested resource is in\
            \ an invalid state for this operation"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "failed_request: Response used on failure to create an account\
            \ config"
      security:
      - api_key_header_Authorization: []
      summary: CreateAccountConfig account-config-api
      tags:
      - account-config-api
  /2022-09-01-00/accountconfig/{id}:
    delete:
      operationId: account-config-api#DeleteAccountConfig
      parameters:
      - description: Account Config ID to operate on
        example: ac-12345678
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: ID of an Account Config
          example: Animi laboriosam eos nobis culpa illum dolore.
          type: string
        style: simple
      responses:
        "202":
          description: Accepted response.
        "400":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "bad_request: Response used on a bad request"
        "404":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "not_found: Response used when the requested resource is not\
            \ found"
        "409":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "invalid_state: Response used when requested resource is in\
            \ an invalid state for this operation"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "failed_request: Response used on failure to delete an account\
            \ config"
      security:
      - api_key_header_Authorization: []
      summary: DeleteAccountConfig account-config-api
      tags:
      - account-config-api
    get:
      operationId: account-config-api#DescribeAccountConfig
      parameters:
      - description: Account Config ID to operate on
        example: ac-12345678
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: ID of an Account Config
          example: Sint qui modi.
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                awsAccountID: "123456789012"
                awsBootstrapRoleARN: arn:aws:iam::<ACCOUNT_ID>:role/<ROLE_NAME>
                awsCloudFormationNoLBTemplateURL: https://s3.amazonaws.com/omnistrate-cloudformation/org-EUVvex3bVm/account-config-setup-template-no-lb-policy.yaml
                awsCloudFormationTemplateURL: https://s3.amazonaws.com/omnistrate-cloudformation/org-EUVvex3bVm/account-config-setup-template.yaml
                azureBootstrapShellCommand: bash -c "$(curl -fsSL https://omnistrate.com/account-setup/azure-bootstrap.sh?account_config_id=ac-MOju2uwKM0)"
                azureSubscriptionID: 12345678-1234-1234-1234-123456789012
                azureTenantID: 12345678-1234-1234-1234-123456789012
                byoaInstanceIDs:
                - instance-12345678
                - instance-abcdefgh
                cloudProviderId: infra-12345678
                description: An AWS account hosting multiple dev environments
                gcpBootstrapShellCommand: bash -c "$(curl -fsSL https://omnistrate.com/account-setup/gcp-bootstrap.sh?account_config_id=ac-MOju2uwKM0)"
                gcpDisconnectShellCommand: bash -c "$(curl -fsSL https://omnistrate.com/account-setup/gcp-disconnect.sh?account_config_id=ac-MOju2uwKM0)"
                gcpProjectID: my-project
                gcpProjectNumber: "123456789012"
                gcpServiceAccountEmail: bootstrap@my-project.iam.gserviceaccount.com
                id: ac-12345678
                name: Dev AWS account
                status: READY
                statusMessage: Account is ready
              schema:
                $ref: '#/components/schemas/DescribeAccountConfigResult'
          description: OK response.
        "400":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "bad_request: Response used on a bad request"
        "401":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "auth_failure: Response used on authentication failure"
        "403":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "forbidden: Response used on authorization failure"
        "404":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "not_found: Response used when the requested resource is not\
            \ found"
        "409":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "invalid_state: Response used when requested resource is in\
            \ an invalid state for this operation"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "failed_request: Response used on failure to describe an account\
            \ config"
      security:
      - api_key_header_Authorization: []
      summary: DescribeAccountConfig account-config-api
      tags:
      - account-config-api
  /2022-09-01-00/accountconfig/aws/{awsAccountID}:
    get:
      operationId: account-config-api#DescribeAccountConfigByAWSAccountID
      parameters:
      - description: The AWS account ID
        example: "123456789012"
        explode: false
        in: path
        name: awsAccountID
        required: true
        schema:
          description: The AWS account ID
          example: "123456789012"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                awsAccountID: "123456789012"
                awsBootstrapRoleARN: arn:aws:iam::<ACCOUNT_ID>:role/<ROLE_NAME>
                awsCloudFormationNoLBTemplateURL: https://s3.amazonaws.com/omnistrate-cloudformation/org-EUVvex3bVm/account-config-setup-template.yaml&param_CreateLoadBalancerPolicy=false
                awsCloudFormationTemplateURL: https://s3.amazonaws.com/omnistrate-cloudformation/org-EUVvex3bVm/account-config-setup-template.yaml
                byoaInstanceIDs:
                - instance-12345678
                - instance-abcdefgh
                cloudProviderId: infra-12345678
                description: An AWS account hosting multiple dev environments
                id: ac-12345678
                name: Dev AWS account
                status: READY
                statusMessage: Account is ready
              schema:
                $ref: '#/components/schemas/DescribeAccountConfigByAWSAccountIDResult'
          description: OK response.
        "400":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "bad_request: Response used on a bad request"
        "401":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "auth_failure: Response used on authentication failure"
        "403":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "forbidden: Response used on authorization failure"
        "404":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "not_found: Response used when the requested resource is not\
            \ found"
        "409":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "invalid_state: Response used when requested resource is in\
            \ an invalid state for this operation"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "failed_request: Response used on failure to describe an account\
            \ config"
      security:
      - api_key_header_Authorization: []
      summary: DescribeAccountConfigByAWSAccountID account-config-api
      tags:
      - account-config-api
  /2022-09-01-00/accountconfig/azure/{azureSubscriptionID}:
    get:
      operationId: account-config-api#DescribeAccountConfigByAzureSubscriptionID
      parameters:
      - description: The Azure subscription ID
        example: 12345678-1234-1234-1234-123456789012
        explode: false
        in: path
        name: azureSubscriptionID
        required: true
        schema:
          description: The Azure subscription ID
          example: 12345678-1234-1234-1234-123456789012
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                azureSubscriptionID: 12345678-1234-1234-1234-123456789012
                azureTenantID: 12345678-1234-1234-1234-123456789012
                byoaInstanceIDs:
                - instance-12345678
                - instance-abcdefgh
                cloudProviderId: infra-12345678
                description: An AWS account hosting multiple dev environments
                id: ac-12345678
                name: Dev AWS account
                status: READY
                statusMessage: Account is ready
              schema:
                $ref: '#/components/schemas/DescribeAccountConfigByAzureSubscriptionIDResult'
          description: OK response.
        "400":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "bad_request: Response used on a bad request"
        "401":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "auth_failure: Response used on authentication failure"
        "403":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "forbidden: Response used on authorization failure"
        "404":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "not_found: Response used when the requested resource is not\
            \ found"
        "409":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "invalid_state: Response used when requested resource is in\
            \ an invalid state for this operation"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "failed_request: Response used on failure to describe an account\
            \ config"
      security:
      - api_key_header_Authorization: []
      summary: DescribeAccountConfigByAzureSubscriptionID account-config-api
      tags:
      - account-config-api
  /2022-09-01-00/accountconfig/byoa:
    get:
      operationId: account-config-api#ListBYOAConfig
      requestBody:
        content:
          application/json:
            example:
              cloudProviderName: aws
            schema:
              $ref: '#/components/schemas/ListBYOAConfigRequest2'
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                accountConfigs:
                - awsAccountID: "123456789012"
                  awsBootstrapRoleARN: arn:aws:iam::<ACCOUNT_ID>:role/<ROLE_NAME>
                  awsCloudFormationNoLBTemplateURL: https://s3.amazonaws.com/omnistrate-cloudformation/org-EUVvex3bVm/account-config-setup-template-no-lb-policy.yaml
                  awsCloudFormationTemplateURL: https://s3.amazonaws.com/omnistrate-cloudformation/org-EUVvex3bVm/account-config-setup-template.yaml
                  azureBootstrapShellCommand: bash -c "$(curl -fsSL https://omnistrate.com/account-setup/azure-bootstrap.sh?account_config_id=ac-MOju2uwKM0)"
                  azureSubscriptionID: 12345678-1234-1234-1234-123456789012
                  azureTenantID: 12345678-1234-1234-1234-123456789012
                  byoaInstanceIDs:
                  - instance-12345678
                  - instance-abcdefgh
                  cloudProviderId: infra-12345678
                  description: An AWS account hosting multiple dev environments
                  gcpBootstrapShellCommand: bash -c "$(curl -fsSL https://omnistrate.com/account-setup/gcp-bootstrap.sh?account_config_id=ac-MOju2uwKM0)"
                  gcpDisconnectShellCommand: bash -c "$(curl -fsSL https://omnistrate.com/account-setup/gcp-disconnect.sh?account_config_id=ac-MOju2uwKM0)"
                  gcpProjectID: my-project
                  gcpProjectNumber: "123456789012"
                  gcpServiceAccountEmail: bootstrap@my-project.iam.gserviceaccount.com
                  id: ac-12345678
                  name: Dev AWS account
                  status: READY
                  statusMessage: Account is ready
                - awsAccountID: "123456789012"
                  awsBootstrapRoleARN: arn:aws:iam::<ACCOUNT_ID>:role/<ROLE_NAME>
                  awsCloudFormationNoLBTemplateURL: https://s3.amazonaws.com/omnistrate-cloudformation/org-EUVvex3bVm/account-config-setup-template-no-lb-policy.yaml
                  awsCloudFormationTemplateURL: https://s3.amazonaws.com/omnistrate-cloudformation/org-EUVvex3bVm/account-config-setup-template.yaml
                  azureBootstrapShellCommand: bash -c "$(curl -fsSL https://omnistrate.com/account-setup/azure-bootstrap.sh?account_config_id=ac-MOju2uwKM0)"
                  azureSubscriptionID: 12345678-1234-1234-1234-123456789012
                  azureTenantID: 12345678-1234-1234-1234-123456789012
                  byoaInstanceIDs:
                  - instance-12345678
                  - instance-abcdefgh
                  cloudProviderId: infra-12345678
                  description: An AWS account hosting multiple dev environments
                  gcpBootstrapShellCommand: bash -c "$(curl -fsSL https://omnistrate.com/account-setup/gcp-bootstrap.sh?account_config_id=ac-MOju2uwKM0)"
                  gcpDisconnectShellCommand: bash -c "$(curl -fsSL https://omnistrate.com/account-setup/gcp-disconnect.sh?account_config_id=ac-MOju2uwKM0)"
                  gcpProjectID: my-project
                  gcpProjectNumber: "123456789012"
                  gcpServiceAccountEmail: bootstrap@my-project.iam.gserviceaccount.com
                  id: ac-12345678
                  name: Dev AWS account
                  status: READY
                  statusMessage: Account is ready
                ids:
                - ac-12345678
                - ac-abcdefgh
                - ac-1234efgh
                nextPageToken: next-token
              schema:
                $ref: '#/components/schemas/ListBYOAConfigResult'
          description: OK response.
        "400":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "bad_request: Response used on a bad request"
        "401":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "auth_failure: Response used on authentication failure"
        "403":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "forbidden: Response used on authorization failure"
        "404":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "not_found: Response used when the requested resource is not\
            \ found"
        "409":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "invalid_state: Response used when requested resource is in\
            \ an invalid state for this operation"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "failed_request: Response used on failure to list account configs"
      security:
      - api_key_header_Authorization: []
      summary: ListBYOAConfig account-config-api
      tags:
      - account-config-api
  /2022-09-01-00/accountconfig/cloudprovider/{cloudProviderName}:
    get:
      operationId: account-config-api#ListAccountConfig
      parameters:
      - description: Cloud Provider name to filter on
        example: aws
        explode: false
        in: path
        name: cloudProviderName
        required: true
        schema:
          description: Name of the Infra Provider
          example: aws|azure|gcp|all
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                accountConfigs:
                - awsAccountID: "123456789012"
                  awsBootstrapRoleARN: arn:aws:iam::<ACCOUNT_ID>:role/<ROLE_NAME>
                  awsCloudFormationNoLBTemplateURL: https://s3.amazonaws.com/omnistrate-cloudformation/org-EUVvex3bVm/account-config-setup-template-no-lb-policy.yaml
                  awsCloudFormationTemplateURL: https://s3.amazonaws.com/omnistrate-cloudformation/org-EUVvex3bVm/account-config-setup-template.yaml
                  azureBootstrapShellCommand: bash -c "$(curl -fsSL https://omnistrate.com/account-setup/azure-bootstrap.sh?account_config_id=ac-MOju2uwKM0)"
                  azureSubscriptionID: 12345678-1234-1234-1234-123456789012
                  azureTenantID: 12345678-1234-1234-1234-123456789012
                  byoaInstanceIDs:
                  - instance-12345678
                  - instance-abcdefgh
                  cloudProviderId: infra-12345678
                  description: An AWS account hosting multiple dev environments
                  gcpBootstrapShellCommand: bash -c "$(curl -fsSL https://omnistrate.com/account-setup/gcp-bootstrap.sh?account_config_id=ac-MOju2uwKM0)"
                  gcpDisconnectShellCommand: bash -c "$(curl -fsSL https://omnistrate.com/account-setup/gcp-disconnect.sh?account_config_id=ac-MOju2uwKM0)"
                  gcpProjectID: my-project
                  gcpProjectNumber: "123456789012"
                  gcpServiceAccountEmail: bootstrap@my-project.iam.gserviceaccount.com
                  id: ac-12345678
                  name: Dev AWS account
                  status: READY
                  statusMessage: Account is ready
                - awsAccountID: "123456789012"
                  awsBootstrapRoleARN: arn:aws:iam::<ACCOUNT_ID>:role/<ROLE_NAME>
                  awsCloudFormationNoLBTemplateURL: https://s3.amazonaws.com/omnistrate-cloudformation/org-EUVvex3bVm/account-config-setup-template-no-lb-policy.yaml
                  awsCloudFormationTemplateURL: https://s3.amazonaws.com/omnistrate-cloudformation/org-EUVvex3bVm/account-config-setup-template.yaml
                  azureBootstrapShellCommand: bash -c "$(curl -fsSL https://omnistrate.com/account-setup/azure-bootstrap.sh?account_config_id=ac-MOju2uwKM0)"
                  azureSubscriptionID: 12345678-1234-1234-1234-123456789012
                  azureTenantID: 12345678-1234-1234-1234-123456789012
                  byoaInstanceIDs:
                  - instance-12345678
                  - instance-abcdefgh
                  cloudProviderId: infra-12345678
                  description: An AWS account hosting multiple dev environments
                  gcpBootstrapShellCommand: bash -c "$(curl -fsSL https://omnistrate.com/account-setup/gcp-bootstrap.sh?account_config_id=ac-MOju2uwKM0)"
                  gcpDisconnectShellCommand: bash -c "$(curl -fsSL https://omnistrate.com/account-setup/gcp-disconnect.sh?account_config_id=ac-MOju2uwKM0)"
                  gcpProjectID: my-project
                  gcpProjectNumber: "123456789012"
                  gcpServiceAccountEmail: bootstrap@my-project.iam.gserviceaccount.com
                  id: ac-12345678
                  name: Dev AWS account
                  status: READY
                  statusMessage: Account is ready
                ids:
                - ac-12345678
                - ac-abcdefgh
                - ac-1234efgh
                nextPageToken: next-token
              schema:
                $ref: '#/components/schemas/ListAccountConfigResult'
          description: OK response.
        "400":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "bad_request: Response used on a bad request"
        "401":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "auth_failure: Response used on authentication failure"
        "403":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "forbidden: Response used on authorization failure"
        "404":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "not_found: Response used when the requested resource is not\
            \ found"
        "409":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "invalid_state: Response used when requested resource is in\
            \ an invalid state for this operation"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "failed_request: Response used on failure to list account configs"
      security:
      - api_key_header_Authorization: []
      summary: ListAccountConfig account-config-api
      tags:
      - account-config-api
  /2022-09-01-00/accountconfig/gcp/{gcpProjectID}:
    get:
      operationId: account-config-api#DescribeAccountConfigByGCPProjectID
      parameters:
      - description: The GCP project ID
        example: my-project
        explode: false
        in: path
        name: gcpProjectID
        required: true
        schema:
          description: The GCP project ID
          example: my-project
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                byoaInstanceIDs:
                - instance-12345678
                - instance-abcdefgh
                cloudProviderId: infra-12345678
                description: An AWS account hosting multiple dev environments
                gcpProjectID: my-project
                gcpProjectNumber: "123456789012"
                gcpServiceAccountEmail: bootstrap@my-project.iam.gserviceaccount.com
                id: ac-12345678
                name: Dev AWS account
                status: READY
                statusMessage: Account is ready
              schema:
                $ref: '#/components/schemas/DescribeAccountConfigByGCPProjectIDResult'
          description: OK response.
        "400":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "bad_request: Response used on a bad request"
        "401":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "auth_failure: Response used on authentication failure"
        "403":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "forbidden: Response used on authorization failure"
        "404":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "not_found: Response used when the requested resource is not\
            \ found"
        "409":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "invalid_state: Response used when requested resource is in\
            \ an invalid state for this operation"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "failed_request: Response used on failure to describe an account\
            \ config"
      security:
      - api_key_header_Authorization: []
      summary: DescribeAccountConfigByGCPProjectID account-config-api
      tags:
      - account-config-api
  /2022-09-01-00/accountconfig/identityid:
    get:
      description: Returns the identity id of the account config to be used in the
        trust policy of the account
      operationId: account-config-api#AccountConfigIdentityID
      responses:
        "200":
          content:
            application/json:
              example:
                id: org-12345678
              schema:
                $ref: '#/components/schemas/AccountConfigIdentityIDResult'
          description: OK response.
        "400":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "bad_request: Response used on a bad request"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "failed_request: Response used on failure to get an account\
            \ config identity id"
      security:
      - api_key_header_Authorization: []
      summary: AccountConfigIdentityID account-config-api
      tags:
      - account-config-api
  /2022-09-01-00/accountconfig/verify/{id}:
    post:
      operationId: account-config-api#VerifyAccountConfig
      parameters:
      - description: Account Config ID to operate on
        example: ac-12345678
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: ID of an Account Config
          example: Delectus sunt.
          type: string
        style: simple
      responses:
        "202":
          description: Accepted response.
        "400":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "bad_request: Response used on a bad request"
        "401":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "auth_failure: Response used on authentication failure"
        "403":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "forbidden: Response used on authorization failure"
        "404":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "not_found: Response used when the requested resource is not\
            \ found"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "failed_request: Response used on failure to list account configs"
      security:
      - api_key_header_Authorization: []
      summary: VerifyAccountConfig account-config-api
      tags:
      - account-config-api
  /2022-09-01-00/availability-zone/{id}:
    get:
      operationId: availability-zone-api#DescribeAvailabilityZone
      parameters:
      - example: az-12345678
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: ID of an AZ
          example: Doloremque voluptas tempora perspiciatis.
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                cloudProviderName: aws
                code: us-east-1a
                description: US East (N. Virginia) Availability Zone A
                id: az-12345678
                regionCode: us-east-1
              schema:
                $ref: '#/components/schemas/DescribeAvailabilityZoneResult'
          description: OK response.
        "400":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "bad_request: Response used on a bad request"
        "401":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "auth_failure: Response used on authentication failure"
        "403":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "forbidden: Response used on authorization failure"
        "404":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "not_found: Response used when the requested resource is not\
            \ found"
        "409":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "invalid_state: Response used when requested resource is in\
            \ an invalid state for this operation"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "failed_request: Response used on failure to describe an availability\
            \ zone"
      security:
      - api_key_header_Authorization: []
      summary: DescribeAvailabilityZone availability-zone-api
      tags:
      - availability-zone-api
  /2022-09-01-00/availability-zone/cloud-provider/{cloudProviderName}:
    get:
      operationId: availability-zone-api#ListAvailabilityZone
      parameters:
      - description: The cloud provider for this compute instance type config
        example: aws
        explode: false
        in: path
        name: cloudProviderName
        required: true
        schema:
          description: Name of the Infra Provider
          example: aws|azure|gcp|all
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                ids:
                - az-12345678
                - az-87654321
                nextPageToken: next-token
              schema:
                $ref: '#/components/schemas/ListAvailabilityZonesResult'
          description: OK response.
        "400":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "bad_request: Response used on a bad request"
        "401":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "auth_failure: Response used on authentication failure"
        "403":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "forbidden: Response used on authorization failure"
        "404":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "not_found: Response used when the requested resource is not\
            \ found"
        "409":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "invalid_state: Response used when requested resource is in\
            \ an invalid state for this operation"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "failed_request: Response used on failure to list availability\
            \ zones"
      security:
      - api_key_header_Authorization: []
      summary: ListAvailabilityZone availability-zone-api
      tags:
      - availability-zone-api
  /2022-09-01-00/availability-zone/code/{code}/cloud-provider/{cloudProviderName}:
    get:
      operationId: availability-zone-api#GetAvailabilityZoneByCode
      parameters:
      - description: Cloud-provider native availability zone code
        example: us-east-1a
        explode: false
        in: path
        name: code
        required: true
        schema:
          description: Cloud-provider native availability zone code
          example: us-east-1a
          type: string
        style: simple
      - description: The cloud provider for this compute instance type config
        example: aws
        explode: false
        in: path
        name: cloudProviderName
        required: true
        schema:
          description: Name of the Infra Provider
          example: aws|azure|gcp|all
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example: Corporis modi delectus voluptatem.
              schema:
                example: Libero ullam officia nam non maiores fugit.
                type: string
          description: OK response.
        "400":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "bad_request: Response used on a bad request"
        "401":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "auth_failure: Response used on authentication failure"
        "403":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "forbidden: Response used on authorization failure"
        "404":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "not_found: Response used when the requested resource is not\
            \ found"
        "409":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "invalid_state: Response used when requested resource is in\
            \ an invalid state for this operation"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "failed_request: Response used on failure to get an availability\
            \ zone by code"
      security:
      - api_key_header_Authorization: []
      summary: GetAvailabilityZoneByCode availability-zone-api
      tags:
      - availability-zone-api
  /2022-09-01-00/availability-zone/region/code/{regionCode}/cloud-provider/{cloudProviderName}:
    get:
      operationId: availability-zone-api#ListAvailabilityZonesByRegionCode
      parameters:
      - example: us-east-1
        explode: false
        in: path
        name: regionCode
        required: true
        schema:
          example: us-east-1
          type: string
        style: simple
      - description: The cloud provider for this compute instance type config
        example: aws
        explode: false
        in: path
        name: cloudProviderName
        required: true
        schema:
          description: Name of the Infra Provider
          example: aws|azure|gcp|all
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                ids:
                - az-12345678
                - az-87654321
                nextPageToken: next-token
              schema:
                $ref: '#/components/schemas/ListAvailabilityZonesByRegionCodeResult'
          description: OK response.
        "400":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "bad_request: Response used on a bad request"
        "401":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "auth_failure: Response used on authentication failure"
        "403":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "forbidden: Response used on authorization failure"
        "404":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "not_found: Response used when the requested resource is not\
            \ found"
        "409":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "invalid_state: Response used when requested resource is in\
            \ an invalid state for this operation"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "failed_request: Response used on failure to list availability\
            \ zones by region code"
      security:
      - api_key_header_Authorization: []
      summary: ListAvailabilityZonesByRegionCode availability-zone-api
      tags:
      - availability-zone-api
  /2022-09-01-00/change-password:
    post:
      operationId: signup-api#ChangePassword
      requestBody:
        content:
          application/json:
            example:
              email: abc@gmail.com
              password: password
              token: fc7b8dea-a50b-4c9a-8864-fc3d845a2be6
            schema:
              $ref: '#/components/schemas/ChangePasswordRequest'
        required: true
      responses:
        "200":
          description: OK response.
        "400":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "bad_request: Response used on a bad request"
        "401":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "auth_failure: Response used on authentication failure"
        "403":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "forbidden: Response used on authorization failure"
        "404":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "not_found: Response used when the requested resource is not\
            \ found"
        "409":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "invalid_state: Response used when requested resource is in\
            \ an invalid state for this operation"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "failed_request: Response used on failure to change password"
      summary: ChangePassword signup-api
      tags:
      - signup-api
  /2022-09-01-00/cloud-provider:
    get:
      operationId: cloud-provider-api#ListCloudProvider
      parameters:
      - allowEmptyValue: true
        description: "Service ID. If specified together with serviceModelId,list the\
          \ cloud provider of the service model. Otherwise list all cloud provider."
        example: s-12345678
        explode: true
        in: query
        name: serviceId
        required: false
        schema:
          description: ID of a Service
          example: s-123456
          type: string
        style: form
      - allowEmptyValue: true
        description: "Service model ID. If specified together with serviceId,list\
          \ the cloud provider of the service model. Otherwise list all cloud provider."
        example: sm-12345678
        explode: true
        in: query
        name: serviceModelId
        required: false
        schema:
          description: ID of a Service Model
          example: Vitae est delectus sit aperiam.
          type: string
        style: form
      - allowEmptyValue: true
        description: "Product tier ID. If specified together with serviceId,list the\
          \ cloud provider of the product tier. Otherwise list all cloud provider."
        example: pt-12345678
        explode: true
        in: query
        name: productTierId
        required: false
        schema:
          description: ID of a Product Tier
          example: Optio et.
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                ids:
                - infra-12345678
                - infra-87654321
                nextPageToken: next-token
              schema:
                $ref: '#/components/schemas/ListCloudProvidersResult'
          description: OK response.
        "400":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "bad_request: Response used on a bad request"
        "401":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "auth_failure: Response used on authentication failure"
        "403":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "forbidden: Response used on authorization failure"
        "404":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "not_found: Response used when the requested resource is not\
            \ found"
        "409":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "invalid_state: Response used when requested resource is in\
            \ an invalid state for this operation"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "failed_request: Response used on failure to list cloud providers"
      security:
      - api_key_header_Authorization: []
      summary: ListCloudProvider cloud-provider-api
      tags:
      - cloud-provider-api
  /2022-09-01-00/cloud-provider/{id}:
    get:
      operationId: cloud-provider-api#DescribeCloudProvider
      parameters:
      - description: ID of the CloudProvider
        example: infra-12345678
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: ID of an CloudProvider
          example: Laboriosam consequatur.
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                description: Amazon Web Services
                id: infra-12345678
                name: aws
              schema:
                $ref: '#/components/schemas/DescribeCloudProviderResult'
          description: OK response.
        "400":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "bad_request: Response used on a bad request"
        "401":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "auth_failure: Response used on authentication failure"
        "403":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "forbidden: Response used on authorization failure"
        "404":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "not_found: Response used when the requested resource is not\
            \ found"
        "409":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "invalid_state: Response used when requested resource is in\
            \ an invalid state for this operation"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "failed_request: Response used on failure to describe an cloud\
            \ provider"
      security:
      - api_key_header_Authorization: []
      summary: DescribeCloudProvider cloud-provider-api
      tags:
      - cloud-provider-api
  /2022-09-01-00/cloud-provider/name/{name}:
    get:
      operationId: cloud-provider-api#GetCloudProviderByName
      parameters:
      - description: Name of the CloudProvider
        example: aws
        explode: false
        in: path
        name: name
        required: true
        schema:
          description: Name of the CloudProvider
          example: aws
          minLength: 1
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example: Suscipit sapiente et maiores ut.
              schema:
                example: Asperiores fugiat dolor in vero.
                type: string
          description: OK response.
        "400":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "bad_request: Response used on a bad request"
        "401":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "auth_failure: Response used on authentication failure"
        "403":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "forbidden: Response used on authorization failure"
        "404":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "not_found: Response used when the requested resource is not\
            \ found"
        "409":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "invalid_state: Response used when requested resource is in\
            \ an invalid state for this operation"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "failed_request: Response used on failure to get an cloud provider\
            \ by name"
      security:
      - api_key_header_Authorization: []
      summary: GetCloudProviderByName cloud-provider-api
      tags:
      - cloud-provider-api
  /2022-09-01-00/compose-gen/image:
    get:
      operationId: compose-gen-api#CheckIfContainerImageAccessible
      parameters:
      - allowEmptyValue: true
        description: Registry where the image is stored
        example: docker.io
        explode: true
        in: query
        name: imageRegistry
        required: true
        schema:
          description: Registry where the image is stored
          example: docker.io
          type: string
        style: form
      - allowEmptyValue: true
        description: Username to access the image registry
        example: username
        explode: true
        in: query
        name: username
        required: false
        schema:
          description: Username to access the image registry
          example: username
          type: string
        style: form
      - allowEmptyValue: true
        description: Password to access the image registry
        example: password
        explode: true
        in: query
        name: password
        required: false
        schema:
          description: Password to access the image registry
          example: password
          type: string
        style: form
      - allowEmptyValue: true
        description: Name of the image along with the tag. Include the repository
          name if the image is not from the official repository
        example: library/mysql:5.7
        explode: true
        in: query
        name: image
        required: true
        schema:
          description: Name of the image along with the tag. Include the repository
            name if the image is not from the official repository
          example: library/mysql:5.7
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                errorMsg: Necessitatibus eligendi est.
                imageAccessible: true
              schema:
                $ref: '#/components/schemas/CheckIfContainerImageAccessibleResult'
          description: OK response.
        "400":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "bad_request: Response used on a bad request"
        "401":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "auth_failure: Response used on authentication failure"
        "403":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "forbidden: Response used on authorization failure"
        "404":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "not_found: Response used when the requested resource is not\
            \ found"
        "409":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "invalid_state: Response used when requested resource is in\
            \ an invalid state for this operation"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "failed_request: Response used on failure to build a service\
            \ from compose spec"
      security:
      - api_key_header_Authorization: []
      summary: CheckIfContainerImageAccessible compose-gen-api
      tags:
      - compose-gen-api
    post:
      operationId: compose-gen-api#GenerateComposeSpecFromContainerImage
      requestBody:
        content:
          application/json:
            example:
              environmentVariables:
              - key: MYSQL_ROOT_PASSWORD
                value: password
              image: library/mysql:5.7
              imageRegistry: docker.io
              password: password
              username: username
            schema:
              $ref: '#/components/schemas/GenerateComposeSpecFromContainerImageRequest2'
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                fileContent: Eveniet aut placeat corrupti corrupti.
              schema:
                $ref: '#/components/schemas/GenerateComposeSpecFromContainerImageResult'
          description: OK response.
        "400":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "bad_request: Response used on a bad request"
        "401":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "auth_failure: Response used on authentication failure"
        "403":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "forbidden: Response used on authorization failure"
        "404":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "not_found: Response used when the requested resource is not\
            \ found"
        "409":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "invalid_state: Response used when requested resource is in\
            \ an invalid state for this operation"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "failed_request: Response used on failure to build a service\
            \ from compose spec"
      security:
      - api_key_header_Authorization: []
      summary: GenerateComposeSpecFromContainerImage compose-gen-api
      tags:
      - compose-gen-api
  /2022-09-01-00/contactus:
    post:
      operationId: contactus-api#Contactus
      requestBody:
        content:
          application/json:
            example:
              company: ABC
              email: abc@gmail.com
              message: this is a test
              name: John Doe
            schema:
              $ref: '#/components/schemas/ContactusRequest'
        required: true
      responses:
        "200":
          description: OK response.
        "400":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "bad_request: Response used on a bad request"
        "401":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "auth_failure: Response used on authentication failure"
        "403":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "forbidden: Response used on authorization failure"
        "404":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "not_found: Response used when the requested resource is not\
            \ found"
        "409":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "invalid_state: Response used when requested resource is in\
            \ an invalid state for this operation"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "failed_request: Response used on failure to contactus"
      summary: Contactus contactus-api
      tags:
      - contactus-api
  /2022-09-01-00/customdomain:
    get:
      operationId: custom-domain-api#ListCustomDomain
      responses:
        "200":
          content:
            application/json:
              example:
                CustomDomains:
                - customDomain: mydomain.dev
                  description: Description of the domain
                  id: cd-12345678
                  name: Dev domain
                  route53Configuration:
                    awsAccountID: "123456789012"
                    awsCloudFormationTemplateURL: https://s3.amazonaws.com/my-bucket/my-template.json
                  status: READY
                  statusMessage: Account is ready
                - customDomain: mydomain.dev
                  description: Description of the domain
                  id: cd-12345678
                  name: Dev domain
                  route53Configuration:
                    awsAccountID: "123456789012"
                    awsCloudFormationTemplateURL: https://s3.amazonaws.com/my-bucket/my-template.json
                  status: READY
                  statusMessage: Account is ready
                ids:
                - cd-12345678
                - cd-abcdefgh
                - cd-1234efgh
                nextPageToken: next-token
              schema:
                $ref: '#/components/schemas/ListCustomDomainResult'
          description: OK response.
        "400":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "bad_request: Response used on a bad request"
        "401":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "auth_failure: Response used on authentication failure"
        "403":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "forbidden: Response used on authorization failure"
        "404":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "not_found: Response used when the requested resource is not\
            \ found"
        "409":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "invalid_state: Response used when requested resource is in\
            \ an invalid state for this operation"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "failed_request: Response used on failure to list Custom Domains"
      security:
      - api_key_header_Authorization: []
      summary: ListCustomDomain custom-domain-api
      tags:
      - custom-domain-api
    post:
      operationId: custom-domain-api#CreateCustomDomain
      requestBody:
        content:
          application/json:
            example:
              customDomain: mydomain.dev
              description: Description of the domain
              name: Dev domain
              route53Configuration:
                awsAccountID: "123456789012"
            schema:
              $ref: '#/components/schemas/CreateCustomDomainRequest2'
        required: true
      responses:
        "202":
          content:
            application/json:
              examples:
                default:
                  summary: default
                  value: cd-12345678
              schema:
                description: The ID of the registered Custom Domain
                example: cd-12345678
                type: string
          description: Accepted response.
        "400":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "bad_request: Response used on a bad request"
        "404":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "not_found: Response used when the requested resource is not\
            \ found"
        "409":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "invalid_state: Response used when requested resource is in\
            \ an invalid state for this operation"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "failed_request: Response used on failure to create an Custom\
            \ Domain"
      security:
      - api_key_header_Authorization: []
      summary: CreateCustomDomain custom-domain-api
      tags:
      - custom-domain-api
  /2022-09-01-00/customdomain/{id}:
    delete:
      operationId: custom-domain-api#DeleteCustomDomain
      parameters:
      - description: custom domain ID to operate on
        example: cd-12345678
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: ID of an Custom Domain
          example: Debitis necessitatibus eos eos et corrupti.
          type: string
        style: simple
      responses:
        "202":
          description: Accepted response.
        "400":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "bad_request: Response used on a bad request"
        "404":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "not_found: Response used when the requested resource is not\
            \ found"
        "409":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "invalid_state: Response used when requested resource is in\
            \ an invalid state for this operation"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "failed_request: Response used on failure to delete an Custom\
            \ Domain"
      security:
      - api_key_header_Authorization: []
      summary: DeleteCustomDomain custom-domain-api
      tags:
      - custom-domain-api
    get:
      operationId: custom-domain-api#DescribeCustomDomain
      parameters:
      - description: custom domain ID to operate on
        example: cd-12345678
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: ID of an Custom Domain
          example: Nemo autem accusantium.
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                customDomain: mydomain.dev
                description: Description of the domain
                id: cd-12345678
                name: Dev domain
                route53Configuration:
                  awsAccountID: "123456789012"
                  awsCloudFormationTemplateURL: https://s3.amazonaws.com/my-bucket/my-template.json
                status: READY
                statusMessage: Account is ready
              schema:
                $ref: '#/components/schemas/DescribeCustomDomainResult'
          description: OK response.
        "400":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "bad_request: Response used on a bad request"
        "401":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "auth_failure: Response used on authentication failure"
        "403":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "forbidden: Response used on authorization failure"
        "404":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "not_found: Response used when the requested resource is not\
            \ found"
        "409":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "invalid_state: Response used when requested resource is in\
            \ an invalid state for this operation"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "failed_request: Response used on failure to describe an Custom\
            \ Domain"
      security:
      - api_key_header_Authorization: []
      summary: DescribeCustomDomain custom-domain-api
      tags:
      - custom-domain-api
  /2022-09-01-00/customdomain/identityid:
    get:
      description: Returns the identity id of the Custom Domain to be used in the
        trust policy of the account
      operationId: custom-domain-api#CustomDomainIdentityID
      responses:
        "200":
          content:
            application/json:
              example:
                id: org-12345678
              schema:
                $ref: '#/components/schemas/CustomDomainIdentityIDResult'
          description: OK response.
        "400":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "bad_request: Response used on a bad request"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "failed_request: Response used on failure to get an Custom\
            \ Domain identity id"
      security:
      - api_key_header_Authorization: []
      summary: CustomDomainIdentityID custom-domain-api
      tags:
      - custom-domain-api
  /2022-09-01-00/customdomain/verify/{id}:
    post:
      operationId: custom-domain-api#VerifyCustomDomain
      parameters:
      - description: custom domain ID to operate on
        example: cd-12345678
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: ID of an Custom Domain
          example: Ad eum odio.
          type: string
        style: simple
      responses:
        "202":
          description: Accepted response.
        "400":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "bad_request: Response used on a bad request"
        "401":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "auth_failure: Response used on authentication failure"
        "403":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "forbidden: Response used on authorization failure"
        "404":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "not_found: Response used when the requested resource is not\
            \ found"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "failed_request: Response used on failure to list Custom Domains"
      security:
      - api_key_header_Authorization: []
      summary: VerifyCustomDomain custom-domain-api
      tags:
      - custom-domain-api
  /2022-09-01-00/customer-delete-user:
    delete:
      operationId: users-api#CustomerDeleteUser
      responses:
        "200":
          description: OK response.
        "400":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "bad_request: Response used on a bad request"
        "401":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "auth_failure: Response used on authentication failure"
        "403":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "forbidden: Response used on authorization failure"
        "404":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "not_found: Response used when the requested resource is not\
            \ found"
        "409":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "invalid_state: Response used when requested resource is in\
            \ an invalid state for this operation"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "failed_request: Response used on failure to delete user"
      security:
      - api_key_header_Authorization: []
      summary: CustomerDeleteUser users-api
      tags:
      - users-api
  /2022-09-01-00/customer-invite-user:
    post:
      operationId: users-api#CustomerInviteUser
      requestBody:
        content:
          application/json:
            example:
              email: abc@example.com
            schema:
              $ref: '#/components/schemas/CustomerInviteUserRequest2'
        required: true
      responses:
        "200":
          description: OK response.
        "400":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "bad_request: Response used on a bad request"
        "401":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "auth_failure: Response used on authentication failure"
        "403":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "forbidden: Response used on authorization failure"
        "404":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "not_found: Response used when the requested resource is not\
            \ found"
        "409":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "invalid_state: Response used when requested resource is in\
            \ an invalid state for this operation"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "failed_request: Response used on failure to invite user"
      security:
      - api_key_header_Authorization: []
      summary: CustomerInviteUser users-api
      tags:
      - users-api
  /2022-09-01-00/customer-login-with-identity-provider:
    post:
      operationId: users-api#CustomerLoginWithIdentityProvider
      requestBody:
        content:
          application/json:
            example:
              authorizationCode: 4/P7q7W91a-oMsCeLvIaQm6bTrgtp7&
              companyDescription: We sell xyz database software
              companyUrl: https://www.mywebsite.com
              environmentType: DEV
              identityProviderName: Google
              invitedEmail: abc@gmail.com
              legalCompanyName: mywebsite
              redirectUri: https://www.example/redirect
            schema:
              $ref: '#/components/schemas/CustomerLoginWithIdentityProviderRequest2'
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                jwtToken: ""
              schema:
                $ref: '#/components/schemas/CustomerLoginWithIdentityProviderResult'
          description: OK response.
        "400":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "bad_request: Response used on a bad request"
        "401":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "auth_failure: Response used on authentication failure"
        "403":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "forbidden: Response used on authorization failure"
        "404":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "not_found: Response used when the requested resource is not\
            \ found"
        "409":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "invalid_state: Response used when requested resource is in\
            \ an invalid state for this operation"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "failed_request: Response used on failure to signin"
      security:
      - api_key_header_Authorization: []
      summary: CustomerLoginWithIdentityProvider users-api
      tags:
      - users-api
  /2022-09-01-00/customer-reset-password:
    post:
      operationId: users-api#CustomerResetPassword
      requestBody:
        content:
          application/json:
            example:
              email: abc@example.com
            schema:
              $ref: '#/components/schemas/CustomerResetPasswordRequest2'
        required: true
      responses:
        "200":
          description: OK response.
        "400":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "bad_request: Response used on a bad request"
        "401":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "auth_failure: Response used on authentication failure"
        "403":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "forbidden: Response used on authorization failure"
        "404":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "not_found: Response used when the requested resource is not\
            \ found"
        "409":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "invalid_state: Response used when requested resource is in\
            \ an invalid state for this operation"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "failed_request: Response used on failure to signin"
      security:
      - api_key_header_Authorization: []
      summary: CustomerResetPassword users-api
      tags:
      - users-api
  /2022-09-01-00/customer-user-signin:
    post:
      operationId: users-api#CustomerSignin
      requestBody:
        content:
          application/json:
            example:
              email: abc@gmail.com
              environmentType: DEV
              hashedPassword: deprecated
              password: password
            schema:
              $ref: '#/components/schemas/CustomerSigninRequest2'
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                jwtToken: ""
              schema:
                $ref: '#/components/schemas/CustomerSigninResult'
          description: OK response.
        "400":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "bad_request: Response used on a bad request"
        "401":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "auth_failure: Response used on authentication failure"
        "403":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "forbidden: Response used on authorization failure"
        "404":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "not_found: Response used when the requested resource is not\
            \ found"
        "409":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "invalid_state: Response used when requested resource is in\
            \ an invalid state for this operation"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "failed_request: Response used on failure to signin"
      security:
      - api_key_header_Authorization: []
      summary: CustomerSignin users-api
      tags:
      - users-api
  /2022-09-01-00/customer-user-signup:
    post:
      operationId: users-api#CustomerSignup
      requestBody:
        content:
          application/json:
            example:
              companyDescription: We sell xyz database software
              companyUrl: https://www.mywebsite.com
              email: abc@gmail.com
              legalCompanyName: mywebsite
              name: John Doe
              password: password
            schema:
              $ref: '#/components/schemas/CustomerSignupRequest2'
        required: true
      responses:
        "200":
          description: OK response.
        "400":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "bad_request: Response used on a bad request"
        "401":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "auth_failure: Response used on authentication failure"
        "403":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "forbidden: Response used on authorization failure"
        "404":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "not_found: Response used when the requested resource is not\
            \ found"
        "409":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "invalid_state: Response used when requested resource is in\
            \ an invalid state for this operation"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "failed_request: Response used on failure to delete user"
      security:
      - api_key_header_Authorization: []
      summary: CustomerSignup users-api
      tags:
      - users-api
  /2022-09-01-00/demo:
    post:
      operationId: demo-api#Demo
      requestBody:
        content:
          application/json:
            example:
              company: ABC
              email: abc@gmail.com
              name: John Doe
              phone: +1-234567890
            schema:
              $ref: '#/components/schemas/DemoRequest'
        required: true
      responses:
        "200":
          description: OK response.
        "400":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "bad_request: Response used on a bad request"
        "401":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "auth_failure: Response used on authentication failure"
        "403":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "forbidden: Response used on authorization failure"
        "404":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "not_found: Response used when the requested resource is not\
            \ found"
        "409":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "invalid_state: Response used when requested resource is in\
            \ an invalid state for this operation"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "failed_request: Response used on failure to demo"
      summary: Demo demo-api
      tags:
      - demo-api
  /2022-09-01-00/deployment-config:
    get:
      operationId: deployment-config-api#ListDeploymentConfigs
      responses:
        "200":
          content:
            application/json:
              example:
                ids:
                - dc-12345678
                nextPageToken: next-token
              schema:
                $ref: '#/components/schemas/ListDeploymentConfigsResult'
          description: OK response.
        "400":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "bad_request: Response used on a bad request"
        "401":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "auth_failure: Response used on authentication failure"
        "403":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "forbidden: Response used on authorization failure"
        "404":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "not_found: Response used when the requested resource is not\
            \ found"
        "409":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "invalid_state: Response used when requested resource is in\
            \ an invalid state for this operation"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "failed_request: Response used on failure to list deployment\
            \ configs"
      security:
      - api_key_header_Authorization: []
      summary: ListDeploymentConfigs deployment-config-api
      tags:
      - deployment-config-api
    post:
      operationId: deployment-config-api#CreateDeploymentConfig
      requestBody:
        content:
          application/json:
            example:
              description: A production deployment config
              infraRollConfiguration:
                infraRolloutStrategy: NEW_DEPLOYMENT_ONLY
                maximumNumberOfResourceInstancesPerBatch: 1
                maximumUnavailableReplicas: 1
              name: Production
              rolloutPriorityList:
              - region-12345678
              - region-abcd1234
              - region-3c3c3c3c
            schema:
              $ref: '#/components/schemas/CreateDeploymentConfigRequest2'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                default:
                  summary: default
                  value: dc-12345678
              schema:
                description: Deployment Config ID created
                example: dc-12345678
                type: string
          description: OK response.
        "400":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "bad_request: Response used on a bad request"
        "401":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "auth_failure: Response used on authentication failure"
        "403":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "forbidden: Response used on authorization failure"
        "404":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "not_found: Response used when the requested resource is not\
            \ found"
        "409":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "invalid_state: Response used when requested resource is in\
            \ an invalid state for this operation"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "failed_request: Response used on failure to create the deployment\
            \ config"
      security:
      - api_key_header_Authorization: []
      summary: CreateDeploymentConfig deployment-config-api
      tags:
      - deployment-config-api
  /2022-09-01-00/deployment-config/{id}:
    delete:
      operationId: deployment-config-api#DeleteDeploymentConfig
      parameters:
      - description: The deployment configuration ID
        example: dc-12345678
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: ID of a Deployment Config
          example: Quam asperiores quae.
          type: string
        style: simple
      responses:
        "200":
          description: OK response.
        "400":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "bad_request: Response used on a bad request"
        "401":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "auth_failure: Response used on authentication failure"
        "403":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "forbidden: Response used on authorization failure"
        "404":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "not_found: Response used when the requested resource is not\
            \ found"
        "409":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "invalid_state: Response used when requested resource is in\
            \ an invalid state for this operation"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "failed_request: Response used on failure to delete the deployment\
            \ config"
      security:
      - api_key_header_Authorization: []
      summary: DeleteDeploymentConfig deployment-config-api
      tags:
      - deployment-config-api
    get:
      operationId: deployment-config-api#DescribeDeploymentConfig
      parameters:
      - description: The deployment configuration ID
        examples:
          default:
            summary: default
            value: default
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: The deployment configuration ID
          example: default
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                description: A production deployment config
                id: dc-12345678
                infraRollConfiguration:
                  infraRolloutStrategy: NEW_DEPLOYMENT_ONLY
                  maximumNumberOfResourceInstancesPerBatch: 1
                  maximumUnavailableReplicas: 1
                name: Production
                rolloutPriorityList:
                - region-12345678
                - region-abcd1234
                - region-3c3c3c3c
              schema:
                $ref: '#/components/schemas/DescribeDeploymentConfigResult'
          description: OK response.
        "400":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "bad_request: Response used on a bad request"
        "401":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "auth_failure: Response used on authentication failure"
        "403":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "forbidden: Response used on authorization failure"
        "404":
          content:
            application/vnd.goa.error:
[...]
