openapi: 3.0.3
info:
  description: REST API for Omnistrate Service Registration
  title: Omnistrate Registration API
  version: 2022-09-01-00
servers:
- url: https://api.omnistrate.cloud
tags:
- description: Common API for all Omnistrate API endpoints
  name: global-api
- name: service-api
- name: service-environment-api
- name: service-model-api
- name: product-tier-api
- name: service-api-api
- name: service-plan-api
- name: resource-api
- name: custom-workflow-api
- name: tier-version-set-api
- name: input-parameter-api
- name: output-parameter-api
- description: The external facing VUnit API
  name: vunit-api
- description: The infra config API manages the infra for Omnistrate resources
  name: infra-config-api
- description: The image config API manages the image config for Omnistrate entities
  name: image-config-api
- description: The deployment artifact API manages the deployment artifacts for Omnistrate
    entities
  name: deployment-artifact-api
- description: The deployment config API manages the deployment config for Omnistrate
    entities
  name: deployment-config-api
- description: The compute config API manages the compute config for Omnistrate entities
  name: compute-config-api
- description: The storage config API manages the storage config for Omnistrate entities
  name: storage-config-api
- description: The storage volume config API manages the storage volume config for
    Omnistrate entities
  name: storage-volume-config-api
- description: The network config API manages the network config for Omnistrate entities
  name: network-config-api
- description: The Availability Zone API provides read-only access to availability
    zones
  name: availability-zone-api
- description: The Region API provides read-only access to regions
  name: region-api
- description: The Cloud Provider API provides read-only access to cloud provider
    metadata
  name: cloud-provider-api
- description: The Demo API provides a demo of the system
  name: demo-api
- description: The Contactus API for customers to reach out to us
  name: contactus-api
- description: The signin API for customers to authenticate with us
  name: signin-api
- description: The Organization API for managing service provider organizations
  name: sp-organization-api
- description: The Signup API for customers to signup with us
  name: signup-api
- description: The Plan API is for payment info.  It's explicitly empty for free plans.
  name: plan-api
- description: The Usage API is for getting the last calendar month usage.
  name: usage-api
- description: The Invoices API gets the list of invoices for the organization
  name: invoice-api
- description: The user management API to manage user metadata
  name: users-api
- description: The Consumption Signin API signs the user into the consumption service
  name: consumption-user-api
- description: The Services Orchestration API manages the orchestration of services
  name: services-orchestration-api
- description: The Resource Instance API manages the instances of a resource
  name: resource-instance-api
- description: The Instance Snapshot API manages the snapshots of resource instances
  name: instance-snapshot-api
- description: The Consumption Usage API retrieves the usage data for consumption
    users
  name: consumption-usage-api
- description: The Consumption Invoice API retrieves the invoice data for consumption
    users
  name: consumption-invoice-api
- description: The Consumption Invoice API retrieves the billing information for consumption
    users
  name: consumption-billing-api
- description: The Account Config API manages the access information for a Service
    Provider account
  name: account-config-api
- description: The Custom Domain API manages the delegated domain names for the Service
    Provider
  name: custom-domain-api
- description: The limit API manages the limit for Omnistrate entities
  name: limit-api
- description: The image registry API manages the image registry for Omnistrate resources
  name: image-registry-api
- description: The service offering API provides a public API to list all public services
  name: service-offering-api
- description: The set of APIs for auditing instance events for consumption side users.
  name: audit-events-api
- description: The subscription management API to manage subscription metadata
  name: subscription-api
- description: The subscription request API for end customers to issue subscription
    requests
  name: subscription-request-api
- name: identity-provider-api
- name: saas-portal-api
- name: helm-package-api
- name: compose-gen-api
- name: custom-network-api
- description: The API to manage stripe connected accounts
  name: stripe-connect-api
- description: The API to manage tenant billing
  name: tenant-billing-api
- description: The set of APIs to manage secrets for service providers.
  name: secrets-api
- description: The API to evaluate expressions.
  name: expression-evaluator-api
- description: The API to get the latest JSON schema for various extensions and spec
    types.
  name: schema-api
- description: The set of APIs to manage org-bounded long-lived API keys.
  name: api-key-api
- description: Payment method management for end customers (SP-tier billing via Stripe
    Connect)
  name: consumption-payment-method-api
- description: Internal API for publishing complete managed artifact release revisions.
  name: managed-release-api
paths:
  /2022-09-01-00/accountconfig:
    post:
      operationId: account-config-api#CreateAccountConfig
      requestBody:
        content:
          application/json:
            example:
              awsAccessKey: Pariatur distinctio quo earum et qui.
              awsAccountID: "123456789012"
              awsBootstrapRoleARN: arn:aws:iam::<ACCOUNT_ID>:role/<ROLE_NAME>
              awsSecretKey: Impedit nihil cum quaerat voluptatem.
              azureSubscriptionID: 12345678-1234-1234-1234-123456789012
              azureTenantID: 12345678-1234-1234-1234-123456789012
              byoaInstanceID: instance-12345678
              cloudProviderId: Est dolorum.
              customTags:
              - key: customKey
                value: customValue
              - key: customKey
                value: customValue
              - key: customKey
                value: customValue
              - key: customKey
                value: customValue
              description: An AWS account hosting multiple dev environments
              gcpProjectID: my-project
              gcpProjectNumber: "123456789012"
              gcpServiceAccountEmail: bootstrap@my-project.iam.gserviceaccount.com
              gcpServiceAccountKey: Adipisci natus dolores sint cumque at.
              name: Dev AWS account
              nebiusBindings:
              - ownsArtifactBucket: true
                privateKeyPEM: Corrupti sequi rerum non.
                projectID: project-e00b497fpr00n5hg8wbh2d
                publicKeyID: publickey-e00ngem85mc6pr5v63
                serviceAccountID: serviceaccount-e00vqdp9fskhmmaan8
              - ownsArtifactBucket: true
                privateKeyPEM: Corrupti sequi rerum non.
                projectID: project-e00b497fpr00n5hg8wbh2d
                publicKeyID: publickey-e00ngem85mc6pr5v63
                serviceAccountID: serviceaccount-e00vqdp9fskhmmaan8
              - ownsArtifactBucket: true
                privateKeyPEM: Corrupti sequi rerum non.
                projectID: project-e00b497fpr00n5hg8wbh2d
                publicKeyID: publickey-e00ngem85mc6pr5v63
                serviceAccountID: serviceaccount-e00vqdp9fskhmmaan8
              nebiusTenantID: tenant-id
              ociDomainID: ocid1.domain.oc1..aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
              ociTenancyID: ocid1.tenancy.oc1..aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
            schema:
              $ref: "#/components/schemas/CreateAccountConfigRequest2"
        required: true
      responses:
        "202":
          content:
            application/json:
              example: Commodi cum cupiditate excepturi dignissimos.
              schema:
                description: The ID of the registered account config
                example: Occaecati omnis.
                type: string
          description: Accepted response.
        "400":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "bad_request: Response used on a bad request"
        "401":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "auth_failure: Response used on authentication failure"
        "404":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "not_found: Response used when the requested resource is not\
            \ found"
        "409":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "invalid_state: Response used when requested resource is in\
            \ an invalid state for this operation"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "failed_request: Response used on failure to create an account\
            \ config"
      security:
      - api_key_header_Authorization: []
      summary: CreateAccountConfig account-config-api
      tags:
      - account-config-api
  /2022-09-01-00/accountconfig/{id}:
    delete:
      operationId: account-config-api#DeleteAccountConfig
      parameters:
      - description: Account Config ID to operate on
        example: ac-12345678
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: ID of an Account Config
          example: Id adipisci occaecati laudantium fugit.
          type: string
        style: simple
      responses:
        "202":
          description: Accepted response.
        "400":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "bad_request: Response used on a bad request"
        "401":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "auth_failure: Response used on authentication failure"
        "404":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "not_found: Response used when the requested resource is not\
            \ found"
        "409":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "invalid_state: Response used when requested resource is in\
            \ an invalid state for this operation"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "failed_request: Response used on failure to delete an account\
            \ config"
      security:
      - api_key_header_Authorization: []
      summary: DeleteAccountConfig account-config-api
      tags:
      - account-config-api
    get:
      operationId: account-config-api#DescribeAccountConfig
      parameters:
      - description: Account Config ID to operate on
        example: ac-12345678
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: ID of an Account Config
          example: Quo voluptatem.
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                awsAccountID: "123456789012"
                awsBootstrapRoleARN: arn:aws:iam::<ACCOUNT_ID>:role/<ROLE_NAME>
                awsCloudFormationNoLBTemplateURL: https://s3.amazonaws.com/omnistrate-cloudformation/org-EUVvex3bVm/account-config-setup-template-no-lb-policy.yaml
                awsCloudFormationTemplateURL: https://s3.amazonaws.com/omnistrate-cloudformation/org-EUVvex3bVm/account-config-setup-template.yaml
                azureBootstrapShellCommand: bash -c "$(curl -fsSL https://omnistrate.com/account-setup/azure-bootstrap.sh?account_config_id=ac-MOju2uwKM0)"
                azureDisconnectShellCommand: bash -c "$(curl -fsSL https://omnistrate.com/account-setup/azure-disconnect.sh?account_config_id=ac-MOju2uwKM0)"
                azureOffboardShellCommand: bash -c "$(curl -fsSL https://omnistrate.com/account-setup/azure-offboard.sh?account_config_id=ac-MOju2uwKM0)"
                azureSubscriptionID: 12345678-1234-1234-1234-123456789012
                azureTenantID: 12345678-1234-1234-1234-123456789012
                byoaInstanceIDs:
                - instance-12345678
                - instance-abcdefgh
                cloudProviderId: Quia maiores qui rem rerum quidem.
                customTags:
                - key: customKey
                  value: customValue
                - key: customKey
                  value: customValue
                description: An AWS account hosting multiple dev environments
                gcpBootstrapShellCommand: bash -c "$(curl -fsSL https://omnistrate.com/account-setup/gcp-bootstrap.sh?account_config_id=ac-MOju2uwKM0)"
                gcpDisconnectShellCommand: bash -c "$(curl -fsSL https://omnistrate.com/account-setup/gcp-disconnect.sh?account_config_id=ac-MOju2uwKM0)"
                gcpOffboardShellCommand: bash -c "$(curl -fsSL https://omnistrate.com/account-setup/gcp-offboard.sh?account_config_id=ac-MOju2uwKM0)"
                gcpProjectID: my-project
                gcpProjectNumber: "123456789012"
                gcpServiceAccountEmail: bootstrap@my-project.iam.gserviceaccount.com
                id: Minus illo est est est tenetur quos.
                name: Dev AWS account
                nebiusBindings:
                - derivedPublicKeyFingerprint: SHA256:derived-public-key-fingerprint
                  keyExpiresAt: 2026-04-15T12:00:00Z
                  keyFingerprint: SHA256:live-nebius-auth-public-key-fingerprint
                  keyState: ACTIVE
                  ownsArtifactBucket: true
                  projectID: project-e00b497fpr00n5hg8wbh2d
                  publicKeyID: publickey-e00ngem85mc6pr5v63
                  publicKeyIDMatches: true
                  region: eu-north1
                  serviceAccountID: serviceaccount-e00vqdp9fskhmmaan8
                  serviceAccountKeyValidated: true
                  status: PENDING|VERIFYING|READY|FAILED|DELETING|READY_TO_OFFBOARD
                  statusMessage: Binding is ready
                - derivedPublicKeyFingerprint: SHA256:derived-public-key-fingerprint
                  keyExpiresAt: 2026-04-15T12:00:00Z
                  keyFingerprint: SHA256:live-nebius-auth-public-key-fingerprint
                  keyState: ACTIVE
                  ownsArtifactBucket: true
                  projectID: project-e00b497fpr00n5hg8wbh2d
                  publicKeyID: publickey-e00ngem85mc6pr5v63
                  publicKeyIDMatches: true
                  region: eu-north1
                  serviceAccountID: serviceaccount-e00vqdp9fskhmmaan8
                  serviceAccountKeyValidated: true
                  status: PENDING|VERIFYING|READY|FAILED|DELETING|READY_TO_OFFBOARD
                  statusMessage: Binding is ready
                - derivedPublicKeyFingerprint: SHA256:derived-public-key-fingerprint
                  keyExpiresAt: 2026-04-15T12:00:00Z
                  keyFingerprint: SHA256:live-nebius-auth-public-key-fingerprint
                  keyState: ACTIVE
                  ownsArtifactBucket: true
                  projectID: project-e00b497fpr00n5hg8wbh2d
                  publicKeyID: publickey-e00ngem85mc6pr5v63
                  publicKeyIDMatches: true
                  region: eu-north1
                  serviceAccountID: serviceaccount-e00vqdp9fskhmmaan8
                  serviceAccountKeyValidated: true
                  status: PENDING|VERIFYING|READY|FAILED|DELETING|READY_TO_OFFBOARD
                  statusMessage: Binding is ready
                - derivedPublicKeyFingerprint: SHA256:derived-public-key-fingerprint
                  keyExpiresAt: 2026-04-15T12:00:00Z
                  keyFingerprint: SHA256:live-nebius-auth-public-key-fingerprint
                  keyState: ACTIVE
                  ownsArtifactBucket: true
                  projectID: project-e00b497fpr00n5hg8wbh2d
                  publicKeyID: publickey-e00ngem85mc6pr5v63
                  publicKeyIDMatches: true
                  region: eu-north1
                  serviceAccountID: serviceaccount-e00vqdp9fskhmmaan8
                  serviceAccountKeyValidated: true
                  status: PENDING|VERIFYING|READY|FAILED|DELETING|READY_TO_OFFBOARD
                  statusMessage: Binding is ready
                nebiusTenantID: tenant-e00abc123
                ociBootstrapShellCommand: bash -c "$(curl -fsSL https://omnistrate.com/account-setup/oci-bootstrap.sh?account_config_id=ac-MOju2uwKM0)"
                ociDisconnectShellCommand: bash -c "$(curl -fsSL https://omnistrate.com/account-setup/oci-disconnect.sh?account_config_id=ac-MOju2uwKM0)"
                ociDomainID: ocid1.domain.oc1..aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                ociOffboardShellCommand: bash -c "$(curl -fsSL https://omnistrate.com/account-setup/oci-offboard.sh?account_config_id=ac-MOju2uwKM0)"
                ociTenancyID: ocid1.tenancy.oc1..aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                status: PENDING|VERIFYING|READY|FAILED|DELETING|READY_TO_OFFBOARD
                statusMessage: Account is ready
              schema:
                $ref: "#/components/schemas/DescribeAccountConfigResult"
          description: OK response.
        "400":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "bad_request: Response used on a bad request"
        "401":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "auth_failure: Response used on authentication failure"
        "403":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "forbidden: Response used on authorization failure"
        "404":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "not_found: Response used when the requested resource is not\
            \ found"
        "409":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "invalid_state: Response used when requested resource is in\
            \ an invalid state for this operation"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "failed_request: Response used on failure to describe an account\
            \ config"
      security:
      - api_key_header_Authorization: []
      summary: DescribeAccountConfig account-config-api
      tags:
      - account-config-api
    put:
      operationId: account-config-api#UpdateAccountConfig
      parameters:
      - description: Account Config ID to operate on
        example: ac-12345678
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: ID of an Account Config
          example: Impedit sunt.
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              customTags:
              - key: customKey
                value: customValue
              - key: customKey
                value: customValue
              description: Nebius account for eu-north1 and eu-west1 projects
              name: Updated Nebius account
              nebiusBindings:
              - ownsArtifactBucket: true
                privateKeyPEM: Corrupti sequi rerum non.
                projectID: project-e00b497fpr00n5hg8wbh2d
                publicKeyID: publickey-e00ngem85mc6pr5v63
                serviceAccountID: serviceaccount-e00vqdp9fskhmmaan8
              - ownsArtifactBucket: true
                privateKeyPEM: Corrupti sequi rerum non.
                projectID: project-e00b497fpr00n5hg8wbh2d
                publicKeyID: publickey-e00ngem85mc6pr5v63
                serviceAccountID: serviceaccount-e00vqdp9fskhmmaan8
            schema:
              $ref: "#/components/schemas/UpdateAccountConfigRequest2"
        required: true
      responses:
        "202":
          content:
            application/json:
              example: Mollitia autem accusantium molestiae ab dolores.
              schema:
                description: The ID of the updated account config
                example: Fuga deserunt quo dolor explicabo nulla.
                type: string
          description: Accepted response.
        "400":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "bad_request: Response used on a bad request"
        "401":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "auth_failure: Response used on authentication failure"
        "403":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "forbidden: Response used on authorization failure"
        "404":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "not_found: Response used when the requested resource is not\
            \ found"
        "409":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "invalid_state: Response used when requested resource is in\
            \ an invalid state for this operation"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "failed_request: Response used on failure to update an account\
            \ config"
      security:
      - api_key_header_Authorization: []
      summary: UpdateAccountConfig account-config-api
      tags:
      - account-config-api
  /2022-09-01-00/accountconfig/{id}/cloud-native-networks:
    get:
      description: List all registered CloudNativeNetworks for an account configuration
      operationId: account-config-api#ListAccountConfigCloudNativeNetworks
      parameters:
      - description: Account Config ID to operate on
        example: ac-12345678
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: ID of an Account Config
          example: Eius occaecati facilis.
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                cloudNativeNetworks:
                - accountConfigId: Molestiae veritatis ea perferendis quam.
                  cidr: 10.0.0.0/16
                  cloudNativeNetworkId: /subscriptions/12345678-1234-1234-1234-123456789abc/resourceGroups/customer-rg/providers/Microsoft.Network/virtualNetworks/customer-vnet
                  createdAt: 2026-04-14T10:00:00Z
                  hostClusters:
                  - eligibleToImport: true
                    ineligibilityReason: Host cluster is already imported
                    name: existing-eks-cluster
                  - eligibleToImport: true
                    ineligibilityReason: Host cluster is already imported
                    name: existing-eks-cluster
                  - eligibleToImport: true
                    ineligibilityReason: Host cluster is already imported
                    name: existing-eks-cluster
                  id: acvpc-12345678
                  imported: true
                  inUse: false
                  name: production-vpc
                  privateSubnets:
                  - az: us-east-1a
                    cidr: 10.0.1.0/24
                    id: subnet-0abc123def456
                    isPublic: false
                    isTagged: true
                  - az: us-east-1a
                    cidr: 10.0.1.0/24
                    id: subnet-0abc123def456
                    isPublic: false
                    isTagged: true
                  publicSubnets:
                  - az: us-east-1a
                    cidr: 10.0.1.0/24
                    id: subnet-0abc123def456
                    isPublic: false
                    isTagged: true
                  - az: us-east-1a
                    cidr: 10.0.1.0/24
                    id: subnet-0abc123def456
                    isPublic: false
                    isTagged: true
                  - az: us-east-1a
                    cidr: 10.0.1.0/24
                    id: subnet-0abc123def456
                    isPublic: false
                    isTagged: true
                  region: us-east-1
                  status: PENDING|VERIFYING|READY|FAILED
                  statusMessage: Cloud native network validated successfully
                  supportsPrivateDeployment: true
                  supportsPublicDeployment: true
                  updatedAt: 2026-04-14T10:05:00Z
                - accountConfigId: Molestiae veritatis ea perferendis quam.
                  cidr: 10.0.0.0/16
                  cloudNativeNetworkId: /subscriptions/12345678-1234-1234-1234-123456789abc/resourceGroups/customer-rg/providers/Microsoft.Network/virtualNetworks/customer-vnet
                  createdAt: 2026-04-14T10:00:00Z
                  hostClusters:
                  - eligibleToImport: true
                    ineligibilityReason: Host cluster is already imported
                    name: existing-eks-cluster
                  - eligibleToImport: true
                    ineligibilityReason: Host cluster is already imported
                    name: existing-eks-cluster
                  - eligibleToImport: true
                    ineligibilityReason: Host cluster is already imported
                    name: existing-eks-cluster
                  id: acvpc-12345678
                  imported: true
                  inUse: false
                  name: production-vpc
                  privateSubnets:
                  - az: us-east-1a
                    cidr: 10.0.1.0/24
                    id: subnet-0abc123def456
                    isPublic: false
                    isTagged: true
                  - az: us-east-1a
                    cidr: 10.0.1.0/24
                    id: subnet-0abc123def456
                    isPublic: false
                    isTagged: true
                  publicSubnets:
                  - az: us-east-1a
                    cidr: 10.0.1.0/24
                    id: subnet-0abc123def456
                    isPublic: false
                    isTagged: true
                  - az: us-east-1a
                    cidr: 10.0.1.0/24
                    id: subnet-0abc123def456
                    isPublic: false
                    isTagged: true
                  - az: us-east-1a
                    cidr: 10.0.1.0/24
                    id: subnet-0abc123def456
                    isPublic: false
                    isTagged: true
                  region: us-east-1
                  status: PENDING|VERIFYING|READY|FAILED
                  statusMessage: Cloud native network validated successfully
                  supportsPrivateDeployment: true
                  supportsPublicDeployment: true
                  updatedAt: 2026-04-14T10:05:00Z
              schema:
                $ref: "#/components/schemas/ListAccountConfigCloudNativeNetworksResult"
          description: OK response.
        "401":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "auth_failure: Response used on authentication failure"
        "403":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "forbidden: Response used on authorization failure"
        "404":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "not_found: Response used when the requested resource is not\
            \ found"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "failed_request: Response used on failure to list cloud native\
            \ networks"
      security:
      - api_key_header_Authorization: []
      summary: ListAccountConfigCloudNativeNetworks account-config-api
      tags:
      - account-config-api
  /2022-09-01-00/accountconfig/{id}/cloud-native-networks/{region}/{cloudNativeNetworkId}/host-clusters/{hostClusterName}/import:
    post:
      description: Import a discovered host cluster from an imported cloud native
        network
      operationId: account-config-api#ImportAccountConfigCloudNativeNetworkHostCluster
      parameters:
      - description: Account Config ID to operate on
        example: ac-12345678
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: ID of an Account Config
          example: Voluptas dolorem qui et.
          type: string
        style: simple
      - description: The deployment region where the host cluster resides
        example: us-east-1
        explode: false
        in: path
        name: region
        required: true
        schema:
          description: The deployment region where the host cluster resides
          example: us-east-1
          type: string
        style: simple
      - description: The cloud provider network ID (e.g. AWS VPC ID) that contains
          the host cluster to import
        example: vpc-0abc123def456
        explode: false
        in: path
        name: cloudNativeNetworkId
        required: true
        schema:
          description: The cloud provider network ID (e.g. AWS VPC ID) that contains
            the host cluster to import
          example: vpc-0abc123def456
          type: string
        style: simple
      - description: The cloud provider host cluster name to import from this cloud
          native network
        example: existing-eks-cluster
        explode: false
        in: path
        name: hostClusterName
        required: true
        schema:
          description: The cloud provider host cluster name to import from this cloud
            native network
          example: existing-eks-cluster
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                created: true
                hostClusterId: Animi veniam voluptatem ab libero.
              schema:
                $ref: "#/components/schemas/ImportAccountConfigCloudNativeNetworkHostClusterResult"
          description: OK response.
        "400":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "bad_request: Response used on a bad request"
        "401":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "auth_failure: Response used on authentication failure"
        "403":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "forbidden: Response used on authorization failure"
        "404":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "not_found: Response used when the requested resource is not\
            \ found"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "failed_request: Response used on failure to import cloud native\
            \ network host cluster"
      security:
      - api_key_header_Authorization: []
      summary: ImportAccountConfigCloudNativeNetworkHostCluster account-config-api
      tags:
      - account-config-api
  /2022-09-01-00/accountconfig/{id}/cloud-native-networks/{region}/{cloudNativeNetworkId}/import:
    post:
      description: Import an available cloud native network for deployments (sets
        status to READY)
      operationId: account-config-api#ImportAccountConfigCloudNativeNetwork
      parameters:
      - description: Account Config ID to operate on
        example: ac-12345678
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: ID of an Account Config
          example: Illo itaque dolores.
          type: string
        style: simple
      - description: The deployment region whose validated subnetworks should be imported
        example: us-east-1
        explode: false
        in: path
        name: region
        required: true
        schema:
          description: The deployment region whose validated subnetworks should be
            imported
          example: us-east-1
          type: string
        style: simple
      - description: "The provider-native network ID (for example, AWS VPC ID, GCP\
          \ VPC name, or Azure VNet resource ID) to import for deployments"
        example: /subscriptions/12345678-1234-1234-1234-123456789abc/resourceGroups/customer-rg/providers/Microsoft.Network/virtualNetworks/customer-vnet
        explode: false
        in: path
        name: cloudNativeNetworkId
        required: true
        schema:
          description: "The provider-native network ID (for example, AWS VPC ID, GCP\
            \ VPC name, or Azure VNet resource ID) to import for deployments"
          example: /subscriptions/12345678-1234-1234-1234-123456789abc/resourceGroups/customer-rg/providers/Microsoft.Network/virtualNetworks/customer-vnet
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                cloudNativeNetworks:
                - accountConfigId: Molestiae veritatis ea perferendis quam.
                  cidr: 10.0.0.0/16
                  cloudNativeNetworkId: /subscriptions/12345678-1234-1234-1234-123456789abc/resourceGroups/customer-rg/providers/Microsoft.Network/virtualNetworks/customer-vnet
                  createdAt: 2026-04-14T10:00:00Z
                  hostClusters:
                  - eligibleToImport: true
                    ineligibilityReason: Host cluster is already imported
                    name: existing-eks-cluster
                  - eligibleToImport: true
                    ineligibilityReason: Host cluster is already imported
                    name: existing-eks-cluster
                  - eligibleToImport: true
                    ineligibilityReason: Host cluster is already imported
                    name: existing-eks-cluster
                  id: acvpc-12345678
                  imported: true
                  inUse: false
                  name: production-vpc
                  privateSubnets:
                  - az: us-east-1a
                    cidr: 10.0.1.0/24
                    id: subnet-0abc123def456
                    isPublic: false
                    isTagged: true
                  - az: us-east-1a
                    cidr: 10.0.1.0/24
                    id: subnet-0abc123def456
                    isPublic: false
                    isTagged: true
                  publicSubnets:
                  - az: us-east-1a
                    cidr: 10.0.1.0/24
                    id: subnet-0abc123def456
                    isPublic: false
                    isTagged: true
                  - az: us-east-1a
                    cidr: 10.0.1.0/24
                    id: subnet-0abc123def456
                    isPublic: false
                    isTagged: true
                  - az: us-east-1a
                    cidr: 10.0.1.0/24
                    id: subnet-0abc123def456
                    isPublic: false
                    isTagged: true
                  region: us-east-1
                  status: PENDING|VERIFYING|READY|FAILED
                  statusMessage: Cloud native network validated successfully
                  supportsPrivateDeployment: true
                  supportsPublicDeployment: true
                  updatedAt: 2026-04-14T10:05:00Z
                - accountConfigId: Molestiae veritatis ea perferendis quam.
                  cidr: 10.0.0.0/16
                  cloudNativeNetworkId: /subscriptions/12345678-1234-1234-1234-123456789abc/resourceGroups/customer-rg/providers/Microsoft.Network/virtualNetworks/customer-vnet
                  createdAt: 2026-04-14T10:00:00Z
                  hostClusters:
                  - eligibleToImport: true
                    ineligibilityReason: Host cluster is already imported
                    name: existing-eks-cluster
                  - eligibleToImport: true
                    ineligibilityReason: Host cluster is already imported
                    name: existing-eks-cluster
                  - eligibleToImport: true
                    ineligibilityReason: Host cluster is already imported
                    name: existing-eks-cluster
                  id: acvpc-12345678
                  imported: true
                  inUse: false
                  name: production-vpc
                  privateSubnets:
                  - az: us-east-1a
                    cidr: 10.0.1.0/24
                    id: subnet-0abc123def456
                    isPublic: false
                    isTagged: true
                  - az: us-east-1a
                    cidr: 10.0.1.0/24
                    id: subnet-0abc123def456
                    isPublic: false
                    isTagged: true
                  publicSubnets:
                  - az: us-east-1a
                    cidr: 10.0.1.0/24
                    id: subnet-0abc123def456
                    isPublic: false
                    isTagged: true
                  - az: us-east-1a
                    cidr: 10.0.1.0/24
                    id: subnet-0abc123def456
                    isPublic: false
                    isTagged: true
                  - az: us-east-1a
                    cidr: 10.0.1.0/24
                    id: subnet-0abc123def456
                    isPublic: false
                    isTagged: true
                  region: us-east-1
                  status: PENDING|VERIFYING|READY|FAILED
                  statusMessage: Cloud native network validated successfully
                  supportsPrivateDeployment: true
                  supportsPublicDeployment: true
                  updatedAt: 2026-04-14T10:05:00Z
              schema:
                $ref: "#/components/schemas/ListAccountConfigCloudNativeNetworksResult"
          description: OK response.
        "400":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "bad_request: Response used on a bad request"
        "401":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "auth_failure: Response used on authentication failure"
        "403":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "forbidden: Response used on authorization failure"
        "404":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "not_found: Response used when the requested resource is not\
            \ found"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "failed_request: Response used on failure to import cloud native\
            \ network"
      security:
      - api_key_header_Authorization: []
      summary: ImportAccountConfigCloudNativeNetwork account-config-api
      tags:
      - account-config-api
  /2022-09-01-00/accountconfig/{id}/cloud-native-networks/{region}/{cloudNativeNetworkId}/unimport:
    post:
      description: "Unimport a cloud native network, reverting it from READY to AVAILABLE"
      operationId: account-config-api#UnimportAccountConfigCloudNativeNetwork
      parameters:
      - description: Account Config ID to operate on
        example: ac-12345678
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: ID of an Account Config
          example: Soluta nulla voluptatem.
          type: string
        style: simple
      - description: The deployment region whose cloud native network row should be
          unimported
        example: us-east-1
        explode: false
        in: path
        name: region
        required: true
        schema:
          description: The deployment region whose cloud native network row should
            be unimported
          example: us-east-1
          type: string
        style: simple
      - description: "The provider-native network ID (for example, AWS VPC ID, GCP\
          \ VPC name, or Azure VNet resource ID) to unimport. Rejected with HTTP 400\
          \ if the network is currently in use by a host cluster."
        example: /subscriptions/12345678-1234-1234-1234-123456789abc/resourceGroups/customer-rg/providers/Microsoft.Network/virtualNetworks/customer-vnet
        explode: false
        in: path
        name: cloudNativeNetworkId
        required: true
        schema:
          description: "The provider-native network ID (for example, AWS VPC ID, GCP\
            \ VPC name, or Azure VNet resource ID) to unimport. Rejected with HTTP\
            \ 400 if the network is currently in use by a host cluster."
          example: /subscriptions/12345678-1234-1234-1234-123456789abc/resourceGroups/customer-rg/providers/Microsoft.Network/virtualNetworks/customer-vnet
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                cloudNativeNetworks:
                - accountConfigId: Molestiae veritatis ea perferendis quam.
                  cidr: 10.0.0.0/16
                  cloudNativeNetworkId: /subscriptions/12345678-1234-1234-1234-123456789abc/resourceGroups/customer-rg/providers/Microsoft.Network/virtualNetworks/customer-vnet
                  createdAt: 2026-04-14T10:00:00Z
                  hostClusters:
                  - eligibleToImport: true
                    ineligibilityReason: Host cluster is already imported
                    name: existing-eks-cluster
                  - eligibleToImport: true
                    ineligibilityReason: Host cluster is already imported
                    name: existing-eks-cluster
                  - eligibleToImport: true
                    ineligibilityReason: Host cluster is already imported
                    name: existing-eks-cluster
                  id: acvpc-12345678
                  imported: true
                  inUse: false
                  name: production-vpc
                  privateSubnets:
                  - az: us-east-1a
                    cidr: 10.0.1.0/24
                    id: subnet-0abc123def456
                    isPublic: false
                    isTagged: true
                  - az: us-east-1a
                    cidr: 10.0.1.0/24
                    id: subnet-0abc123def456
                    isPublic: false
                    isTagged: true
                  publicSubnets:
                  - az: us-east-1a
                    cidr: 10.0.1.0/24
                    id: subnet-0abc123def456
                    isPublic: false
                    isTagged: true
                  - az: us-east-1a
                    cidr: 10.0.1.0/24
                    id: subnet-0abc123def456
                    isPublic: false
                    isTagged: true
                  - az: us-east-1a
                    cidr: 10.0.1.0/24
                    id: subnet-0abc123def456
                    isPublic: false
                    isTagged: true
                  region: us-east-1
                  status: PENDING|VERIFYING|READY|FAILED
                  statusMessage: Cloud native network validated successfully
                  supportsPrivateDeployment: true
                  supportsPublicDeployment: true
                  updatedAt: 2026-04-14T10:05:00Z
                - accountConfigId: Molestiae veritatis ea perferendis quam.
                  cidr: 10.0.0.0/16
                  cloudNativeNetworkId: /subscriptions/12345678-1234-1234-1234-123456789abc/resourceGroups/customer-rg/providers/Microsoft.Network/virtualNetworks/customer-vnet
                  createdAt: 2026-04-14T10:00:00Z
                  hostClusters:
                  - eligibleToImport: true
                    ineligibilityReason: Host cluster is already imported
                    name: existing-eks-cluster
                  - eligibleToImport: true
                    ineligibilityReason: Host cluster is already imported
                    name: existing-eks-cluster
                  - eligibleToImport: true
                    ineligibilityReason: Host cluster is already imported
                    name: existing-eks-cluster
                  id: acvpc-12345678
                  imported: true
                  inUse: false
                  name: production-vpc
                  privateSubnets:
                  - az: us-east-1a
                    cidr: 10.0.1.0/24
                    id: subnet-0abc123def456
                    isPublic: false
                    isTagged: true
                  - az: us-east-1a
                    cidr: 10.0.1.0/24
                    id: subnet-0abc123def456
                    isPublic: false
                    isTagged: true
                  publicSubnets:
                  - az: us-east-1a
                    cidr: 10.0.1.0/24
                    id: subnet-0abc123def456
                    isPublic: false
                    isTagged: true
                  - az: us-east-1a
                    cidr: 10.0.1.0/24
                    id: subnet-0abc123def456
                    isPublic: false
                    isTagged: true
                  - az: us-east-1a
                    cidr: 10.0.1.0/24
                    id: subnet-0abc123def456
                    isPublic: false
                    isTagged: true
                  region: us-east-1
                  status: PENDING|VERIFYING|READY|FAILED
                  statusMessage: Cloud native network validated successfully
                  supportsPrivateDeployment: true
                  supportsPublicDeployment: true
                  updatedAt: 2026-04-14T10:05:00Z
                - accountConfigId: Molestiae veritatis ea perferendis quam.
                  cidr: 10.0.0.0/16
                  cloudNativeNetworkId: /subscriptions/12345678-1234-1234-1234-123456789abc/resourceGroups/customer-rg/providers/Microsoft.Network/virtualNetworks/customer-vnet
                  createdAt: 2026-04-14T10:00:00Z
                  hostClusters:
                  - eligibleToImport: true
                    ineligibilityReason: Host cluster is already imported
                    name: existing-eks-cluster
                  - eligibleToImport: true
                    ineligibilityReason: Host cluster is already imported
                    name: existing-eks-cluster
                  - eligibleToImport: true
                    ineligibilityReason: Host cluster is already imported
                    name: existing-eks-cluster
                  id: acvpc-12345678
                  imported: true
                  inUse: false
                  name: production-vpc
                  privateSubnets:
                  - az: us-east-1a
                    cidr: 10.0.1.0/24
                    id: subnet-0abc123def456
                    isPublic: false
                    isTagged: true
                  - az: us-east-1a
                    cidr: 10.0.1.0/24
                    id: subnet-0abc123def456
                    isPublic: false
                    isTagged: true
                  publicSubnets:
                  - az: us-east-1a
                    cidr: 10.0.1.0/24
                    id: subnet-0abc123def456
                    isPublic: false
                    isTagged: true
                  - az: us-east-1a
                    cidr: 10.0.1.0/24
                    id: subnet-0abc123def456
                    isPublic: false
                    isTagged: true
                  - az: us-east-1a
                    cidr: 10.0.1.0/24
                    id: subnet-0abc123def456
                    isPublic: false
                    isTagged: true
                  region: us-east-1
                  status: PENDING|VERIFYING|READY|FAILED
                  statusMessage: Cloud native network validated successfully
                  supportsPrivateDeployment: true
                  supportsPublicDeployment: true
                  updatedAt: 2026-04-14T10:05:00Z
                - accountConfigId: Molestiae veritatis ea perferendis quam.
                  cidr: 10.0.0.0/16
                  cloudNativeNetworkId: /subscriptions/12345678-1234-1234-1234-123456789abc/resourceGroups/customer-rg/providers/Microsoft.Network/virtualNetworks/customer-vnet
                  createdAt: 2026-04-14T10:00:00Z
                  hostClusters:
                  - eligibleToImport: true
                    ineligibilityReason: Host cluster is already imported
                    name: existing-eks-cluster
                  - eligibleToImport: true
                    ineligibilityReason: Host cluster is already imported
                    name: existing-eks-cluster
                  - eligibleToImport: true
                    ineligibilityReason: Host cluster is already imported
                    name: existing-eks-cluster
                  id: acvpc-12345678
                  imported: true
                  inUse: false
                  name: production-vpc
                  privateSubnets:
                  - az: us-east-1a
                    cidr: 10.0.1.0/24
                    id: subnet-0abc123def456
                    isPublic: false
                    isTagged: true
                  - az: us-east-1a
                    cidr: 10.0.1.0/24
                    id: subnet-0abc123def456
                    isPublic: false
                    isTagged: true
                  publicSubnets:
                  - az: us-east-1a
                    cidr: 10.0.1.0/24
                    id: subnet-0abc123def456
                    isPublic: false
                    isTagged: true
                  - az: us-east-1a
                    cidr: 10.0.1.0/24
                    id: subnet-0abc123def456
                    isPublic: false
                    isTagged: true
                  - az: us-east-1a
                    cidr: 10.0.1.0/24
                    id: subnet-0abc123def456
                    isPublic: false
                    isTagged: true
                  region: us-east-1
                  status: PENDING|VERIFYING|READY|FAILED
                  statusMessage: Cloud native network validated successfully
                  supportsPrivateDeployment: true
                  supportsPublicDeployment: true
                  updatedAt: 2026-04-14T10:05:00Z
              schema:
                $ref: "#/components/schemas/ListAccountConfigCloudNativeNetworksResult"
          description: OK response.
        "400":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "bad_request: Response used on a bad request"
        "401":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "auth_failure: Response used on authentication failure"
        "403":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "forbidden: Response used on authorization failure"
        "404":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "not_found: Response used when the requested resource is not\
            \ found"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "failed_request: Response used on failure to unimport cloud\
            \ native network"
      security:
      - api_key_header_Authorization: []
      summary: UnimportAccountConfigCloudNativeNetwork account-config-api
      tags:
      - account-config-api
  /2022-09-01-00/accountconfig/{id}/cloud-native-networks/import:
    post:
      description: Bulk import or unimport CloudNativeNetworks for deployments
      operationId: account-config-api#BulkImportAccountConfigCloudNativeNetworks
      parameters:
      - description: Account Config ID to operate on
        example: ac-12345678
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: ID of an Account Config
          example: Magnam ut consectetur.
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              cloudNativeNetworks:
              - cloudNativeNetworkId: /subscriptions/12345678-1234-1234-1234-123456789abc/resourceGroups/customer-rg/providers/Microsoft.Network/virtualNetworks/customer-vnet
                import: true
                region: us-east-1
              - cloudNativeNetworkId: /subscriptions/12345678-1234-1234-1234-123456789abc/resourceGroups/customer-rg/providers/Microsoft.Network/virtualNetworks/customer-vnet
                import: true
                region: us-east-1
              - cloudNativeNetworkId: /subscriptions/12345678-1234-1234-1234-123456789abc/resourceGroups/customer-rg/providers/Microsoft.Network/virtualNetworks/customer-vnet
                import: true
                region: us-east-1
            schema:
              $ref: "#/components/schemas/BulkImportAccountConfigCloudNativeNetworksRequest2"
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                cloudNativeNetworks:
                - accountConfigId: Molestiae veritatis ea perferendis quam.
                  cidr: 10.0.0.0/16
                  cloudNativeNetworkId: /subscriptions/12345678-1234-1234-1234-123456789abc/resourceGroups/customer-rg/providers/Microsoft.Network/virtualNetworks/customer-vnet
                  createdAt: 2026-04-14T10:00:00Z
                  hostClusters:
                  - eligibleToImport: true
                    ineligibilityReason: Host cluster is already imported
                    name: existing-eks-cluster
                  - eligibleToImport: true
                    ineligibilityReason: Host cluster is already imported
                    name: existing-eks-cluster
                  - eligibleToImport: true
                    ineligibilityReason: Host cluster is already imported
                    name: existing-eks-cluster
                  id: acvpc-12345678
                  imported: true
                  inUse: false
                  name: production-vpc
                  privateSubnets:
                  - az: us-east-1a
                    cidr: 10.0.1.0/24
                    id: subnet-0abc123def456
                    isPublic: false
                    isTagged: true
                  - az: us-east-1a
                    cidr: 10.0.1.0/24
                    id: subnet-0abc123def456
                    isPublic: false
                    isTagged: true
                  publicSubnets:
                  - az: us-east-1a
                    cidr: 10.0.1.0/24
                    id: subnet-0abc123def456
                    isPublic: false
                    isTagged: true
                  - az: us-east-1a
                    cidr: 10.0.1.0/24
                    id: subnet-0abc123def456
                    isPublic: false
                    isTagged: true
                  - az: us-east-1a
                    cidr: 10.0.1.0/24
                    id: subnet-0abc123def456
                    isPublic: false
                    isTagged: true
                  region: us-east-1
                  status: PENDING|VERIFYING|READY|FAILED
                  statusMessage: Cloud native network validated successfully
                  supportsPrivateDeployment: true
                  supportsPublicDeployment: true
                  updatedAt: 2026-04-14T10:05:00Z
                - accountConfigId: Molestiae veritatis ea perferendis quam.
                  cidr: 10.0.0.0/16
                  cloudNativeNetworkId: /subscriptions/12345678-1234-1234-1234-123456789abc/resourceGroups/customer-rg/providers/Microsoft.Network/virtualNetworks/customer-vnet
                  createdAt: 2026-04-14T10:00:00Z
                  hostClusters:
                  - eligibleToImport: true
                    ineligibilityReason: Host cluster is already imported
                    name: existing-eks-cluster
                  - eligibleToImport: true
                    ineligibilityReason: Host cluster is already imported
                    name: existing-eks-cluster
                  - eligibleToImport: true
                    ineligibilityReason: Host cluster is already imported
                    name: existing-eks-cluster
                  id: acvpc-12345678
                  imported: true
                  inUse: false
                  name: production-vpc
                  privateSubnets:
                  - az: us-east-1a
                    cidr: 10.0.1.0/24
                    id: subnet-0abc123def456
                    isPublic: false
                    isTagged: true
                  - az: us-east-1a
                    cidr: 10.0.1.0/24
                    id: subnet-0abc123def456
                    isPublic: false
                    isTagged: true
                  publicSubnets:
                  - az: us-east-1a
                    cidr: 10.0.1.0/24
                    id: subnet-0abc123def456
                    isPublic: false
                    isTagged: true
                  - az: us-east-1a
                    cidr: 10.0.1.0/24
                    id: subnet-0abc123def456
                    isPublic: false
                    isTagged: true
                  - az: us-east-1a
                    cidr: 10.0.1.0/24
                    id: subnet-0abc123def456
                    isPublic: false
                    isTagged: true
                  region: us-east-1
                  status: PENDING|VERIFYING|READY|FAILED
                  statusMessage: Cloud native network validated successfully
                  supportsPrivateDeployment: true
                  supportsPublicDeployment: true
                  updatedAt: 2026-04-14T10:05:00Z
                - accountConfigId: Molestiae veritatis ea perferendis quam.
                  cidr: 10.0.0.0/16
                  cloudNativeNetworkId: /subscriptions/12345678-1234-1234-1234-123456789abc/resourceGroups/customer-rg/providers/Microsoft.Network/virtualNetworks/customer-vnet
                  createdAt: 2026-04-14T10:00:00Z
                  hostClusters:
                  - eligibleToImport: true
                    ineligibilityReason: Host cluster is already imported
                    name: existing-eks-cluster
                  - eligibleToImport: true
                    ineligibilityReason: Host cluster is already imported
                    name: existing-eks-cluster
                  - eligibleToImport: true
                    ineligibilityReason: Host cluster is already imported
                    name: existing-eks-cluster
                  id: acvpc-12345678
                  imported: true
                  inUse: false
                  name: production-vpc
                  privateSubnets:
                  - az: us-east-1a
                    cidr: 10.0.1.0/24
                    id: subnet-0abc123def456
                    isPublic: false
                    isTagged: true
                  - az: us-east-1a
                    cidr: 10.0.1.0/24
                    id: subnet-0abc123def456
                    isPublic: false
                    isTagged: true
                  publicSubnets:
                  - az: us-east-1a
                    cidr: 10.0.1.0/24
                    id: subnet-0abc123def456
                    isPublic: false
                    isTagged: true
                  - az: us-east-1a
                    cidr: 10.0.1.0/24
                    id: subnet-0abc123def456
                    isPublic: false
                    isTagged: true
                  - az: us-east-1a
                    cidr: 10.0.1.0/24
                    id: subnet-0abc123def456
                    isPublic: false
                    isTagged: true
                  region: us-east-1
                  status: PENDING|VERIFYING|READY|FAILED
                  statusMessage: Cloud native network validated successfully
                  supportsPrivateDeployment: true
                  supportsPublicDeployment: true
                  updatedAt: 2026-04-14T10:05:00Z
                - accountConfigId: Molestiae veritatis ea perferendis quam.
                  cidr: 10.0.0.0/16
                  cloudNativeNetworkId: /subscriptions/12345678-1234-1234-1234-123456789abc/resourceGroups/customer-rg/providers/Microsoft.Network/virtualNetworks/customer-vnet
                  createdAt: 2026-04-14T10:00:00Z
                  hostClusters:
                  - eligibleToImport: true
                    ineligibilityReason: Host cluster is already imported
                    name: existing-eks-cluster
                  - eligibleToImport: true
                    ineligibilityReason: Host cluster is already imported
                    name: existing-eks-cluster
                  - eligibleToImport: true
                    ineligibilityReason: Host cluster is already imported
                    name: existing-eks-cluster
                  id: acvpc-12345678
                  imported: true
                  inUse: false
                  name: production-vpc
                  privateSubnets:
                  - az: us-east-1a
                    cidr: 10.0.1.0/24
                    id: subnet-0abc123def456
                    isPublic: false
                    isTagged: true
                  - az: us-east-1a
                    cidr: 10.0.1.0/24
                    id: subnet-0abc123def456
                    isPublic: false
                    isTagged: true
                  publicSubnets:
                  - az: us-east-1a
                    cidr: 10.0.1.0/24
                    id: subnet-0abc123def456
                    isPublic: false
                    isTagged: true
                  - az: us-east-1a
                    cidr: 10.0.1.0/24
                    id: subnet-0abc123def456
                    isPublic: false
                    isTagged: true
                  - az: us-east-1a
                    cidr: 10.0.1.0/24
                    id: subnet-0abc123def456
                    isPublic: false
                    isTagged: true
                  region: us-east-1
                  status: PENDING|VERIFYING|READY|FAILED
                  statusMessage: Cloud native network validated successfully
                  supportsPrivateDeployment: true
                  supportsPublicDeployment: true
                  updatedAt: 2026-04-14T10:05:00Z
              schema:
                $ref: "#/components/schemas/ListAccountConfigCloudNativeNetworksResult"
          description: OK response.
        "400":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "bad_request: Response used on a bad request"
        "401":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "auth_failure: Response used on authentication failure"
        "403":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "forbidden: Response used on authorization failure"
        "404":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "not_found: Response used when the requested resource is not\
            \ found"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "failed_request: Response used on failure to bulk import cloud\
            \ native networks"
      security:
      - api_key_header_Authorization: []
      summary: BulkImportAccountConfigCloudNativeNetworks account-config-api
      tags:
      - account-config-api
  /2022-09-01-00/accountconfig/{id}/cloud-native-networks/sync:
    post:
      description: "Sync CloudNativeNetworks from the provider's cloud account: discovers\
        \ CloudNativeNetworks and upserts them into the database"
      operationId: account-config-api#SyncAccountConfigCloudNativeNetworks
      parameters:
      - description: Account Config ID to operate on
        example: ac-12345678
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: ID of an Account Config
          example: Molestias perspiciatis rerum.
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              cloudNativeNetworks:
              - cloudNativeNetworkId: /subscriptions/12345678-1234-1234-1234-123456789abc/resourceGroups/customer-rg/providers/Microsoft.Network/virtualNetworks/customer-vnet
                includeHostClusters: false
                region: us-east-1
              - cloudNativeNetworkId: /subscriptions/12345678-1234-1234-1234-123456789abc/resourceGroups/customer-rg/providers/Microsoft.Network/virtualNetworks/customer-vnet
                includeHostClusters: false
                region: us-east-1
              - cloudNativeNetworkId: /subscriptions/12345678-1234-1234-1234-123456789abc/resourceGroups/customer-rg/providers/Microsoft.Network/virtualNetworks/customer-vnet
                includeHostClusters: false
                region: us-east-1
              - cloudNativeNetworkId: /subscriptions/12345678-1234-1234-1234-123456789abc/resourceGroups/customer-rg/providers/Microsoft.Network/virtualNetworks/customer-vnet
                includeHostClusters: false
                region: us-east-1
            schema:
              $ref: "#/components/schemas/SyncAccountConfigCloudNativeNetworksRequest2"
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                cloudNativeNetworks:
                - accountConfigId: Molestiae veritatis ea perferendis quam.
                  cidr: 10.0.0.0/16
                  cloudNativeNetworkId: /subscriptions/12345678-1234-1234-1234-123456789abc/resourceGroups/customer-rg/providers/Microsoft.Network/virtualNetworks/customer-vnet
                  createdAt: 2026-04-14T10:00:00Z
                  hostClusters:
                  - eligibleToImport: true
                    ineligibilityReason: Host cluster is already imported
                    name: existing-eks-cluster
                  - eligibleToImport: true
                    ineligibilityReason: Host cluster is already imported
                    name: existing-eks-cluster
                  - eligibleToImport: true
                    ineligibilityReason: Host cluster is already imported
                    name: existing-eks-cluster
                  id: acvpc-12345678
                  imported: true
                  inUse: false
                  name: production-vpc
                  privateSubnets:
                  - az: us-east-1a
                    cidr: 10.0.1.0/24
                    id: subnet-0abc123def456
                    isPublic: false
                    isTagged: true
                  - az: us-east-1a
                    cidr: 10.0.1.0/24
                    id: subnet-0abc123def456
                    isPublic: false
                    isTagged: true
                  publicSubnets:
                  - az: us-east-1a
                    cidr: 10.0.1.0/24
                    id: subnet-0abc123def456
                    isPublic: false
                    isTagged: true
                  - az: us-east-1a
                    cidr: 10.0.1.0/24
                    id: subnet-0abc123def456
                    isPublic: false
                    isTagged: true
                  - az: us-east-1a
                    cidr: 10.0.1.0/24
                    id: subnet-0abc123def456
                    isPublic: false
                    isTagged: true
                  region: us-east-1
                  status: PENDING|VERIFYING|READY|FAILED
                  statusMessage: Cloud native network validated successfully
                  supportsPrivateDeployment: true
                  supportsPublicDeployment: true
                  updatedAt: 2026-04-14T10:05:00Z
                - accountConfigId: Molestiae veritatis ea perferendis quam.
                  cidr: 10.0.0.0/16
                  cloudNativeNetworkId: /subscriptions/12345678-1234-1234-1234-123456789abc/resourceGroups/customer-rg/providers/Microsoft.Network/virtualNetworks/customer-vnet
                  createdAt: 2026-04-14T10:00:00Z
                  hostClusters:
                  - eligibleToImport: true
                    ineligibilityReason: Host cluster is already imported
                    name: existing-eks-cluster
                  - eligibleToImport: true
                    ineligibilityReason: Host cluster is already imported
                    name: existing-eks-cluster
                  - eligibleToImport: true
                    ineligibilityReason: Host cluster is already imported
                    name: existing-eks-cluster
                  id: acvpc-12345678
                  imported: true
                  inUse: false
                  name: production-vpc
                  privateSubnets:
                  - az: us-east-1a
                    cidr: 10.0.1.0/24
                    id: subnet-0abc123def456
                    isPublic: false
                    isTagged: true
                  - az: us-east-1a
                    cidr: 10.0.1.0/24
                    id: subnet-0abc123def456
                    isPublic: false
                    isTagged: true
                  publicSubnets:
                  - az: us-east-1a
                    cidr: 10.0.1.0/24
                    id: subnet-0abc123def456
                    isPublic: false
                    isTagged: true
                  - az: us-east-1a
                    cidr: 10.0.1.0/24
                    id: subnet-0abc123def456
                    isPublic: false
                    isTagged: true
                  - az: us-east-1a
                    cidr: 10.0.1.0/24
                    id: subnet-0abc123def456
                    isPublic: false
                    isTagged: true
                  region: us-east-1
                  status: PENDING|VERIFYING|READY|FAILED
                  statusMessage: Cloud native network validated successfully
                  supportsPrivateDeployment: true
                  supportsPublicDeployment: true
                  updatedAt: 2026-04-14T10:05:00Z
                - accountConfigId: Molestiae veritatis ea perferendis quam.
                  cidr: 10.0.0.0/16
                  cloudNativeNetworkId: /subscriptions/12345678-1234-1234-1234-123456789abc/resourceGroups/customer-rg/providers/Microsoft.Network/virtualNetworks/customer-vnet
                  createdAt: 2026-04-14T10:00:00Z
                  hostClusters:
                  - eligibleToImport: true
                    ineligibilityReason: Host cluster is already imported
                    name: existing-eks-cluster
                  - eligibleToImport: true
                    ineligibilityReason: Host cluster is already imported
                    name: existing-eks-cluster
                  - eligibleToImport: true
                    ineligibilityReason: Host cluster is already imported
                    name: existing-eks-cluster
                  id: acvpc-12345678
                  imported: true
                  inUse: false
                  name: production-vpc
                  privateSubnets:
                  - az: us-east-1a
                    cidr: 10.0.1.0/24
                    id: subnet-0abc123def456
                    isPublic: false
                    isTagged: true
                  - az: us-east-1a
                    cidr: 10.0.1.0/24
                    id: subnet-0abc123def456
                    isPublic: false
                    isTagged: true
                  publicSubnets:
                  - az: us-east-1a
                    cidr: 10.0.1.0/24
                    id: subnet-0abc123def456
                    isPublic: false
                    isTagged: true
                  - az: us-east-1a
                    cidr: 10.0.1.0/24
                    id: subnet-0abc123def456
                    isPublic: false
                    isTagged: true
                  - az: us-east-1a
                    cidr: 10.0.1.0/24
                    id: subnet-0abc123def456
                    isPublic: false
                    isTagged: true
                  region: us-east-1
                  status: PENDING|VERIFYING|READY|FAILED
                  statusMessage: Cloud native network validated successfully
                  supportsPrivateDeployment: true
                  supportsPublicDeployment: true
                  updatedAt: 2026-04-14T10:05:00Z
              schema:
                $ref: "#/components/schemas/ListAccountConfigCloudNativeNetworksResult"
          description: OK response.
        "401":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "auth_failure: Response used on authentication failure"
        "403":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "forbidden: Response used on authorization failure"
        "404":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "not_found: Response used when the requested resource is not\
            \ found"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "failed_request: Response used on failure to sync cloud native\
            \ networks"
      security:
      - api_key_header_Authorization: []
      summary: SyncAccountConfigCloudNativeNetworks account-config-api
      tags:
      - account-config-api
  /2022-09-01-00/accountconfig/aws/{awsAccountID}:
    get:
      operationId: account-config-api#DescribeAccountConfigByAWSAccountID
      parameters:
      - description: The AWS account ID
        example: "123456789012"
        explode: false
        in: path
        name: awsAccountID
        required: true
        schema:
          description: The AWS account ID
          example: "123456789012"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                awsAccountID: "123456789012"
                awsBootstrapRoleARN: arn:aws:iam::<ACCOUNT_ID>:role/<ROLE_NAME>
                awsCloudFormationNoLBTemplateURL: https://s3.amazonaws.com/omnistrate-cloudformation/org-EUVvex3bVm/account-config-setup-template.yaml&param_CreateLoadBalancerPolicy=false
                awsCloudFormationTemplateURL: https://s3.amazonaws.com/omnistrate-cloudformation/org-EUVvex3bVm/account-config-setup-template.yaml
                byoaInstanceIDs:
                - instance-12345678
                - instance-abcdefgh
                cloudProviderId: Doloribus et porro rerum rerum.
                description: An AWS account hosting multiple dev environments
                id: Maxime excepturi veritatis similique cumque qui quis.
                name: Dev AWS account
                status: PENDING|VERIFYING|READY|FAILED|DELETING|READY_TO_OFFBOARD
                statusMessage: Account is ready
              schema:
                $ref: "#/components/schemas/DescribeAccountConfigByAWSAccountIDResult"
          description: OK response.
        "400":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "bad_request: Response used on a bad request"
        "401":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "auth_failure: Response used on authentication failure"
        "403":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "forbidden: Response used on authorization failure"
        "404":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "not_found: Response used when the requested resource is not\
            \ found"
        "409":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "invalid_state: Response used when requested resource is in\
            \ an invalid state for this operation"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "failed_request: Response used on failure to describe an account\
            \ config"
      security:
      - api_key_header_Authorization: []
      summary: DescribeAccountConfigByAWSAccountID account-config-api
      tags:
      - account-config-api
  /2022-09-01-00/accountconfig/azure/{azureSubscriptionID}:
    get:
      operationId: account-config-api#DescribeAccountConfigByAzureSubscriptionID
      parameters:
      - description: The Azure subscription ID
        example: 12345678-1234-1234-1234-123456789012
        explode: false
        in: path
        name: azureSubscriptionID
        required: true
        schema:
          description: The Azure subscription ID
          example: 12345678-1234-1234-1234-123456789012
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                azureSubscriptionID: 12345678-1234-1234-1234-123456789012
                azureTenantID: 12345678-1234-1234-1234-123456789012
                byoaInstanceIDs:
                - instance-12345678
                - instance-abcdefgh
                cloudProviderId: Repudiandae id aut mollitia cupiditate.
                description: An AWS account hosting multiple dev environments
                id: Praesentium at corrupti aut labore ex voluptatem.
                name: Dev AWS account
                status: PENDING|VERIFYING|READY|FAILED|DELETING|READY_TO_OFFBOARD
                statusMessage: Account is ready
              schema:
                $ref: "#/components/schemas/DescribeAccountConfigByAzureSubscriptionIDResult"
          description: OK response.
        "400":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "bad_request: Response used on a bad request"
        "401":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "auth_failure: Response used on authentication failure"
        "403":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "forbidden: Response used on authorization failure"
        "404":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "not_found: Response used when the requested resource is not\
            \ found"
        "409":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "invalid_state: Response used when requested resource is in\
            \ an invalid state for this operation"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "failed_request: Response used on failure to describe an account\
            \ config"
      security:
      - api_key_header_Authorization: []
      summary: DescribeAccountConfigByAzureSubscriptionID account-config-api
      tags:
      - account-config-api
  /2022-09-01-00/accountconfig/byoa:
    get:
      operationId: account-config-api#ListBYOAConfig
      requestBody:
        content:
          application/json:
            example:
              cloudProviderName: aws|azure|gcp|nebius|oci|byoc-onprem|all
            schema:
              $ref: "#/components/schemas/ListBYOAConfigRequest2"
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                accountConfigs:
                - awsAccountID: "123456789012"
                  awsBootstrapRoleARN: arn:aws:iam::<ACCOUNT_ID>:role/<ROLE_NAME>
                  awsCloudFormationNoLBTemplateURL: https://s3.amazonaws.com/omnistrate-cloudformation/org-EUVvex3bVm/account-config-setup-template-no-lb-policy.yaml
                  awsCloudFormationTemplateURL: https://s3.amazonaws.com/omnistrate-cloudformation/org-EUVvex3bVm/account-config-setup-template.yaml
                  azureBootstrapShellCommand: bash -c "$(curl -fsSL https://omnistrate.com/account-setup/azure-bootstrap.sh?account_config_id=ac-MOju2uwKM0)"
                  azureDisconnectShellCommand: bash -c "$(curl -fsSL https://omnistrate.com/account-setup/azure-disconnect.sh?account_config_id=ac-MOju2uwKM0)"
                  azureOffboardShellCommand: bash -c "$(curl -fsSL https://omnistrate.com/account-setup/azure-offboard.sh?account_config_id=ac-MOju2uwKM0)"
                  azureSubscriptionID: 12345678-1234-1234-1234-123456789012
                  azureTenantID: 12345678-1234-1234-1234-123456789012
                  byoaInstanceIDs:
                  - instance-12345678
                  - instance-abcdefgh
                  cloudProviderId: Voluptas corporis est rem temporibus esse.
                  customTags:
                  - key: customKey
                    value: customValue
                  - key: customKey
                    value: customValue
                  - key: customKey
                    value: customValue
                  - key: customKey
                    value: customValue
                  description: An AWS account hosting multiple dev environments
                  gcpBootstrapShellCommand: bash -c "$(curl -fsSL https://omnistrate.com/account-setup/gcp-bootstrap.sh?account_config_id=ac-MOju2uwKM0)"
                  gcpDisconnectShellCommand: bash -c "$(curl -fsSL https://omnistrate.com/account-setup/gcp-disconnect.sh?account_config_id=ac-MOju2uwKM0)"
                  gcpOffboardShellCommand: bash -c "$(curl -fsSL https://omnistrate.com/account-setup/gcp-offboard.sh?account_config_id=ac-MOju2uwKM0)"
                  gcpProjectID: my-project
                  gcpProjectNumber: "123456789012"
                  gcpServiceAccountEmail: bootstrap@my-project.iam.gserviceaccount.com
                  id: Ea corporis explicabo.
                  name: Dev AWS account
                  nebiusBindings:
                  - derivedPublicKeyFingerprint: SHA256:derived-public-key-fingerprint
                    keyExpiresAt: 2026-04-15T12:00:00Z
                    keyFingerprint: SHA256:live-nebius-auth-public-key-fingerprint
                    keyState: ACTIVE
                    ownsArtifactBucket: true
                    projectID: project-e00b497fpr00n5hg8wbh2d
                    publicKeyID: publickey-e00ngem85mc6pr5v63
                    publicKeyIDMatches: true
                    region: eu-north1
                    serviceAccountID: serviceaccount-e00vqdp9fskhmmaan8
                    serviceAccountKeyValidated: true
                    status: PENDING|VERIFYING|READY|FAILED|DELETING|READY_TO_OFFBOARD
                    statusMessage: Binding is ready
                  - derivedPublicKeyFingerprint: SHA256:derived-public-key-fingerprint
                    keyExpiresAt: 2026-04-15T12:00:00Z
                    keyFingerprint: SHA256:live-nebius-auth-public-key-fingerprint
                    keyState: ACTIVE
                    ownsArtifactBucket: true
                    projectID: project-e00b497fpr00n5hg8wbh2d
                    publicKeyID: publickey-e00ngem85mc6pr5v63
                    publicKeyIDMatches: true
                    region: eu-north1
                    serviceAccountID: serviceaccount-e00vqdp9fskhmmaan8
                    serviceAccountKeyValidated: true
                    status: PENDING|VERIFYING|READY|FAILED|DELETING|READY_TO_OFFBOARD
                    statusMessage: Binding is ready
                  nebiusTenantID: tenant-e00abc123
                  ociBootstrapShellCommand: bash -c "$(curl -fsSL https://omnistrate.com/account-setup/oci-bootstrap.sh?account_config_id=ac-MOju2uwKM0)"
                  ociDisconnectShellCommand: bash -c "$(curl -fsSL https://omnistrate.com/account-setup/oci-disconnect.sh?account_config_id=ac-MOju2uwKM0)"
                  ociDomainID: ocid1.domain.oc1..aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                  ociOffboardShellCommand: bash -c "$(curl -fsSL https://omnistrate.com/account-setup/oci-offboard.sh?account_config_id=ac-MOju2uwKM0)"
                  ociTenancyID: ocid1.tenancy.oc1..aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                  status: PENDING|VERIFYING|READY|FAILED|DELETING|READY_TO_OFFBOARD
                  statusMessage: Account is ready
                - awsAccountID: "123456789012"
                  awsBootstrapRoleARN: arn:aws:iam::<ACCOUNT_ID>:role/<ROLE_NAME>
                  awsCloudFormationNoLBTemplateURL: https://s3.amazonaws.com/omnistrate-cloudformation/org-EUVvex3bVm/account-config-setup-template-no-lb-policy.yaml
                  awsCloudFormationTemplateURL: https://s3.amazonaws.com/omnistrate-cloudformation/org-EUVvex3bVm/account-config-setup-template.yaml
                  azureBootstrapShellCommand: bash -c "$(curl -fsSL https://omnistrate.com/account-setup/azure-bootstrap.sh?account_config_id=ac-MOju2uwKM0)"
                  azureDisconnectShellCommand: bash -c "$(curl -fsSL https://omnistrate.com/account-setup/azure-disconnect.sh?account_config_id=ac-MOju2uwKM0)"
                  azureOffboardShellCommand: bash -c "$(curl -fsSL https://omnistrate.com/account-setup/azure-offboard.sh?account_config_id=ac-MOju2uwKM0)"
                  azureSubscriptionID: 12345678-1234-1234-1234-123456789012
                  azureTenantID: 12345678-1234-1234-1234-123456789012
                  byoaInstanceIDs:
                  - instance-12345678
                  - instance-abcdefgh
                  cloudProviderId: Voluptas corporis est rem temporibus esse.
                  customTags:
                  - key: customKey
                    value: customValue
                  - key: customKey
                    value: customValue
                  - key: customKey
                    value: customValue
                  - key: customKey
                    value: customValue
                  description: An AWS account hosting multiple dev environments
                  gcpBootstrapShellCommand: bash -c "$(curl -fsSL https://omnistrate.com/account-setup/gcp-bootstrap.sh?account_config_id=ac-MOju2uwKM0)"
                  gcpDisconnectShellCommand: bash -c "$(curl -fsSL https://omnistrate.com/account-setup/gcp-disconnect.sh?account_config_id=ac-MOju2uwKM0)"
                  gcpOffboardShellCommand: bash -c "$(curl -fsSL https://omnistrate.com/account-setup/gcp-offboard.sh?account_config_id=ac-MOju2uwKM0)"
                  gcpProjectID: my-project
                  gcpProjectNumber: "123456789012"
                  gcpServiceAccountEmail: bootstrap@my-project.iam.gserviceaccount.com
                  id: Ea corporis explicabo.
                  name: Dev AWS account
                  nebiusBindings:
                  - derivedPublicKeyFingerprint: SHA256:derived-public-key-fingerprint
                    keyExpiresAt: 2026-04-15T12:00:00Z
                    keyFingerprint: SHA256:live-nebius-auth-public-key-fingerprint
                    keyState: ACTIVE
                    ownsArtifactBucket: true
                    projectID: project-e00b497fpr00n5hg8wbh2d
                    publicKeyID: publickey-e00ngem85mc6pr5v63
                    publicKeyIDMatches: true
                    region: eu-north1
                    serviceAccountID: serviceaccount-e00vqdp9fskhmmaan8
                    serviceAccountKeyValidated: true
                    status: PENDING|VERIFYING|READY|FAILED|DELETING|READY_TO_OFFBOARD
                    statusMessage: Binding is ready
                  - derivedPublicKeyFingerprint: SHA256:derived-public-key-fingerprint
                    keyExpiresAt: 2026-04-15T12:00:00Z
                    keyFingerprint: SHA256:live-nebius-auth-public-key-fingerprint
                    keyState: ACTIVE
                    ownsArtifactBucket: true
                    projectID: project-e00b497fpr00n5hg8wbh2d
                    publicKeyID: publickey-e00ngem85mc6pr5v63
                    publicKeyIDMatches: true
                    region: eu-north1
                    serviceAccountID: serviceaccount-e00vqdp9fskhmmaan8
                    serviceAccountKeyValidated: true
                    status: PENDING|VERIFYING|READY|FAILED|DELETING|READY_TO_OFFBOARD
                    statusMessage: Binding is ready
                  nebiusTenantID: tenant-e00abc123
                  ociBootstrapShellCommand: bash -c "$(curl -fsSL https://omnistrate.com/account-setup/oci-bootstrap.sh?account_config_id=ac-MOju2uwKM0)"
                  ociDisconnectShellCommand: bash -c "$(curl -fsSL https://omnistrate.com/account-setup/oci-disconnect.sh?account_config_id=ac-MOju2uwKM0)"
                  ociDomainID: ocid1.domain.oc1..aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                  ociOffboardShellCommand: bash -c "$(curl -fsSL https://omnistrate.com/account-setup/oci-offboard.sh?account_config_id=ac-MOju2uwKM0)"
                  ociTenancyID: ocid1.tenancy.oc1..aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                  status: PENDING|VERIFYING|READY|FAILED|DELETING|READY_TO_OFFBOARD
                  statusMessage: Account is ready
                - awsAccountID: "123456789012"
                  awsBootstrapRoleARN: arn:aws:iam::<ACCOUNT_ID>:role/<ROLE_NAME>
                  awsCloudFormationNoLBTemplateURL: https://s3.amazonaws.com/omnistrate-cloudformation/org-EUVvex3bVm/account-config-setup-template-no-lb-policy.yaml
                  awsCloudFormationTemplateURL: https://s3.amazonaws.com/omnistrate-cloudformation/org-EUVvex3bVm/account-config-setup-template.yaml
                  azureBootstrapShellCommand: bash -c "$(curl -fsSL https://omnistrate.com/account-setup/azure-bootstrap.sh?account_config_id=ac-MOju2uwKM0)"
                  azureDisconnectShellCommand: bash -c "$(curl -fsSL https://omnistrate.com/account-setup/azure-disconnect.sh?account_config_id=ac-MOju2uwKM0)"
                  azureOffboardShellCommand: bash -c "$(curl -fsSL https://omnistrate.com/account-setup/azure-offboard.sh?account_config_id=ac-MOju2uwKM0)"
                  azureSubscriptionID: 12345678-1234-1234-1234-123456789012
                  azureTenantID: 12345678-1234-1234-1234-123456789012
                  byoaInstanceIDs:
                  - instance-12345678
                  - instance-abcdefgh
                  cloudProviderId: Voluptas corporis est rem temporibus esse.
                  customTags:
                  - key: customKey
                    value: customValue
                  - key: customKey
                    value: customValue
                  - key: customKey
                    value: customValue
                  - key: customKey
                    value: customValue
                  description: An AWS account hosting multiple dev environments
                  gcpBootstrapShellCommand: bash -c "$(curl -fsSL https://omnistrate.com/account-setup/gcp-bootstrap.sh?account_config_id=ac-MOju2uwKM0)"
                  gcpDisconnectShellCommand: bash -c "$(curl -fsSL https://omnistrate.com/account-setup/gcp-disconnect.sh?account_config_id=ac-MOju2uwKM0)"
                  gcpOffboardShellCommand: bash -c "$(curl -fsSL https://omnistrate.com/account-setup/gcp-offboard.sh?account_config_id=ac-MOju2uwKM0)"
                  gcpProjectID: my-project
                  gcpProjectNumber: "123456789012"
                  gcpServiceAccountEmail: bootstrap@my-project.iam.gserviceaccount.com
                  id: Ea corporis explicabo.
                  name: Dev AWS account
                  nebiusBindings:
                  - derivedPublicKeyFingerprint: SHA256:derived-public-key-fingerprint
                    keyExpiresAt: 2026-04-15T12:00:00Z
                    keyFingerprint: SHA256:live-nebius-auth-public-key-fingerprint
                    keyState: ACTIVE
                    ownsArtifactBucket: true
                    projectID: project-e00b497fpr00n5hg8wbh2d
                    publicKeyID: publickey-e00ngem85mc6pr5v63
                    publicKeyIDMatches: true
                    region: eu-north1
                    serviceAccountID: serviceaccount-e00vqdp9fskhmmaan8
                    serviceAccountKeyValidated: true
                    status: PENDING|VERIFYING|READY|FAILED|DELETING|READY_TO_OFFBOARD
                    statusMessage: Binding is ready
                  - derivedPublicKeyFingerprint: SHA256:derived-public-key-fingerprint
                    keyExpiresAt: 2026-04-15T12:00:00Z
                    keyFingerprint: SHA256:live-nebius-auth-public-key-fingerprint
                    keyState: ACTIVE
                    ownsArtifactBucket: true
                    projectID: project-e00b497fpr00n5hg8wbh2d
                    publicKeyID: publickey-e00ngem85mc6pr5v63
                    publicKeyIDMatches: true
                    region: eu-north1
                    serviceAccountID: serviceaccount-e00vqdp9fskhmmaan8
                    serviceAccountKeyValidated: true
                    status: PENDING|VERIFYING|READY|FAILED|DELETING|READY_TO_OFFBOARD
                    statusMessage: Binding is ready
                  nebiusTenantID: tenant-e00abc123
                  ociBootstrapShellCommand: bash -c "$(curl -fsSL https://omnistrate.com/account-setup/oci-bootstrap.sh?account_config_id=ac-MOju2uwKM0)"
                  ociDisconnectShellCommand: bash -c "$(curl -fsSL https://omnistrate.com/account-setup/oci-disconnect.sh?account_config_id=ac-MOju2uwKM0)"
                  ociDomainID: ocid1.domain.oc1..aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                  ociOffboardShellCommand: bash -c "$(curl -fsSL https://omnistrate.com/account-setup/oci-offboard.sh?account_config_id=ac-MOju2uwKM0)"
                  ociTenancyID: ocid1.tenancy.oc1..aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                  status: PENDING|VERIFYING|READY|FAILED|DELETING|READY_TO_OFFBOARD
                  statusMessage: Account is ready
                ids:
                - ac-12345678
                - ac-abcdefgh
                - ac-1234efgh
                nextPageToken: next-token
              schema:
                $ref: "#/components/schemas/ListBYOAConfigResult"
          description: OK response.
        "400":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "bad_request: Response used on a bad request"
        "401":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "auth_failure: Response used on authentication failure"
        "403":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "forbidden: Response used on authorization failure"
        "404":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
[...]
