openapi: 3.0.3
info:
  description: REST API for Omnistrate Fleet
  title: Omnistrate Fleet API
  version: 2022-09-01-00
servers:
- url: https://api.omnistrate.cloud
tags:
- description: The cost API provides insights into the cost of operating a fleet
  name: cost-api
- description: The set of APIs manage the internal temporal workflows.
  name: fleet-workflows-api
- description: The set of APIs manage the inventory for service providers.
  name: inventory-api
- description: The set of APIs manage the host clusters for service providers.
  name: hostcluster-api
- description: The set of APIs manage the events for service providers.
  name: events-api
- description: The set of APIs for auditing fleet events for service providers.
  name: audit-events-api
- description: The set of APIs manage the operations and observe overall fleet health
    for service providers
  name: operations-api
- name: webhooks-api
- name: notifications-api
- name: customer-onboardings-api
- name: helm-package-api
- name: fleet-custom-network-api
- description: The set of APIs to manage invoices for service providers.
  name: invoice-api
paths:
  /2022-09-01-00/fleet/account-config/{id}:
    delete:
      operationId: inventory-api#DeleteAccountConfig
      parameters:
      - description: Account Config ID to operate on
        example: ac-12345678
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: ID of an Account Config
          example: Laborum qui alias dignissimos.
          type: string
        style: simple
      responses:
        "200":
          description: OK response.
        "400":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "bad_request: Response used on a bad request"
        "401":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "auth_failure: Response used on authentication failure"
        "403":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "forbidden: Response used on authorization failure"
        "404":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "not_found: Response used when the requested resource is not\
            \ found"
        "409":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "invalid_state: Response used when requested resource is in\
            \ an invalid state for this operation"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "failed_request: Response used on failure to delete an account\
            \ config"
      security:
      - api_key_header_Authorization: []
      summary: DeleteAccountConfig inventory-api
      tags:
      - inventory-api
    get:
      operationId: inventory-api#DescribeAccountConfig
      parameters:
      - description: Account Config ID to operate on
        example: ac-12345678
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: ID of an Account Config
          example: Ipsa ad cum ipsum provident aut.
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                awsAccountID: "123456789012"
                awsBootstrapRoleARN: arn:aws:iam::<ACCOUNT_ID>:role/<ROLE_NAME>
                awsCloudFormationNoLBTemplateURL: https://s3.amazonaws.com/omnistrate-cloudformation/org-EUVvex3bVm/account-config-setup-template-no-lb-policy.yaml
                awsCloudFormationTemplateURL: https://s3.amazonaws.com/omnistrate-cloudformation/org-EUVvex3bVm/account-config-setup-template.yaml
                azureBootstrapShellCommand: bash -c "$(curl -fsSL https://omnistrate.com/account-setup/azure-bootstrap.sh?account_config_id=ac-MOju2uwKM0)"
                azureDisconnectShellCommand: bash -c "$(curl -fsSL https://omnistrate.com/account-setup/azure-disconnect.sh?account_config_id=ac-MOju2uwKM0)"
                azureSubscriptionID: 12345678-1234-1234-1234-123456789012
                azureTenantID: 12345678-1234-1234-1234-123456789012
                byoaInstanceIDs:
                - instance-12345678
                - instance-abcdefgh
                cloudProviderId: infra-12345678
                description: An AWS account hosting multiple dev environments
                gcpBootstrapShellCommand: bash -c "$(curl -fsSL https://omnistrate.com/account-setup/gcp-bootstrap.sh?account_config_id=ac-MOju2uwKM0)"
                gcpDisconnectShellCommand: bash -c "$(curl -fsSL https://omnistrate.com/account-setup/gcp-disconnect.sh?account_config_id=ac-MOju2uwKM0)"
                gcpProjectID: my-project
                gcpProjectNumber: "123456789012"
                gcpServiceAccountEmail: bootstrap@my-project.iam.gserviceaccount.com
                id: ac-12345678
                name: Dev AWS account
                status: READY
                statusMessage: Account is ready
              schema:
                $ref: "#/components/schemas/FleetDescribeAccountConfigResult"
          description: OK response.
        "400":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "bad_request: Response used on a bad request"
        "401":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "auth_failure: Response used on authentication failure"
        "403":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "forbidden: Response used on authorization failure"
        "404":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "not_found: Response used when the requested resource is not\
            \ found"
        "409":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "invalid_state: Response used when requested resource is in\
            \ an invalid state for this operation"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "failed_request: Response used on failure to describe an account\
            \ config"
      security:
      - api_key_header_Authorization: []
      summary: DescribeAccountConfig inventory-api
      tags:
      - inventory-api
  /2022-09-01-00/fleet/account-configs:
    get:
      operationId: inventory-api#ListAccountConfigs
      requestBody:
        content:
          application/json:
            example:
              cloudProviderName: aws
            schema:
              $ref: "#/components/schemas/FleetListAccountConfigsRequest2"
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                accountConfigs:
                - awsAccountID: "123456789012"
                  awsBootstrapRoleARN: arn:aws:iam::<ACCOUNT_ID>:role/<ROLE_NAME>
                  awsCloudFormationNoLBTemplateURL: https://s3.amazonaws.com/omnistrate-cloudformation/org-EUVvex3bVm/account-config-setup-template-no-lb-policy.yaml
                  awsCloudFormationTemplateURL: https://s3.amazonaws.com/omnistrate-cloudformation/org-EUVvex3bVm/account-config-setup-template.yaml
                  azureBootstrapShellCommand: bash -c "$(curl -fsSL https://omnistrate.com/account-setup/azure-bootstrap.sh?account_config_id=ac-MOju2uwKM0)"
                  azureDisconnectShellCommand: bash -c "$(curl -fsSL https://omnistrate.com/account-setup/azure-disconnect.sh?account_config_id=ac-MOju2uwKM0)"
                  azureSubscriptionID: 12345678-1234-1234-1234-123456789012
                  azureTenantID: 12345678-1234-1234-1234-123456789012
                  byoaInstanceIDs:
                  - instance-12345678
                  - instance-abcdefgh
                  cloudProviderId: infra-12345678
                  description: An AWS account hosting multiple dev environments
                  gcpBootstrapShellCommand: bash -c "$(curl -fsSL https://omnistrate.com/account-setup/gcp-bootstrap.sh?account_config_id=ac-MOju2uwKM0)"
                  gcpDisconnectShellCommand: bash -c "$(curl -fsSL https://omnistrate.com/account-setup/gcp-disconnect.sh?account_config_id=ac-MOju2uwKM0)"
                  gcpProjectID: my-project
                  gcpProjectNumber: "123456789012"
                  gcpServiceAccountEmail: bootstrap@my-project.iam.gserviceaccount.com
                  id: ac-12345678
                  name: Dev AWS account
                  status: READY
                  statusMessage: Account is ready
                - awsAccountID: "123456789012"
                  awsBootstrapRoleARN: arn:aws:iam::<ACCOUNT_ID>:role/<ROLE_NAME>
                  awsCloudFormationNoLBTemplateURL: https://s3.amazonaws.com/omnistrate-cloudformation/org-EUVvex3bVm/account-config-setup-template-no-lb-policy.yaml
                  awsCloudFormationTemplateURL: https://s3.amazonaws.com/omnistrate-cloudformation/org-EUVvex3bVm/account-config-setup-template.yaml
                  azureBootstrapShellCommand: bash -c "$(curl -fsSL https://omnistrate.com/account-setup/azure-bootstrap.sh?account_config_id=ac-MOju2uwKM0)"
                  azureDisconnectShellCommand: bash -c "$(curl -fsSL https://omnistrate.com/account-setup/azure-disconnect.sh?account_config_id=ac-MOju2uwKM0)"
                  azureSubscriptionID: 12345678-1234-1234-1234-123456789012
                  azureTenantID: 12345678-1234-1234-1234-123456789012
                  byoaInstanceIDs:
                  - instance-12345678
                  - instance-abcdefgh
                  cloudProviderId: infra-12345678
                  description: An AWS account hosting multiple dev environments
                  gcpBootstrapShellCommand: bash -c "$(curl -fsSL https://omnistrate.com/account-setup/gcp-bootstrap.sh?account_config_id=ac-MOju2uwKM0)"
                  gcpDisconnectShellCommand: bash -c "$(curl -fsSL https://omnistrate.com/account-setup/gcp-disconnect.sh?account_config_id=ac-MOju2uwKM0)"
                  gcpProjectID: my-project
                  gcpProjectNumber: "123456789012"
                  gcpServiceAccountEmail: bootstrap@my-project.iam.gserviceaccount.com
                  id: ac-12345678
                  name: Dev AWS account
                  status: READY
                  statusMessage: Account is ready
                ids:
                - ac-12345678
                - ac-abcdefgh
                - ac-1234efgh
                nextPageToken: next-token
              schema:
                $ref: "#/components/schemas/ListAccountConfigsResult"
          description: OK response.
        "400":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "bad_request: Response used on a bad request"
        "401":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "auth_failure: Response used on authentication failure"
        "403":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "forbidden: Response used on authorization failure"
        "404":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "not_found: Response used when the requested resource is not\
            \ found"
        "409":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "invalid_state: Response used when requested resource is in\
            \ an invalid state for this operation"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "failed_request: Response used on failure to list account configs"
      security:
      - api_key_header_Authorization: []
      summary: ListAccountConfigs inventory-api
      tags:
      - inventory-api
  /2022-09-01-00/fleet/audit-events:
    get:
      operationId: audit-events-api#AuditEvents
      parameters:
      - allowEmptyValue: true
        example: token
        explode: true
        in: query
        name: nextPageToken
        required: false
        schema:
          description: The next token to use for pagination
          example: token
          type: string
        style: form
      - allowEmptyValue: true
        example: 10
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          description: The number of resources to return per page
          example: 10
          format: int64
          type: integer
        style: form
      - allowEmptyValue: true
        description: The service ID to list events for
        example: s-123456
        explode: true
        in: query
        name: serviceID
        required: false
        schema:
          description: ID of a Service
          example: s-123456
          type: string
        style: form
      - allowEmptyValue: true
        example: PROD|PRIVATE|CANARY|STAGING|QA|DEV
        explode: true
        in: query
        name: environmentType
        required: false
        schema:
          description: The type of service environment
          example: PROD|PRIVATE|CANARY|STAGING|QA|DEV
          type: string
        style: form
      - allowEmptyValue: true
        description: The event types to filter by
        example:
        - Doloremque a.
        - Maxime adipisci consectetur est corrupti sapiente.
        - Possimus in mollitia recusandae.
        explode: true
        in: query
        name: eventSourceTypes
        required: false
        schema:
          description: The event types to filter by
          example:
          - Consequatur omnis dolor rerum sit illo repellat.
          - Maiores unde omnis.
          - Consequuntur sit non consequuntur.
          items:
            example: Soluta nisi est voluptate doloremque et fuga.
            type: string
          type: array
        style: form
      - allowEmptyValue: true
        description: The instance ID to list events for
        example: instance-12345678
        explode: true
        in: query
        name: instanceID
        required: false
        schema:
          description: ID of a Resource Instance
          example: instance-12345678
          type: string
        style: form
      - allowEmptyValue: true
        example: Eum officiis et.
        explode: true
        in: query
        name: productTierID
        required: false
        schema:
          description: ID of a Product Tier
          example: Dolor quidem nihil error id commodi minima.
          type: string
        style: form
      - allowEmptyValue: true
        description: Start date of the events
        example: 2023-01-01T10:00:00Z
        explode: true
        in: query
        name: startDate
        required: false
        schema:
          description: "Start time of the window in RFC 3339 format. If omitted, the\
            \ filter is open-ended at the start."
          example: 2023-01-01T10:00:00Z
          format: date-time
          type: string
        style: form
      - allowEmptyValue: true
        description: End date of the events
        example: 2024-01-01T10:00:00Z
        explode: true
        in: query
        name: endDate
        required: false
        schema:
          description: "End time of the window in RFC 3339 format. If omitted, the\
            \ filter is open-ended at the start."
          example: 2024-01-01T10:00:00Z
          format: date-time
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                events:
                - environmentId: Eum porro voluptatem debitis.
                  eventSource: "Customer, Infra or Maintenance"
                  id: Sunt alias sequi repellat.
                  instanceId: Natus sequi qui minima in.
                  message: instance-abcd1234 created
                  orgId: org-12345678
                  orgName: Acme Corporation
                  planVersion: v1.0
                  productTierId: In quis.
                  resourceName: Quia qui.
                  serviceId: At eius velit.
                  serviceName: mysql
                  servicePlanName: Basic Plan
                  time: Et labore provident recusandae molestias animi doloremque.
                  userId: user-12345678
                  userName: John Doe
                  workflowFailures:
                  - eventTime: 2020-01-01T00:00:00Z
                    message: Bootstrap failed for reason X
                  - eventTime: 2020-01-01T00:01:00Z
                    message: Compute failed for reason Y
                  workflowId: workflow-12345678
                - environmentId: Eum porro voluptatem debitis.
                  eventSource: "Customer, Infra or Maintenance"
                  id: Sunt alias sequi repellat.
                  instanceId: Natus sequi qui minima in.
                  message: instance-abcd1234 created
                  orgId: org-12345678
                  orgName: Acme Corporation
                  planVersion: v1.0
                  productTierId: In quis.
                  resourceName: Quia qui.
                  serviceId: At eius velit.
                  serviceName: mysql
                  servicePlanName: Basic Plan
                  time: Et labore provident recusandae molestias animi doloremque.
                  userId: user-12345678
                  userName: John Doe
                  workflowFailures:
                  - eventTime: 2020-01-01T00:00:00Z
                    message: Bootstrap failed for reason X
                  - eventTime: 2020-01-01T00:01:00Z
                    message: Compute failed for reason Y
                  workflowId: workflow-12345678
                ids:
                - event-12345678
                nextPageToken: Sint repellat nihil sit voluptatum sit.
              schema:
                $ref: "#/components/schemas/FleetAuditEventsResult"
          description: OK response.
        "400":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "bad_request: Response used on a bad request"
        "401":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "auth_failure: Response used on authentication failure"
        "403":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "forbidden: Response used on authorization failure"
        "404":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "not_found: Response used when the requested resource is not\
            \ found"
        "409":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "invalid_state: Response used when requested resource is in\
            \ an invalid state for this operation"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "failed_request: Response used on failure to list events"
      security:
      - api_key_header_Authorization: []
      summary: AuditEvents audit-events-api
      tags:
      - audit-events-api
  /2022-09-01-00/fleet/cost/cloud-provider:
    get:
      description: Get the total cost of operating a fleet on a cloud provider
      operationId: cost-api#DescribeCloudProviderCost
      parameters:
      - allowEmptyValue: true
        description: The start date of the range
        example: 2023-01-01T10:00:00Z
        explode: true
        in: query
        name: startDate
        required: true
        schema:
          description: "Start time of the window in RFC 3339 format. If omitted, the\
            \ filter is open-ended at the start."
          example: 2023-01-01T10:00:00Z
          format: date-time
          type: string
        style: form
      - allowEmptyValue: true
        description: The end date of the range
        example: 2024-01-01T10:00:00Z
        explode: true
        in: query
        name: endDate
        required: true
        schema:
          description: "End time of the window in RFC 3339 format. If omitted, the\
            \ filter is open-ended at the start."
          example: 2024-01-01T10:00:00Z
          format: date-time
          type: string
        style: form
      - allowEmptyValue: true
        description: The type of environment to filter costs by
        example: DEV
        explode: true
        in: query
        name: environmentType
        required: true
        schema:
          description: The type of service environment
          example: PROD|PRIVATE|CANARY|STAGING|QA|DEV
          type: string
        style: form
      - allowEmptyValue: true
        description: The frequency of the cost data
        example: DAILY|MONTHLY
        explode: true
        in: query
        name: frequency
        required: true
        schema:
          description: The frequency of the cost data
          example: DAILY|MONTHLY
          type: string
        style: form
      - allowEmptyValue: true
        description: The cloud provider IDs to include in the cost data
        example: "infra-12345678,infra-23456789"
        explode: true
        in: query
        name: includeCloudProviderIDs
        required: false
        schema:
          description: The cloud provider IDs to include in the cost data
          example: "infra-12345678,infra-23456789"
          type: string
        style: form
      - allowEmptyValue: true
        description: The cloud provider IDs to exclude from the cost data
        example: "infra-12345678,infra-23456789"
        explode: true
        in: query
        name: excludeCloudProviderIDs
        required: false
        schema:
          description: The cloud provider IDs to exclude from the cost data
          example: "infra-12345678,infra-23456789"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                cloudProviderCosts:
                  infra-abcdefgh:
                    cloudProviderName: aws
                    cost:
                    - cost: 100
                      date: 2023-01-01T10:00:00Z
                    - cost: 200
                      date: 2023-01-02T10:00:00Z
                    - cost: 145
                      date: 2023-01-03T10:00:00Z
                    totalCost: 445
              schema:
                $ref: "#/components/schemas/DescribeCloudProviderCostResult"
          description: OK response.
        "400":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "bad_request: Response used on a bad request"
        "401":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "auth_failure: Response used on authentication failure"
        "403":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "forbidden: Response used on authorization failure"
        "404":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "not_found: Response used when the requested resource is not\
            \ found"
        "409":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "invalid_state: Response used when requested resource is in\
            \ an invalid state for this operation"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "failed_request: Response used on failure to process the request"
      security:
      - api_key_header_Authorization: []
      summary: DescribeCloudProviderCost cost-api
      tags:
      - cost-api
  /2022-09-01-00/fleet/cost/deployment-cell:
    get:
      description: Get the total cost of operating a fleet in a deployment cell
      operationId: cost-api#DescribeDeploymentCellCost
      parameters:
      - allowEmptyValue: true
        description: The start date of the range
        example: 2023-01-01T10:00:00Z
        explode: true
        in: query
        name: startDate
        required: true
        schema:
          description: "Start time of the window in RFC 3339 format. If omitted, the\
            \ filter is open-ended at the start."
          example: 2023-01-01T10:00:00Z
          format: date-time
          type: string
        style: form
      - allowEmptyValue: true
        description: The end date of the range
        example: 2024-01-01T10:00:00Z
        explode: true
        in: query
        name: endDate
        required: true
        schema:
          description: "End time of the window in RFC 3339 format. If omitted, the\
            \ filter is open-ended at the start."
          example: 2024-01-01T10:00:00Z
          format: date-time
          type: string
        style: form
      - allowEmptyValue: true
        description: The type of environment to filter costs by
        example: DEV
        explode: true
        in: query
        name: environmentType
        required: true
        schema:
          description: The type of service environment
          example: PROD|PRIVATE|CANARY|STAGING|QA|DEV
          type: string
        style: form
      - allowEmptyValue: true
        description: The frequency of the cost data
        example: DAILY|MONTHLY
        explode: true
        in: query
        name: frequency
        required: true
        schema:
          description: The frequency of the cost data
          example: DAILY|MONTHLY
          type: string
        style: form
      - allowEmptyValue: true
        description: The cloud provider IDs to include in the cost data
        example: "infra-12345678,infra-23456789"
        explode: true
        in: query
        name: includeCloudProviderIDs
        required: false
        schema:
          description: The cloud provider IDs to include in the cost data
          example: "infra-12345678,infra-23456789"
          type: string
        style: form
      - allowEmptyValue: true
        description: The cloud provider IDs to exclude from the cost data
        example: "infra-12345678,infra-23456789"
        explode: true
        in: query
        name: excludeCloudProviderIDs
        required: false
        schema:
          description: The cloud provider IDs to exclude from the cost data
          example: "infra-12345678,infra-23456789"
          type: string
        style: form
      - allowEmptyValue: true
        description: The region IDs to include in the cost data
        example: "region-12345678,region-23456789"
        explode: true
        in: query
        name: includeRegionIDs
        required: false
        schema:
          description: The region IDs to include in the cost data
          example: "region-12345678,region-23456789"
          type: string
        style: form
      - allowEmptyValue: true
        description: The region IDs to exclude from the cost data
        example: "region-12345678,region-23456789"
        explode: true
        in: query
        name: excludeRegionIDs
        required: false
        schema:
          description: The region IDs to exclude from the cost data
          example: "region-12345678,region-23456789"
          type: string
        style: form
      - allowEmptyValue: true
        description: The deployment cell IDs to include in the cost data
        example: "hc-12345678,hc-23456789"
        explode: true
        in: query
        name: includeDeploymentCellIDs
        required: false
        schema:
          description: The deployment cell IDs to include in the cost data
          example: "hc-12345678,hc-23456789"
          type: string
        style: form
      - allowEmptyValue: true
        description: The deployment cell IDs to exclude from the cost data
        example: "hc-12345678,hc-23456789"
        explode: true
        in: query
        name: excludeDeploymentCellIDs
        required: false
        schema:
          description: The deployment cell IDs to exclude from the cost data
          example: "hc-12345678,hc-23456789"
          type: string
        style: form
      - allowEmptyValue: true
        description: The instance IDs to include in the cost data
        example: "instance-12345678,instance-23456789"
        explode: true
        in: query
        name: includeInstanceIDs
        required: false
        schema:
          description: The instance IDs to include in the cost data
          example: "instance-12345678,instance-23456789"
          type: string
        style: form
      - allowEmptyValue: true
        description: The instance IDs to exclude from the cost data
        example: "instance-12345678,instance-23456789"
        explode: true
        in: query
        name: excludeInstanceIDs
        required: false
        schema:
          description: The instance IDs to exclude from the cost data
          example: "instance-12345678,instance-23456789"
          type: string
        style: form
      - allowEmptyValue: true
        description: The number of top instances to include in the cost data
        example: 10
        explode: true
        in: query
        name: topNInstances
        required: false
        schema:
          description: The number of top instances to include in the cost data
          example: 10
          format: int64
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                deploymentCellCosts:
                  hc-abcdefgh:
                    cloudProviderName: aws
                    cost:
                    - cost: 100
                      date: 2023-01-01T10:00:00Z
                    - cost: 200
                      date: 2023-01-02T10:00:00Z
                    - cost: 145
                      date: 2023-01-03T10:00:00Z
                    instancesCost:
                    - cloudProviderName: aws
                      instanceID: instance-12345678
                      isDeleted: false
                      productTierID: pt-12345678
                      productTierName: Standard
                      productTierTenancyType: OMNISTRATE_DEDICATED_TENANCY
                      regionName: us-west-2
                      serviceEnvironmentID: se-12345678
                      serviceID: s-12345678
                      subscriptionID: sub-12345678
                      totalCost: 100
                      utilization: 50
                    regionName: us-west-2
                    totalCost: 445
              schema:
                $ref: "#/components/schemas/DescribeDeploymentCellCostResult"
          description: OK response.
        "400":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "bad_request: Response used on a bad request"
        "401":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "auth_failure: Response used on authentication failure"
        "403":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "forbidden: Response used on authorization failure"
        "404":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "not_found: Response used when the requested resource is not\
            \ found"
        "409":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "invalid_state: Response used when requested resource is in\
            \ an invalid state for this operation"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "failed_request: Response used on failure to process the request"
      security:
      - api_key_header_Authorization: []
      summary: DescribeDeploymentCellCost cost-api
      tags:
      - cost-api
  /2022-09-01-00/fleet/cost/region:
    get:
      description: Get the total cost of operating a fleet in a region
      operationId: cost-api#DescribeRegionCost
      parameters:
      - allowEmptyValue: true
        description: The start date of the range
        example: 2023-01-01T10:00:00Z
        explode: true
        in: query
        name: startDate
        required: true
        schema:
          description: "Start time of the window in RFC 3339 format. If omitted, the\
            \ filter is open-ended at the start."
          example: 2023-01-01T10:00:00Z
          format: date-time
          type: string
        style: form
      - allowEmptyValue: true
        description: The end date of the range
        example: 2024-01-01T10:00:00Z
        explode: true
        in: query
        name: endDate
        required: true
        schema:
          description: "End time of the window in RFC 3339 format. If omitted, the\
            \ filter is open-ended at the start."
          example: 2024-01-01T10:00:00Z
          format: date-time
          type: string
        style: form
      - allowEmptyValue: true
        description: The type of environment to filter costs by
        example: DEV
        explode: true
        in: query
        name: environmentType
        required: true
        schema:
          description: The type of service environment
          example: PROD|PRIVATE|CANARY|STAGING|QA|DEV
          type: string
        style: form
      - allowEmptyValue: true
        description: The frequency of the cost data
        example: DAILY|MONTHLY
        explode: true
        in: query
        name: frequency
        required: true
        schema:
          description: The frequency of the cost data
          example: DAILY|MONTHLY
          type: string
        style: form
      - allowEmptyValue: true
        description: The cloud provider IDs to include in the cost data
        example: "infra-12345678,infra-23456789"
        explode: true
        in: query
        name: includeCloudProviderIDs
        required: false
        schema:
          description: The cloud provider IDs to include in the cost data
          example: "infra-12345678,infra-23456789"
          type: string
        style: form
      - allowEmptyValue: true
        description: The cloud provider IDs to exclude from the cost data
        example: "infra-12345678,infra-23456789"
        explode: true
        in: query
        name: excludeCloudProviderIDs
        required: false
        schema:
          description: The cloud provider IDs to exclude from the cost data
          example: "infra-12345678,infra-23456789"
          type: string
        style: form
      - allowEmptyValue: true
        description: The region IDs to include in the cost data
        example: "region-12345678,region-23456789"
        explode: true
        in: query
        name: includeRegionIDs
        required: false
        schema:
          description: The region IDs to include in the cost data
          example: "region-12345678,region-23456789"
          type: string
        style: form
      - allowEmptyValue: true
        description: The region IDs to exclude from the cost data
        example: "region-12345678,region-23456789"
        explode: true
        in: query
        name: excludeRegionIDs
        required: false
        schema:
          description: The region IDs to exclude from the cost data
          example: "region-12345678,region-23456789"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                regionCosts:
                  region-abcdefgh:
                    cloudProviderName: aws
                    cost:
                    - cost: 100
                      date: 2023-01-01T10:00:00Z
                    - cost: 200
                      date: 2023-01-02T10:00:00Z
                    - cost: 145
                      date: 2023-01-03T10:00:00Z
                    regionName: us-west-2
                    totalCost: 445
              schema:
                $ref: "#/components/schemas/DescribeRegionCostResult"
          description: OK response.
        "400":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "bad_request: Response used on a bad request"
        "401":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "auth_failure: Response used on authentication failure"
        "403":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "forbidden: Response used on authorization failure"
        "404":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "not_found: Response used when the requested resource is not\
            \ found"
        "409":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "invalid_state: Response used when requested resource is in\
            \ an invalid state for this operation"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "failed_request: Response used on failure to process the request"
      security:
      - api_key_header_Authorization: []
      summary: DescribeRegionCost cost-api
      tags:
      - cost-api
  /2022-09-01-00/fleet/cost/user:
    get:
      description: Get the total cost of operating a fleet for a user
      operationId: cost-api#DescribeUserCost
      parameters:
      - allowEmptyValue: true
        description: The start date of the range
        example: 2023-01-01T10:00:00Z
        explode: true
        in: query
        name: startDate
        required: true
        schema:
          description: "Start time of the window in RFC 3339 format. If omitted, the\
            \ filter is open-ended at the start."
          example: 2023-01-01T10:00:00Z
          format: date-time
          type: string
        style: form
      - allowEmptyValue: true
        description: The end date of the range
        example: 2024-01-01T10:00:00Z
        explode: true
        in: query
        name: endDate
        required: true
        schema:
          description: "End time of the window in RFC 3339 format. If omitted, the\
            \ filter is open-ended at the start."
          example: 2024-01-01T10:00:00Z
          format: date-time
          type: string
        style: form
      - allowEmptyValue: true
        description: The type of environment to filter costs by
        example: DEV
        explode: true
        in: query
        name: environmentType
        required: true
        schema:
          description: The type of service environment
          example: PROD|PRIVATE|CANARY|STAGING|QA|DEV
          type: string
        style: form
      - allowEmptyValue: true
        description: The user IDs to include in the cost data
        example: "user-12345678,user-23456789"
        explode: true
        in: query
        name: includeUserIDs
        required: false
        schema:
          description: The user IDs to include in the cost data
          example: "user-12345678,user-23456789"
          type: string
        style: form
      - allowEmptyValue: true
        description: The user IDs to exclude from the cost data
        example: user-23456789
        explode: true
        in: query
        name: excludeUserIDs
        required: false
        schema:
          description: The user IDs to exclude from the cost data
          example: user-23456789
          type: string
        style: form
      - allowEmptyValue: true
        description: The number of top users to include in the cost data
        example: 10
        explode: true
        in: query
        name: topNUsers
        required: false
        schema:
          description: The number of top users to include in the cost data
          example: 10
          format: int64
          type: integer
        style: form
      - allowEmptyValue: true
        description: The number of top instances to include in the cost data
        example: 10
        explode: true
        in: query
        name: topNInstances
        required: false
        schema:
          description: The number of top instances to include in the cost data
          example: 10
          format: int64
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                userCosts:
                  user-abcdefgh:
                    cost:
                    - cost: 100
                      date: 2023-01-01T10:00:00Z
                    - cost: 200
                      date: 2023-01-02T10:00:00Z
                    - cost: 145
                      date: 2023-01-03T10:00:00Z
                    email: admin@example.com
                    instancesCost:
                    - cloudProviderName: aws
                      instanceID: instance-12345678
                      isDeleted: false
                      productTierID: pt-12345678
                      productTierName: Standard
                      productTierTenancyType: OMNISTRATE_DEDICATED_TENANCY
                      regionName: us-west-2
                      serviceEnvironmentID: se-12345678
                      serviceID: s-12345678
                      subscriptionID: sub-12345678
                      totalCost: 100
                      utilization: 50
                    orgID: org-12345678
                    orgName: Acme Corp
                    totalCost: 445
                    userName: John Doe
              schema:
                $ref: "#/components/schemas/DescribeUserCostResult"
          description: OK response.
        "400":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "bad_request: Response used on a bad request"
        "401":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "auth_failure: Response used on authentication failure"
        "403":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "forbidden: Response used on authorization failure"
        "404":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "not_found: Response used when the requested resource is not\
            \ found"
        "409":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "invalid_state: Response used when requested resource is in\
            \ an invalid state for this operation"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "failed_request: Response used on failure to process the request"
      security:
      - api_key_header_Authorization: []
      summary: DescribeUserCost cost-api
      tags:
      - cost-api
  /2022-09-01-00/fleet/custom-network:
    get:
      operationId: fleet-custom-network-api#ListCustomNetworks
      parameters:
      - allowEmptyValue: true
        description: The name of the cloud provider that custom network should be
          created in
        example: aws
        explode: true
        in: query
        name: cloudProviderName
        required: false
        schema:
          description: Name of the Infra Provider
          example: aws|azure|gcp|all
          type: string
        style: form
      - allowEmptyValue: true
        description: The region of the cloud provider that the network should be created
          in
        example: us-east-1
        explode: true
        in: query
        name: cloudProviderRegion
        required: false
        schema:
          description: The region of the cloud provider that the network should be
            created in
          example: us-east-1
          type: string
        style: form
      - allowEmptyValue: true
        description: "Flag indicating whether to return only custom networks, or to\
          \ include default and imported networks as well"
        example: false
        explode: true
        in: query
        name: customNetworksOnly
        required: false
        schema:
          description: "Flag indicating whether to return only custom networks, or\
            \ to include default and imported networks as well"
          example: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                customNetworks:
                - cidr: 10.0.0.0/16
                  cloudProviderName: aws
                  cloudProviderRegion: us-east-1
                  id: n-12345678
                  name: Prod us-east-1
                  networkDefinitionType: Custom
                  networkFeaturesConfiguration:
                    isPrivateLinkEnabled: true
                  networkInstances:
                  - awsAccountID: "123456789012"
                    azureSubscriptionID: 12345678-1234-1234-1234-123456789012
                    azureTenantID: 12345678-1234-1234-1234-123456789012
                    cloudProviderNativeNetworkId: vpc-12345678
                    gcpProjectID: my-project
                    gcpProjectNumber: "123456789012"
                    hostClusterID: hc-12345678
                  - awsAccountID: "123456789012"
                    azureSubscriptionID: 12345678-1234-1234-1234-123456789012
                    azureTenantID: 12345678-1234-1234-1234-123456789012
                    cloudProviderNativeNetworkId: vpc-12345678
                    gcpProjectID: my-project
                    gcpProjectNumber: "123456789012"
                    hostClusterID: hc-12345678
                  - awsAccountID: "123456789012"
                    azureSubscriptionID: 12345678-1234-1234-1234-123456789012
                    azureTenantID: 12345678-1234-1234-1234-123456789012
                    cloudProviderNativeNetworkId: vpc-12345678
                    gcpProjectID: my-project
                    gcpProjectNumber: "123456789012"
                    hostClusterID: hc-12345678
                  owningOrgID: org-12345678
                  owningOrgName: my-customer
                  owningUserID: user-12345678
                  owningUserName: Jane Doe
                - cidr: 10.0.0.0/16
                  cloudProviderName: aws
                  cloudProviderRegion: us-east-1
                  id: n-12345678
                  name: Prod us-east-1
                  networkDefinitionType: Custom
                  networkFeaturesConfiguration:
                    isPrivateLinkEnabled: true
                  networkInstances:
                  - awsAccountID: "123456789012"
                    azureSubscriptionID: 12345678-1234-1234-1234-123456789012
                    azureTenantID: 12345678-1234-1234-1234-123456789012
                    cloudProviderNativeNetworkId: vpc-12345678
                    gcpProjectID: my-project
                    gcpProjectNumber: "123456789012"
                    hostClusterID: hc-12345678
                  - awsAccountID: "123456789012"
                    azureSubscriptionID: 12345678-1234-1234-1234-123456789012
                    azureTenantID: 12345678-1234-1234-1234-123456789012
                    cloudProviderNativeNetworkId: vpc-12345678
                    gcpProjectID: my-project
                    gcpProjectNumber: "123456789012"
                    hostClusterID: hc-12345678
                  - awsAccountID: "123456789012"
                    azureSubscriptionID: 12345678-1234-1234-1234-123456789012
                    azureTenantID: 12345678-1234-1234-1234-123456789012
                    cloudProviderNativeNetworkId: vpc-12345678
                    gcpProjectID: my-project
                    gcpProjectNumber: "123456789012"
                    hostClusterID: hc-12345678
                  owningOrgID: org-12345678
                  owningOrgName: my-customer
                  owningUserID: user-12345678
                  owningUserName: Jane Doe
              schema:
                $ref: "#/components/schemas/FleetListCustomNetworksResult"
          description: OK response.
        "400":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "bad_request: Response used on a bad request"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "failed_request: Response used on failure to list custom networks"
      security:
      - api_key_header_Authorization: []
      summary: ListCustomNetworks fleet-custom-network-api
      tags:
      - fleet-custom-network-api
    post:
      operationId: fleet-custom-network-api#CreateCustomNetwork
      requestBody:
        content:
          application/json:
            example:
              cidr: 10.0.0.0/16
              cloudProviderName: aws
              cloudProviderRegion: us-east-1
              name: Prod us-east-1
              networkFeaturesConfiguration:
                isPrivateLinkEnabled: true
            schema:
              $ref: "#/components/schemas/FleetCreateCustomNetworkRequest2"
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                cidr: 10.0.0.0/16
                cloudProviderName: aws
                cloudProviderRegion: us-east-1
                id: n-12345678
                name: Prod us-east-1
                networkDefinitionType: Custom
                networkFeaturesConfiguration:
                  isPrivateLinkEnabled: true
                networkInstances:
                - awsAccountID: "123456789012"
                  azureSubscriptionID: 12345678-1234-1234-1234-123456789012
                  azureTenantID: 12345678-1234-1234-1234-123456789012
                  cloudProviderNativeNetworkId: vpc-12345678
                  gcpProjectID: my-project
                  gcpProjectNumber: "123456789012"
                  hostClusterID: hc-12345678
                - awsAccountID: "123456789012"
                  azureSubscriptionID: 12345678-1234-1234-1234-123456789012
                  azureTenantID: 12345678-1234-1234-1234-123456789012
                  cloudProviderNativeNetworkId: vpc-12345678
                  gcpProjectID: my-project
                  gcpProjectNumber: "123456789012"
                  hostClusterID: hc-12345678
                owningOrgID: org-12345678
                owningOrgName: my-customer
                owningUserID: user-12345678
                owningUserName: Jane Doe
              schema:
                $ref: "#/components/schemas/FleetCustomNetwork"
          description: OK response.
        "400":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "bad_request: Response used on a bad request"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "failed_request: Response used on failure to create a custom\
            \ network"
      security:
      - api_key_header_Authorization: []
      summary: CreateCustomNetwork fleet-custom-network-api
      tags:
      - fleet-custom-network-api
  /2022-09-01-00/fleet/custom-network/{id}:
    delete:
      operationId: fleet-custom-network-api#DeleteCustomNetwork
      parameters:
      - description: ID of a custom network
        example: n-12345678
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: ID of a custom network
          example: Qui fugiat officiis consequatur itaque ut voluptatum.
          type: string
        style: simple
      responses:
        "200":
          description: OK response.
        "400":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "bad_request: Response used on a bad request to delete a custom\
            \ network"
        "404":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "not_found: Response used when the requested custom network\
            \ is not found"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "failed_request: Response used on failure to delete a custom\
            \ network"
      security:
      - api_key_header_Authorization: []
      summary: DeleteCustomNetwork fleet-custom-network-api
      tags:
      - fleet-custom-network-api
    get:
      operationId: fleet-custom-network-api#DescribeCustomNetwork
      parameters:
      - description: ID of a custom network
        example: n-12345678
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: ID of a custom network
          example: Voluptatibus quibusdam qui enim labore rem.
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                cidr: 10.0.0.0/16
                cloudProviderName: aws
                cloudProviderRegion: us-east-1
                id: n-12345678
                name: Prod us-east-1
                networkDefinitionType: Custom
                networkFeaturesConfiguration:
                  isPrivateLinkEnabled: true
                networkInstances:
                - awsAccountID: "123456789012"
                  azureSubscriptionID: 12345678-1234-1234-1234-123456789012
                  azureTenantID: 12345678-1234-1234-1234-123456789012
                  cloudProviderNativeNetworkId: vpc-12345678
                  gcpProjectID: my-project
                  gcpProjectNumber: "123456789012"
                  hostClusterID: hc-12345678
                - awsAccountID: "123456789012"
                  azureSubscriptionID: 12345678-1234-1234-1234-123456789012
                  azureTenantID: 12345678-1234-1234-1234-123456789012
                  cloudProviderNativeNetworkId: vpc-12345678
                  gcpProjectID: my-project
                  gcpProjectNumber: "123456789012"
                  hostClusterID: hc-12345678
                - awsAccountID: "123456789012"
                  azureSubscriptionID: 12345678-1234-1234-1234-123456789012
                  azureTenantID: 12345678-1234-1234-1234-123456789012
                  cloudProviderNativeNetworkId: vpc-12345678
                  gcpProjectID: my-project
                  gcpProjectNumber: "123456789012"
                  hostClusterID: hc-12345678
                owningOrgID: org-12345678
                owningOrgName: my-customer
                owningUserID: user-12345678
                owningUserName: Jane Doe
              schema:
                $ref: "#/components/schemas/FleetCustomNetwork"
          description: OK response.
        "400":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "bad_request: Response used on a bad request to describe a\
            \ custom network"
        "404":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "not_found: Response used when the requested custom network\
            \ is not found"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "failed_request: Response used on failure to describe a custom\
            \ network"
      security:
      - api_key_header_Authorization: []
      summary: DescribeCustomNetwork fleet-custom-network-api
      tags:
      - fleet-custom-network-api
    patch:
      operationId: fleet-custom-network-api#UpdateCustomNetwork
      parameters:
      - description: ID of a custom network
        example: n-12345678
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: ID of a custom network
          example: Sapiente voluptatem animi deserunt molestias.
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              name: Dev us-east-1
            schema:
              $ref: "#/components/schemas/FleetUpdateCustomNetworkRequest2"
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                cidr: 10.0.0.0/16
                cloudProviderName: aws
                cloudProviderRegion: us-east-1
                id: n-12345678
                name: Prod us-east-1
                networkDefinitionType: Custom
                networkFeaturesConfiguration:
                  isPrivateLinkEnabled: true
                networkInstances:
                - awsAccountID: "123456789012"
                  azureSubscriptionID: 12345678-1234-1234-1234-123456789012
                  azureTenantID: 12345678-1234-1234-1234-123456789012
                  cloudProviderNativeNetworkId: vpc-12345678
                  gcpProjectID: my-project
                  gcpProjectNumber: "123456789012"
                  hostClusterID: hc-12345678
                - awsAccountID: "123456789012"
                  azureSubscriptionID: 12345678-1234-1234-1234-123456789012
                  azureTenantID: 12345678-1234-1234-1234-123456789012
                  cloudProviderNativeNetworkId: vpc-12345678
                  gcpProjectID: my-project
                  gcpProjectNumber: "123456789012"
                  hostClusterID: hc-12345678
                - awsAccountID: "123456789012"
                  azureSubscriptionID: 12345678-1234-1234-1234-123456789012
                  azureTenantID: 12345678-1234-1234-1234-123456789012
                  cloudProviderNativeNetworkId: vpc-12345678
                  gcpProjectID: my-project
                  gcpProjectNumber: "123456789012"
                  hostClusterID: hc-12345678
                owningOrgID: org-12345678
                owningOrgName: my-customer
                owningUserID: user-12345678
                owningUserName: Jane Doe
              schema:
                $ref: "#/components/schemas/FleetCustomNetwork"
          description: OK response.
        "400":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "bad_request: Response used on a bad request"
        "404":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "not_found: Response used when the requested custom network\
            \ is not found"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "failed_request: Response used on failure to create a custom\
            \ network"
      security:
      - api_key_header_Authorization: []
      summary: UpdateCustomNetwork fleet-custom-network-api
      tags:
      - fleet-custom-network-api
  /2022-09-01-00/fleet/customer-onboarding:
    get:
      operationId: customer-onboardings-api#ListCustomerOnboardings
      parameters:
      - allowEmptyValue: true
        description: Whether to return only pending onboardings.
        example: true
        explode: true
        in: query
        name: pendingOnly
        required: false
        schema:
          description: Whether to return only pending onboardings.
          example: true
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                onboardings:
                - id: onboarding-1234567890
                  isCompleted: true
                  name: My Onboarding
                  orgId: org-1234567890
                  serviceId: service-1234567890
                  stages:
                  - name: ConfigureAccounts|BuildSaaS|LaunchSaaS
                    status: NOT_STARTED|COMPLETE|SKIPPED
                  - name: ConfigureAccounts|BuildSaaS|LaunchSaaS
                    status: NOT_STARTED|COMPLETE|SKIPPED
                  userId: user-1234567890
                - id: onboarding-1234567890
                  isCompleted: true
                  name: My Onboarding
                  orgId: org-1234567890
                  serviceId: service-1234567890
                  stages:
                  - name: ConfigureAccounts|BuildSaaS|LaunchSaaS
                    status: NOT_STARTED|COMPLETE|SKIPPED
                  - name: ConfigureAccounts|BuildSaaS|LaunchSaaS
                    status: NOT_STARTED|COMPLETE|SKIPPED
                  userId: user-1234567890
              schema:
                $ref: "#/components/schemas/ListCustomerOnboardingResult"
          description: OK response.
        "400":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "bad_request: Response used on a bad request"
        "401":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "auth_failure: Response used on authentication failure"
        "403":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "forbidden: Response used on authorization failure"
        "404":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "not_found: Response used when the requested resource is not\
            \ found"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "failed_request: Internal Server Error response."
      security:
      - api_key_header_Authorization: []
      summary: ListCustomerOnboardings customer-onboardings-api
      tags:
      - customer-onboardings-api
    post:
      operationId: customer-onboardings-api#CreateCustomerOnboarding
      requestBody:
        content:
          application/json:
            example:
              name: Odio magni sed vitae assumenda qui.
            schema:
              $ref: "#/components/schemas/CreateCustomerOnboardingRequest2"
        required: true
      responses:
        "200":
          content:
            application/json:
              example: Ad non est dolor ducimus.
              schema:
                example: Suscipit quasi qui eum.
                type: string
          description: OK response.
        "400":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "bad_request: Response used on a bad request"
        "401":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "auth_failure: Response used on authentication failure"
        "403":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "forbidden: Response used on authorization failure"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "failed_request: Internal Server Error response."
      security:
      - api_key_header_Authorization: []
      summary: CreateCustomerOnboarding customer-onboardings-api
      tags:
      - customer-onboardings-api
  /2022-09-01-00/fleet/customer-onboarding-stages:
    get:
      operationId: customer-onboardings-api#ListCustomerOnboardingStages
      responses:
        "200":
          content:
            application/json:
              example:
                stages:
                - name: ConfigureAccounts|BuildSaaS|LaunchSaaS
                  status: NOT_STARTED|COMPLETE|SKIPPED
                - name: ConfigureAccounts|BuildSaaS|LaunchSaaS
                  status: NOT_STARTED|COMPLETE|SKIPPED
              schema:
                $ref: "#/components/schemas/ListCustomerOnboardingStagesResult"
          description: OK response.
        "401":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "auth_failure: Response used on authentication failure"
        "403":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "forbidden: Response used on authorization failure"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "failed_request: Internal Server Error response."
      security:
      - api_key_header_Authorization: []
      summary: ListCustomerOnboardingStages customer-onboardings-api
      tags:
      - customer-onboardings-api
  /2022-09-01-00/fleet/customer-onboarding/{id}:
    delete:
      operationId: customer-onboardings-api#DeleteCustomerOnboarding
      parameters:
      - description: The ID of the onboarding.
        example: onboarding-1234567890
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: ID of a Customer Onboarding
          example: Corrupti ad.
          type: string
        style: simple
      responses:
        "200":
          description: OK response.
        "400":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "bad_request: Response used on a bad request"
        "401":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "auth_failure: Response used on authentication failure"
        "403":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "forbidden: Response used on authorization failure"
        "404":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "not_found: Response used when the requested resource is not\
            \ found"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "failed_request: Internal Server Error response."
      security:
      - api_key_header_Authorization: []
      summary: DeleteCustomerOnboarding customer-onboardings-api
      tags:
      - customer-onboardings-api
    get:
      operationId: customer-onboardings-api#DescribeCustomerOnboarding
      parameters:
      - description: The ID of the onboarding.
        example: onboarding-1234567890
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: ID of a Customer Onboarding
          example: Consectetur ducimus temporibus officiis harum cupiditate totam.
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                id: onboarding-1234567890
                isCompleted: true
                name: My Onboarding
                orgId: org-1234567890
                serviceId: service-1234567890
                stages:
                - name: ConfigureAccounts|BuildSaaS|LaunchSaaS
                  status: NOT_STARTED|COMPLETE|SKIPPED
                - name: ConfigureAccounts|BuildSaaS|LaunchSaaS
                  status: NOT_STARTED|COMPLETE|SKIPPED
                userId: user-1234567890
              schema:
                $ref: "#/components/schemas/CustomerOnboarding"
          description: OK response.
        "400":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "bad_request: Response used on a bad request"
        "401":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "auth_failure: Response used on authentication failure"
        "403":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "forbidden: Response used on authorization failure"
        "404":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "not_found: Response used when the requested resource is not\
            \ found"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "failed_request: Internal Server Error response."
      security:
      - api_key_header_Authorization: []
      summary: DescribeCustomerOnboarding customer-onboardings-api
      tags:
      - customer-onboardings-api
    patch:
      operationId: customer-onboardings-api#UpdateCustomerOnboarding
      parameters:
      - description: The ID of the onboarding.
        example: onboarding-1234567890
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: ID of a Customer Onboarding
          example: Corrupti dolorem at quos.
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              serviceId: service-1234567890
              stage:
                name: ConfigureAccounts
                status: Skipped
            schema:
              $ref: "#/components/schemas/UpdateCustomerOnboardingRequest2"
        required: true
      responses:
        "200":
          description: OK response.
        "400":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "bad_request: Response used on a bad request"
        "401":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "auth_failure: Response used on authentication failure"
        "403":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "forbidden: Response used on authorization failure"
        "404":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "not_found: Response used when the requested resource is not\
            \ found"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "failed_request: Internal Server Error response."
      security:
      - api_key_header_Authorization: []
      summary: UpdateCustomerOnboarding customer-onboardings-api
      tags:
      - customer-onboardings-api
  /2022-09-01-00/fleet/events:
    get:
      operationId: events-api#ListEvents
      parameters:
      - allowEmptyValue: true
        description: The environment type to filter by
        example: DEV
        explode: true
        in: query
        name: environmentType
        required: false
        schema:
          description: The type of service environment
          example: PROD|PRIVATE|CANARY|STAGING|QA|DEV
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                events:
                - eventID: e-123456
                  eventPayload:
                    eventType: CustomerSignUp
                    token: "123456"
                  eventType: InviteUser
                  orgID: o-123456
                  orgName: Acme Corp
                  orgURL: https://acme.com
                  priority: Critical
                  time: 2023-01-10T00:00:00Z
                  userEmail: user@example.com
                  userID: user-123456
                  userName: user
                - eventID: e-123456
                  eventPayload:
                    eventType: CustomerSignUp
                    token: "123456"
                  eventType: InviteUser
                  orgID: o-123456
                  orgName: Acme Corp
                  orgURL: https://acme.com
                  priority: Critical
                  time: 2023-01-10T00:00:00Z
                  userEmail: user@example.com
                  userID: user-123456
                  userName: user
              schema:
                $ref: "#/components/schemas/ListEndCustomerEventsResult"
          description: OK response.
        "400":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "bad_request: Response used on a bad request"
        "401":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "auth_failure: Response used on authentication failure"
        "403":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "forbidden: Response used on authorization failure"
        "404":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "not_found: Response used when the requested resource is not\
            \ found"
        "409":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "invalid_state: Response used when requested resource is in\
            \ an invalid state for this operation"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "failed_request: Response used on failure to list events"
      security:
      - api_key_header_Authorization: []
      summary: ListEvents events-api
      tags:
      - events-api
  /2022-09-01-00/fleet/events/{id}:
    delete:
      operationId: events-api#AcknowledgeEvent
      parameters:
      - description: The ID of the event
        example: e-123456
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: ID of a Event
          example: Rerum nulla veniam perspiciatis voluptate deleniti placeat.
          type: string
        style: simple
      responses:
        "200":
          description: OK response.
        "400":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "bad_request: Response used on a bad request"
        "401":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "auth_failure: Response used on authentication failure"
        "403":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "forbidden: Response used on authorization failure"
        "404":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "not_found: Response used when the requested resource is not\
            \ found"
        "409":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "invalid_state: Response used when requested resource is in\
            \ an invalid state for this operation"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "failed_request: Response used on failure to list events."
      security:
      - api_key_header_Authorization: []
      summary: AcknowledgeEvent events-api
      tags:
      - events-api
  /2022-09-01-00/fleet/helm-package-installations:
    get:
      operationId: helm-package-api#ListHelmPackageInstallations
      parameters:
      - allowEmptyValue: true
        description: The host cluster ID to list helm packages for
        example: hc-12345678
        explode: true
        in: query
        name: hostClusterID
        required: false
        schema:
          description: ID of a Host Cluster
          example: Omnis et et ullam ut ea.
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                helmPackageInstallations:
                - helmPackage:
                    chartName: my-chart
                    chartRepoName: my-repo
                    chartRepoUrl: https://my-repo.com
                    chartValues:
                      key1: value1
                      key2: 3
                      key3:
                        key4: value4
                    chartVersion: 1.0.0
                    layeredChartValues:
                    - name: my-layer
                      scope:
                        '{{ $sys.cloudProviderName }}': aws
                      values:
                        global:
                          affinity:
                            nodeAffinity:
                              requiredDuringSchedulingIgnoredDuringExecution:
                                nodeSelectorTerms:
                                - matchExpressions:
                                  - key: omnistrate.com/managed-by
                                    operator: In
                                    values:
                                    - omnistrate
                      valuesFile:
                        gitConfiguration:
                          accessToken: my-token
                          commitSHA: 1e386b5f54de9150d336ccfe2e14782b94faf67c
                          referenceName: tags/v1.0.0
                          repositoryUrl: https://github.com/username/myrepo
                          userName: my-user
                        path: helm/values/production.yaml
                    - name: my-layer
                      scope:
                        '{{ $sys.cloudProviderName }}': aws
                      values:
                        global:
                          affinity:
                            nodeAffinity:
                              requiredDuringSchedulingIgnoredDuringExecution:
                                nodeSelectorTerms:
                                - matchExpressions:
                                  - key: omnistrate.com/managed-by
                                    operator: In
                                    values:
                                    - omnistrate
                      valuesFile:
                        gitConfiguration:
                          accessToken: my-token
                          commitSHA: 1e386b5f54de9150d336ccfe2e14782b94faf67c
                          referenceName: tags/v1.0.0
                          repositoryUrl: https://github.com/username/myrepo
                          userName: my-user
                        path: helm/values/production.yaml
                    namespace: default
                  hostClusterID: hc-12345678
                  status: unknown|deployed|uninstalled|superseded|failed|uninstalling|pending-install|pending-upgrade|pending-rollback
                - helmPackage:
                    chartName: my-chart
                    chartRepoName: my-repo
                    chartRepoUrl: https://my-repo.com
                    chartValues:
                      key1: value1
                      key2: 3
                      key3:
                        key4: value4
                    chartVersion: 1.0.0
                    layeredChartValues:
                    - name: my-layer
                      scope:
                        '{{ $sys.cloudProviderName }}': aws
                      values:
                        global:
                          affinity:
                            nodeAffinity:
                              requiredDuringSchedulingIgnoredDuringExecution:
                                nodeSelectorTerms:
                                - matchExpressions:
                                  - key: omnistrate.com/managed-by
                                    operator: In
                                    values:
                                    - omnistrate
                      valuesFile:
                        gitConfiguration:
                          accessToken: my-token
                          commitSHA: 1e386b5f54de9150d336ccfe2e14782b94faf67c
                          referenceName: tags/v1.0.0
                          repositoryUrl: https://github.com/username/myrepo
                          userName: my-user
                        path: helm/values/production.yaml
                    - name: my-layer
                      scope:
                        '{{ $sys.cloudProviderName }}': aws
                      values:
                        global:
                          affinity:
                            nodeAffinity:
                              requiredDuringSchedulingIgnoredDuringExecution:
                                nodeSelectorTerms:
                                - matchExpressions:
                                  - key: omnistrate.com/managed-by
                                    operator: In
                                    values:
                                    - omnistrate
                      valuesFile:
                        gitConfiguration:
                          accessToken: my-token
                          commitSHA: 1e386b5f54de9150d336ccfe2e14782b94faf67c
                          referenceName: tags/v1.0.0
                          repositoryUrl: https://github.com/username/myrepo
                          userName: my-user
                        path: helm/values/production.yaml
                    namespace: default
                  hostClusterID: hc-12345678
                  status: unknown|deployed|uninstalled|superseded|failed|uninstalling|pending-install|pending-upgrade|pending-rollback
              schema:
                $ref: "#/components/schemas/ListHelmPackageInstallationsResult"
          description: OK response.
        "401":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "auth_failure: Response used on authentication failure"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "failed_request: Internal Server Error response."
      security:
      - api_key_header_Authorization: []
      summary: ListHelmPackageInstallations helm-package-api
      tags:
      - helm-package-api
  /2022-09-01-00/fleet/hooks/{id}:
    post:
      operationId: webhooks-api#ReceiveWebhook
      parameters:
      - description: The unique id per producer.
        example: Ut et omnis.
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: The unique id per producer.
          example: Reprehenderit impedit.
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example: Ratione non sunt voluptatum vero qui excepturi.
            schema:
              description: The event data
              example: Cupiditate sunt totam hic eligendi voluptatibus.
              type: string
        description: The event data
        required: true
      responses:
        "200":
          description: OK response.
        "400":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "bad_request: Response used on a bad request"
        "401":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "auth_failure: Response used on authentication failure"
        "403":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "forbidden: Response used on authorization failure"
        "404":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "not_found: Response used when the requested resource is not\
            \ found"
        "409":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "invalid_state: Response used when requested resource is in\
            \ an invalid state for this operation"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "failed_request: Response used on failure to list events"
      summary: ReceiveWebhook webhooks-api
      tags:
      - webhooks-api
  /2022-09-01-00/fleet/host-cluster/{id}:
    delete:
      description: Delete an empty host cluster.
      operationId: hostcluster-api#DeleteHostCluster
      parameters:
      - description: ID of the host cluster to delete
        example: hc-12345678
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: ID of a Host Cluster
          example: Similique sit odio rerum ut inventore quia.
          type: string
        style: simple
      responses:
        "200":
          description: OK response.
        "400":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "bad_request: Response used on a bad request"
        "401":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "auth_failure: Response used on authentication failure"
        "403":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "forbidden: Response used on authorization failure"
        "404":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "not_found: Response used when the requested resource is not\
            \ found"
        "409":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "invalid_state: Response used when requested resource is in\
            \ an invalid state for this operation"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "failed_request: Response used on failure to delete host cluster."
      security:
      - api_key_header_Authorization: []
      summary: DeleteHostCluster hostcluster-api
      tags:
      - hostcluster-api
    get:
      operationId: hostcluster-api#DescribeHostCluster
      parameters:
      - description: ID of the host cluster to describe
        example: hc-12345678
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: ID of a Host Cluster
          example: Quo eos hic ad.
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                accountConfigId: ac-12345678
                accountID: "123456789012"
                cloudProvider: aws
                currentNumberOfDeployments: 2
                customNetworkDetail:
                  cidr: 10.177.0.0/16
                  id: n-12345678
                  name: Prod us-east-1
                  orgName: Company TM
                customerEmail: admin@example.com
                customerOrganizationName: My Customer Organization
                description: My Host Cluster
                healthStatus:
                  failedEntities:
                  - error: Namespace failed to sync because of missing permissions
                    identifier: namespace-12345
                    syncStatus: FAILED
                    type: NAMESPACE
                  - error: Service unable to setup load balancer
                    identifier: service-67890
                    syncStatus: FAILED
                    type: SERVICE
                helmPackages:
                - firstDeployed: 2021-01-01T00:00:00Z
                  lastDeployed: 2021-01-01T00:00:00Z
                  name: my-helm-package
                  namespace: my-namespace
                  repository: https://my-helm-repo.com
                  status: deployed
                  values:
                    key1: value1
                    key2: value2
                  version: 1.0.0
                id: hc-12345678
                isCustomDeployment: true
                key: my-host-cluster
                kubernetesDashboardEndpoint: https://my-k8s-dashboard.com
                modelType: BYOA
                region: us-east-1
                regionId: region-12345678
                role: Provisioner
                status: READY
                type: Kubernetes
              schema:
                $ref: "#/components/schemas/HostCluster"
          description: OK response.
        "400":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "bad_request: Response used on a bad request"
        "401":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "auth_failure: Response used on authentication failure"
        "403":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "forbidden: Response used on authorization failure"
        "404":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "not_found: Response used when the requested resource is not\
            \ found"
        "409":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "invalid_state: Response used when requested resource is in\
            \ an invalid state for this operation"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "failed_request: Response used on failure to describe host\
            \ cluster."
      security:
      - api_key_header_Authorization: []
      summary: DescribeHostCluster hostcluster-api
      tags:
      - hostcluster-api
  /2022-09-01-00/fleet/host-cluster/{id}/dashboard/token:
    post:
      operationId: hostcluster-api#GenerateTokenForHostClusterDashboard
      parameters:
      - description: ID of the host cluster to delete
        example: hc-12345678
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: ID of a Host Cluster
          example: Distinctio sit facere mollitia amet repudiandae.
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                expirationTimestamp: 2021-01-01T00:00:00Z
                token: token
              schema:
                $ref: "#/components/schemas/GenerateTokenForHostClusterDashboardResult"
          description: OK response.
        "400":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "bad_request: Response used on a bad request"
        "401":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "auth_failure: Response used on authentication failure"
        "403":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "forbidden: Response used on authorization failure"
        "404":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "not_found: Response used when the requested resource is not\
            \ found"
        "409":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "invalid_state: Response used when requested resource is in\
            \ an invalid state for this operation"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
          description: "failed_request: Response used on failure to generate a kubernetes\
            \ dashboard token."
      security:
      - api_key_header_Authorization: []
      summary: GenerateTokenForHostClusterDashboard hostcluster-api
      tags:
      - hostcluster-api
  /2022-09-01-00/fleet/host-cluster/{id}/kubeconfig:
    get:
      description: Retrieve the kubeconfig for a host cluster.
      operationId: hostcluster-api#KubeConfigHostCluster
      parameters:
      - allowEmptyValue: true
        description: The role of the service account to use for the kubeconfig
        example: cluster-admin|cluster-reader
        explode: true
        in: query
        name: role
        required: false
        schema:
          default: cluster-reader
          description: The role of the service account to use for the kubeconfig
          example: cluster-admin|cluster-reader
          type: string
        style: form
      - description: ID of the host cluster to get the kubeconfig for
        example: hc-12345678
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: ID of a Host Cluster
          example: Non et repellat.
          type: string
        style: simple
[...]
