openapi: 3.0.3
info:
  description: REST API for Omnistrate Fleet
  title: Omnistrate Fleet API
  version: 2022-09-01-00
servers:
- url: https://api.omnistrate.cloud
tags:
- description: The set of APIs manage the internal temporal workflows.
  name: fleet-workflows-api
- description: The set of APIs manage the inventory for service providers.
  name: inventory-api
- description: The set of APIs manage the integrations for service providers.
  name: integrations-api
- description: The set of APIs manage the host clusters for service providers.
  name: hostcluster-api
- description: The set of APIs manage the events for service providers.
  name: events-api
- description: The set of APIs manage the operations and observe overall fleet health
    for service providers
  name: operations-api
- name: webhooks-api
- name: fleet-features-api
- name: notifications-api
- name: customer-onboardings-api
- name: helm-package-api
- name: fleet-custom-network-api
paths:
  /2022-09-01-00/fleet/custom-network:
    get:
      operationId: fleet-custom-network-api#ListCustomNetworks
      parameters:
      - allowEmptyValue: true
        description: The name of the cloud provider that custom network should be
          created in
        example: aws
        explode: true
        in: query
        name: cloudProviderName
        required: false
        schema:
          description: Name of the Infra Provider
          example: aws|azure|gcp|all
          type: string
        style: form
      - allowEmptyValue: true
        description: The region of the cloud provider that the network should be created
          in
        example: us-east-1
        explode: true
        in: query
        name: cloudProviderRegion
        required: false
        schema:
          description: The region of the cloud provider that the network should be
            created in
          example: us-east-1
          type: string
        style: form
      - allowEmptyValue: true
        description: "Flag indicating whether to return only custom networks, or to\
          \ include default and imported networks as well"
        example: false
        explode: true
        in: query
        name: customNetworksOnly
        required: false
        schema:
          description: "Flag indicating whether to return only custom networks, or\
            \ to include default and imported networks as well"
          example: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                customNetworks:
                - cidr: 10.0.0.0/16
                  cloudProviderName: aws
                  cloudProviderRegion: us-east-1
                  id: n-12345678
                  name: Prod us-east-1
                  networkDefinitionType: Custom
                  networkFeaturesConfiguration:
                    isPrivateLinkEnabled: false
                  networkInstances:
                  - awsAccountID: "123456789012"
                    cloudProviderNativeNetworkId: vpc-12345678
                    gcpProjectID: my-project
                    gcpProjectNumber: "123456789012"
                    hostClusterID: hc-12345678
                  - awsAccountID: "123456789012"
                    cloudProviderNativeNetworkId: vpc-12345678
                    gcpProjectID: my-project
                    gcpProjectNumber: "123456789012"
                    hostClusterID: hc-12345678
                  owningOrgID: org-12345678
                  owningOrgName: my-customer
                  owningUserID: user-12345678
                  owningUserName: Jane Doe
                - cidr: 10.0.0.0/16
                  cloudProviderName: aws
                  cloudProviderRegion: us-east-1
                  id: n-12345678
                  name: Prod us-east-1
                  networkDefinitionType: Custom
                  networkFeaturesConfiguration:
                    isPrivateLinkEnabled: false
                  networkInstances:
                  - awsAccountID: "123456789012"
                    cloudProviderNativeNetworkId: vpc-12345678
                    gcpProjectID: my-project
                    gcpProjectNumber: "123456789012"
                    hostClusterID: hc-12345678
                  - awsAccountID: "123456789012"
                    cloudProviderNativeNetworkId: vpc-12345678
                    gcpProjectID: my-project
                    gcpProjectNumber: "123456789012"
                    hostClusterID: hc-12345678
                  owningOrgID: org-12345678
                  owningOrgName: my-customer
                  owningUserID: user-12345678
                  owningUserName: Jane Doe
                - cidr: 10.0.0.0/16
                  cloudProviderName: aws
                  cloudProviderRegion: us-east-1
                  id: n-12345678
                  name: Prod us-east-1
                  networkDefinitionType: Custom
                  networkFeaturesConfiguration:
                    isPrivateLinkEnabled: false
                  networkInstances:
                  - awsAccountID: "123456789012"
                    cloudProviderNativeNetworkId: vpc-12345678
                    gcpProjectID: my-project
                    gcpProjectNumber: "123456789012"
                    hostClusterID: hc-12345678
                  - awsAccountID: "123456789012"
                    cloudProviderNativeNetworkId: vpc-12345678
                    gcpProjectID: my-project
                    gcpProjectNumber: "123456789012"
                    hostClusterID: hc-12345678
                  owningOrgID: org-12345678
                  owningOrgName: my-customer
                  owningUserID: user-12345678
                  owningUserName: Jane Doe
              schema:
                $ref: '#/components/schemas/FleetListCustomNetworksResult'
          description: OK response.
        "400":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "bad_request: Response used on a bad request"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "failed_request: Response used on failure to list custom networks"
      security:
      - api_key_header_Authorization: []
      summary: ListCustomNetworks fleet-custom-network-api
      tags:
      - fleet-custom-network-api
    post:
      operationId: fleet-custom-network-api#CreateCustomNetwork
      requestBody:
        content:
          application/json:
            example:
              cidr: 10.0.0.0/16
              cloudProviderName: aws
              cloudProviderRegion: us-east-1
              name: Prod us-east-1
              networkFeaturesConfiguration:
                isPrivateLinkEnabled: false
            schema:
              $ref: '#/components/schemas/CreateCustomNetworkRequest2'
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                cidr: 10.0.0.0/16
                cloudProviderName: aws
                cloudProviderRegion: us-east-1
                id: n-12345678
                name: Prod us-east-1
                networkDefinitionType: Custom
                networkFeaturesConfiguration:
                  isPrivateLinkEnabled: false
                networkInstances:
                - awsAccountID: "123456789012"
                  cloudProviderNativeNetworkId: vpc-12345678
                  gcpProjectID: my-project
                  gcpProjectNumber: "123456789012"
                  hostClusterID: hc-12345678
                - awsAccountID: "123456789012"
                  cloudProviderNativeNetworkId: vpc-12345678
                  gcpProjectID: my-project
                  gcpProjectNumber: "123456789012"
                  hostClusterID: hc-12345678
                owningOrgID: org-12345678
                owningOrgName: my-customer
                owningUserID: user-12345678
                owningUserName: Jane Doe
              schema:
                $ref: '#/components/schemas/FleetCustomNetwork'
          description: OK response.
        "400":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "bad_request: Response used on a bad request"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "failed_request: Response used on failure to create a custom\
            \ network"
      security:
      - api_key_header_Authorization: []
      summary: CreateCustomNetwork fleet-custom-network-api
      tags:
      - fleet-custom-network-api
  /2022-09-01-00/fleet/custom-network/{id}:
    delete:
      operationId: fleet-custom-network-api#DeleteCustomNetwork
      parameters:
      - description: ID of a custom network
        example: n-12345678
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: ID of a custom network
          example: Architecto illum molestiae.
          type: string
        style: simple
      responses:
        "200":
          description: OK response.
        "400":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "bad_request: Response used on a bad request to delete a custom\
            \ network"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "failed_request: Response used on failure to delete a custom\
            \ network"
      security:
      - api_key_header_Authorization: []
      summary: DeleteCustomNetwork fleet-custom-network-api
      tags:
      - fleet-custom-network-api
    get:
      operationId: fleet-custom-network-api#DescribeCustomNetwork
      parameters:
      - description: ID of a custom network
        example: n-12345678
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: ID of a custom network
          example: Distinctio nisi aperiam est est ab voluptates.
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                cidr: 10.0.0.0/16
                cloudProviderName: aws
                cloudProviderRegion: us-east-1
                id: n-12345678
                name: Prod us-east-1
                networkDefinitionType: Custom
                networkFeaturesConfiguration:
                  isPrivateLinkEnabled: false
                networkInstances:
                - awsAccountID: "123456789012"
                  cloudProviderNativeNetworkId: vpc-12345678
                  gcpProjectID: my-project
                  gcpProjectNumber: "123456789012"
                  hostClusterID: hc-12345678
                - awsAccountID: "123456789012"
                  cloudProviderNativeNetworkId: vpc-12345678
                  gcpProjectID: my-project
                  gcpProjectNumber: "123456789012"
                  hostClusterID: hc-12345678
                - awsAccountID: "123456789012"
                  cloudProviderNativeNetworkId: vpc-12345678
                  gcpProjectID: my-project
                  gcpProjectNumber: "123456789012"
                  hostClusterID: hc-12345678
                - awsAccountID: "123456789012"
                  cloudProviderNativeNetworkId: vpc-12345678
                  gcpProjectID: my-project
                  gcpProjectNumber: "123456789012"
                  hostClusterID: hc-12345678
                owningOrgID: org-12345678
                owningOrgName: my-customer
                owningUserID: user-12345678
                owningUserName: Jane Doe
              schema:
                $ref: '#/components/schemas/FleetCustomNetwork'
          description: OK response.
        "400":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "bad_request: Response used on a bad request to describe a\
            \ custom network"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "failed_request: Response used on failure to describe a custom\
            \ network"
      security:
      - api_key_header_Authorization: []
      summary: DescribeCustomNetwork fleet-custom-network-api
      tags:
      - fleet-custom-network-api
  /2022-09-01-00/fleet/customer-onboarding:
    get:
      operationId: customer-onboardings-api#ListCustomerOnboardings
      parameters:
      - allowEmptyValue: true
        description: Whether to return only pending onboardings.
        example: true
        explode: true
        in: query
        name: pendingOnly
        required: false
        schema:
          description: Whether to return only pending onboardings.
          example: true
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                onboardings:
                - id: onboarding-1234567890
                  isCompleted: true
                  name: My Onboarding
                  orgId: org-1234567890
                  serviceId: service-1234567890
                  stages:
                  - name: ConfigureAccounts|BuildSaaS|LaunchSaaS
                    status: NOT_STARTED|COMPLETE|SKIPPED
                  - name: ConfigureAccounts|BuildSaaS|LaunchSaaS
                    status: NOT_STARTED|COMPLETE|SKIPPED
                  - name: ConfigureAccounts|BuildSaaS|LaunchSaaS
                    status: NOT_STARTED|COMPLETE|SKIPPED
                  userId: user-1234567890
                - id: onboarding-1234567890
                  isCompleted: true
                  name: My Onboarding
                  orgId: org-1234567890
                  serviceId: service-1234567890
                  stages:
                  - name: ConfigureAccounts|BuildSaaS|LaunchSaaS
                    status: NOT_STARTED|COMPLETE|SKIPPED
                  - name: ConfigureAccounts|BuildSaaS|LaunchSaaS
                    status: NOT_STARTED|COMPLETE|SKIPPED
                  - name: ConfigureAccounts|BuildSaaS|LaunchSaaS
                    status: NOT_STARTED|COMPLETE|SKIPPED
                  userId: user-1234567890
                - id: onboarding-1234567890
                  isCompleted: true
                  name: My Onboarding
                  orgId: org-1234567890
                  serviceId: service-1234567890
                  stages:
                  - name: ConfigureAccounts|BuildSaaS|LaunchSaaS
                    status: NOT_STARTED|COMPLETE|SKIPPED
                  - name: ConfigureAccounts|BuildSaaS|LaunchSaaS
                    status: NOT_STARTED|COMPLETE|SKIPPED
                  - name: ConfigureAccounts|BuildSaaS|LaunchSaaS
                    status: NOT_STARTED|COMPLETE|SKIPPED
                  userId: user-1234567890
              schema:
                $ref: '#/components/schemas/ListCustomerOnboardingResult'
          description: OK response.
        "400":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "bad_request: Response used on a bad request"
        "401":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "auth_failure: Response used on authentication failure"
        "403":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "forbidden: Response used on authorization failure"
        "404":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "not_found: Response used when the requested resource is not\
            \ found"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "failed_request: Internal Server Error response."
      security:
      - api_key_header_Authorization: []
      summary: ListCustomerOnboardings customer-onboardings-api
      tags:
      - customer-onboardings-api
    post:
      operationId: customer-onboardings-api#CreateCustomerOnboarding
      requestBody:
        content:
          application/json:
            example:
              name: Voluptas minima quisquam id sunt veniam aut.
            schema:
              $ref: '#/components/schemas/CreateCustomerOnboardingRequest2'
        required: true
      responses:
        "200":
          content:
            application/json:
              example: Corporis est voluptatem id et eius rem.
              schema:
                example: Quo consectetur.
                type: string
          description: OK response.
        "400":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "bad_request: Response used on a bad request"
        "401":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "auth_failure: Response used on authentication failure"
        "403":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "forbidden: Response used on authorization failure"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "failed_request: Internal Server Error response."
      security:
      - api_key_header_Authorization: []
      summary: CreateCustomerOnboarding customer-onboardings-api
      tags:
      - customer-onboardings-api
  /2022-09-01-00/fleet/customer-onboarding-stages:
    get:
      operationId: customer-onboardings-api#ListCustomerOnboardingStages
      responses:
        "200":
          content:
            application/json:
              example:
                stages:
                - name: ConfigureAccounts|BuildSaaS|LaunchSaaS
                  status: NOT_STARTED|COMPLETE|SKIPPED
                - name: ConfigureAccounts|BuildSaaS|LaunchSaaS
                  status: NOT_STARTED|COMPLETE|SKIPPED
                - name: ConfigureAccounts|BuildSaaS|LaunchSaaS
                  status: NOT_STARTED|COMPLETE|SKIPPED
              schema:
                $ref: '#/components/schemas/ListCustomerOnboardingStagesResult'
          description: OK response.
        "401":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "auth_failure: Response used on authentication failure"
        "403":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "forbidden: Response used on authorization failure"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "failed_request: Internal Server Error response."
      security:
      - api_key_header_Authorization: []
      summary: ListCustomerOnboardingStages customer-onboardings-api
      tags:
      - customer-onboardings-api
  /2022-09-01-00/fleet/customer-onboarding/{id}:
    delete:
      operationId: customer-onboardings-api#DeleteCustomerOnboarding
      parameters:
      - description: The ID of the onboarding.
        example: onboarding-1234567890
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: ID of a Customer Onboarding
          example: Dicta qui quam totam voluptatem doloremque minima.
          type: string
        style: simple
      responses:
        "200":
          description: OK response.
        "400":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "bad_request: Response used on a bad request"
        "401":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "auth_failure: Response used on authentication failure"
        "403":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "forbidden: Response used on authorization failure"
        "404":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "not_found: Response used when the requested resource is not\
            \ found"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "failed_request: Internal Server Error response."
      security:
      - api_key_header_Authorization: []
      summary: DeleteCustomerOnboarding customer-onboardings-api
      tags:
      - customer-onboardings-api
    get:
      operationId: customer-onboardings-api#DescribeCustomerOnboarding
      parameters:
      - description: The ID of the onboarding.
        example: onboarding-1234567890
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: ID of a Customer Onboarding
          example: Odio excepturi animi dolor nesciunt aut aliquid.
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                id: onboarding-1234567890
                isCompleted: true
                name: My Onboarding
                orgId: org-1234567890
                serviceId: service-1234567890
                stages:
                - name: ConfigureAccounts|BuildSaaS|LaunchSaaS
                  status: NOT_STARTED|COMPLETE|SKIPPED
                - name: ConfigureAccounts|BuildSaaS|LaunchSaaS
                  status: NOT_STARTED|COMPLETE|SKIPPED
                - name: ConfigureAccounts|BuildSaaS|LaunchSaaS
                  status: NOT_STARTED|COMPLETE|SKIPPED
                userId: user-1234567890
              schema:
                $ref: '#/components/schemas/CustomerOnboarding'
          description: OK response.
        "400":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "bad_request: Response used on a bad request"
        "401":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "auth_failure: Response used on authentication failure"
        "403":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "forbidden: Response used on authorization failure"
        "404":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "not_found: Response used when the requested resource is not\
            \ found"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "failed_request: Internal Server Error response."
      security:
      - api_key_header_Authorization: []
      summary: DescribeCustomerOnboarding customer-onboardings-api
      tags:
      - customer-onboardings-api
    patch:
      operationId: customer-onboardings-api#UpdateCustomerOnboarding
      parameters:
      - description: The ID of the onboarding.
        example: onboarding-1234567890
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: ID of a Customer Onboarding
          example: Soluta vero quisquam.
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              serviceId: service-1234567890
              stage:
                name: ConfigureAccounts
                status: Skipped
            schema:
              $ref: '#/components/schemas/UpdateCustomerOnboardingRequest2'
        required: true
      responses:
        "200":
          description: OK response.
        "400":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "bad_request: Response used on a bad request"
        "401":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "auth_failure: Response used on authentication failure"
        "403":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "forbidden: Response used on authorization failure"
        "404":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "not_found: Response used when the requested resource is not\
            \ found"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "failed_request: Internal Server Error response."
      security:
      - api_key_header_Authorization: []
      summary: UpdateCustomerOnboarding customer-onboardings-api
      tags:
      - customer-onboardings-api
  /2022-09-01-00/fleet/events:
    get:
      operationId: events-api#ListEvents
      parameters:
      - allowEmptyValue: true
        description: The environment type to filter by
        example: DEV
        explode: true
        in: query
        name: environmentType
        required: false
        schema:
          description: The type of service environment
          example: PROD|PRIVATE|CANARY|STAGING|QA|DEV
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                events:
                - eventID: e-123456
                  eventPayload:
                    eventType: CustomerSignUp
                    token: "123456"
                  eventType: InviteUser
                  orgID: o-123456
                  orgName: Acme Corp
                  orgURL: https://acme.com
                  priority: Critical
                  time: 2023-01-10T00:00:00Z
                  userEmail: user@example.com
                  userID: user-123456
                  userName: user
                - eventID: e-123456
                  eventPayload:
                    eventType: CustomerSignUp
                    token: "123456"
                  eventType: InviteUser
                  orgID: o-123456
                  orgName: Acme Corp
                  orgURL: https://acme.com
                  priority: Critical
                  time: 2023-01-10T00:00:00Z
                  userEmail: user@example.com
                  userID: user-123456
                  userName: user
                - eventID: e-123456
                  eventPayload:
                    eventType: CustomerSignUp
                    token: "123456"
                  eventType: InviteUser
                  orgID: o-123456
                  orgName: Acme Corp
                  orgURL: https://acme.com
                  priority: Critical
                  time: 2023-01-10T00:00:00Z
                  userEmail: user@example.com
                  userID: user-123456
                  userName: user
                - eventID: e-123456
                  eventPayload:
                    eventType: CustomerSignUp
                    token: "123456"
                  eventType: InviteUser
                  orgID: o-123456
                  orgName: Acme Corp
                  orgURL: https://acme.com
                  priority: Critical
                  time: 2023-01-10T00:00:00Z
                  userEmail: user@example.com
                  userID: user-123456
                  userName: user
              schema:
                $ref: '#/components/schemas/ListEndCustomerEventsResult'
          description: OK response.
        "400":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "bad_request: Response used on a bad request"
        "401":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "auth_failure: Response used on authentication failure"
        "403":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "forbidden: Response used on authorization failure"
        "404":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "not_found: Response used when the requested resource is not\
            \ found"
        "409":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "invalid_state: Response used when requested resource is in\
            \ an invalid state for this operation"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "failed_request: Response used on failure to list events"
      security:
      - api_key_header_Authorization: []
      summary: ListEvents events-api
      tags:
      - events-api
  /2022-09-01-00/fleet/events/{id}:
    delete:
      operationId: events-api#AcknowledgeEvent
      parameters:
      - description: The ID of the event
        example: e-123456
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: ID of a Event
          example: Excepturi libero vel neque.
          type: string
        style: simple
      responses:
        "200":
          description: OK response.
        "400":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "bad_request: Response used on a bad request"
        "401":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "auth_failure: Response used on authentication failure"
        "403":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "forbidden: Response used on authorization failure"
        "404":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "not_found: Response used when the requested resource is not\
            \ found"
        "409":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "invalid_state: Response used when requested resource is in\
            \ an invalid state for this operation"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "failed_request: Response used on failure to list events"
      security:
      - api_key_header_Authorization: []
      summary: AcknowledgeEvent events-api
      tags:
      - events-api
  /2022-09-01-00/fleet/feature:
    delete:
      operationId: fleet-features-api#DisableFleetFeature
      requestBody:
        content:
          application/json:
            example:
              feature: Ut omnis quod id quia est deleniti.
            schema:
              $ref: '#/components/schemas/DisableFleetFeatureRequest2'
        required: true
      responses:
        "200":
          description: OK response.
        "400":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "bad_request: Response used on a bad request"
        "401":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "auth_failure: Response used on authentication failure"
        "403":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "forbidden: Response used on authorization failure"
        "404":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "not_found: Response used when the requested resource is not\
            \ found"
        "409":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "invalid_state: Response used when requested resource is in\
            \ an invalid state for this operation"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "failed_request: Response used when the product tier feature\
            \ could not be disabled"
      security:
      - api_key_header_Authorization: []
      summary: DisableFleetFeature fleet-features-api
      tags:
      - fleet-features-api
    put:
      operationId: fleet-features-api#EnableFleetFeature
      requestBody:
        content:
          application/json:
            example:
              feature: Odio et praesentium sequi.
            schema:
              $ref: '#/components/schemas/EnableFleetFeatureRequest2'
        required: true
      responses:
        "200":
          description: OK response.
        "400":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "bad_request: Response used on a bad request"
        "401":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "auth_failure: Response used on authentication failure"
        "403":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "forbidden: Response used on authorization failure"
        "404":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "not_found: Response used when the requested resource is not\
            \ found"
        "409":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "invalid_state: Response used when requested resource is in\
            \ an invalid state for this operation"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "failed_request: Response used when the product tier feature\
            \ could not be disabled"
      security:
      - api_key_header_Authorization: []
      summary: EnableFleetFeature fleet-features-api
      tags:
      - fleet-features-api
  /2022-09-01-00/fleet/feature/{feature}:
    get:
      operationId: fleet-features-api#DescribeFleetFeature
      parameters:
      - description: The feature to describe.
        example: CUSTOMER_BILLING
        explode: false
        in: path
        name: feature
        required: true
        schema:
          description: FleetFeatureType is to enable / disable features per service
            provider
          example: CUSTOMER_BILLING
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                feature: In impedit eum illum veniam.
                featureConfig:
                  embeddedInvoiceURL: https://acme.com/invoice
                  embeddedPaymentConfigurationURL: https://acme.com/payment
                status: pending
              schema:
                $ref: '#/components/schemas/FleetFeature'
          description: OK response.
        "400":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "bad_request: Response used on a bad request"
        "401":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "auth_failure: Response used on authentication failure"
        "403":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "forbidden: Response used on authorization failure"
        "404":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "not_found: Response used when the requested resource is not\
            \ found"
        "409":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "invalid_state: Response used when the product tier feature\
            \ could not be disabled"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "failed_request: Response used when the product tier feature\
            \ could not be disabled"
      security:
      - api_key_header_Authorization: []
      summary: DescribeFleetFeature fleet-features-api
      tags:
      - fleet-features-api
  /2022-09-01-00/fleet/features:
    get:
      operationId: fleet-features-api#ListFleetFeatures
      responses:
        "200":
          content:
            application/json:
              example:
                features:
                - feature: Consectetur quaerat non perferendis.
                  featureConfig:
                    embeddedInvoiceURL: https://acme.com/invoice
                    embeddedPaymentConfigurationURL: https://acme.com/payment
                  status: pending
                - feature: Consectetur quaerat non perferendis.
                  featureConfig:
                    embeddedInvoiceURL: https://acme.com/invoice
                    embeddedPaymentConfigurationURL: https://acme.com/payment
                  status: pending
                - feature: Consectetur quaerat non perferendis.
                  featureConfig:
                    embeddedInvoiceURL: https://acme.com/invoice
                    embeddedPaymentConfigurationURL: https://acme.com/payment
                  status: pending
                - feature: Consectetur quaerat non perferendis.
                  featureConfig:
                    embeddedInvoiceURL: https://acme.com/invoice
                    embeddedPaymentConfigurationURL: https://acme.com/payment
                  status: pending
              schema:
                $ref: '#/components/schemas/ListFleetFeaturesResult'
          description: OK response.
        "400":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "bad_request: Response used on a bad request"
        "401":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "auth_failure: Response used on authentication failure"
        "403":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "forbidden: Response used on authorization failure"
        "404":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "not_found: Response used when the requested resource is not\
            \ found"
        "409":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "invalid_state: Response used when requested resource is in\
            \ an invalid state for this operation"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "failed_request: Response used when the product tier feature\
            \ could not be disabled"
      security:
      - api_key_header_Authorization: []
      summary: ListFleetFeatures fleet-features-api
      tags:
      - fleet-features-api
  /2022-09-01-00/fleet/helm-package-installations:
    get:
      operationId: helm-package-api#ListHelmPackageInstallations
      parameters:
      - allowEmptyValue: true
        description: The host cluster ID to list helm packages for
        example: hc-12345678
        explode: true
        in: query
        name: hostClusterID
        required: false
        schema:
          description: ID of a Host Cluster
          example: Ut amet quaerat consequatur autem.
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                helmPackageInstallations:
                - helmPackage:
                    chartName: my-chart
                    chartRepoName: my-repo
                    chartRepoUrl: https://my-repo.com
                    chartValues:
                      key1: value1
                      key2: 3
                      key3:
                        key4: value4
                    chartVersion: 1.0.0
                    namespace: default
                  hostClusterID: hc-12345678
                  status: unknown|deployed|uninstalled|superseded|failed|uninstalling|pending-install|pending-upgrade|pending-rollback
                - helmPackage:
                    chartName: my-chart
                    chartRepoName: my-repo
                    chartRepoUrl: https://my-repo.com
                    chartValues:
                      key1: value1
                      key2: 3
                      key3:
                        key4: value4
                    chartVersion: 1.0.0
                    namespace: default
                  hostClusterID: hc-12345678
                  status: unknown|deployed|uninstalled|superseded|failed|uninstalling|pending-install|pending-upgrade|pending-rollback
              schema:
                $ref: '#/components/schemas/ListHelmPackageInstallationsResult'
          description: OK response.
        "401":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "auth_failure: Response used on authentication failure"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "failed_request: Internal Server Error response."
      security:
      - api_key_header_Authorization: []
      summary: ListHelmPackageInstallations helm-package-api
      tags:
      - helm-package-api
  /2022-09-01-00/fleet/hooks/{id}:
    post:
      operationId: webhooks-api#ReceiveWebhook
      parameters:
      - description: The unique id per producer.
        example: Dolore quidem optio.
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: The unique id per producer.
          example: Molestiae sequi qui.
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example: Culpa sed omnis ex dolores consequatur harum.
            schema:
              description: The event data
              example: Quae placeat quia optio recusandae.
              type: string
        description: The event data
        required: true
      responses:
        "200":
          description: OK response.
        "400":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "bad_request: Response used on a bad request"
        "401":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "auth_failure: Response used on authentication failure"
        "403":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "forbidden: Response used on authorization failure"
        "404":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "not_found: Response used when the requested resource is not\
            \ found"
        "409":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "invalid_state: Response used when requested resource is in\
            \ an invalid state for this operation"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "failed_request: Response used on failure to list events"
      summary: ReceiveWebhook webhooks-api
      tags:
      - webhooks-api
  /2022-09-01-00/fleet/host-clusters:
    get:
      operationId: hostcluster-api#ListHostClusters
      parameters:
      - allowEmptyValue: true
        description: The account config ID of the host cluster
        example: ac-12345678
        explode: true
        in: query
        name: accountConfigId
        required: false
        schema:
          description: ID of an Account Config
          example: Eum nihil nihil facilis ratione sit.
          type: string
        style: form
      - allowEmptyValue: true
        description: The region ID of the host cluster
        example: region-12345678
        explode: true
        in: query
        name: regionId
        required: false
        schema:
          description: ID of a Region
          example: Et quae omnis.
          type: string
        style: form
      - allowEmptyValue: true
        description: Whether to include provisioner clusters in the response
        example: true
        explode: true
        in: query
        name: includeProvisionerClusters
        required: false
        schema:
          description: Whether to include provisioner clusters in the response
          example: true
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                hostClusters:
                - accountConfigId: ac-12345678
                  description: My Host Cluster
                  helmPackages:
                  - firstDeployed: 2021-01-01T00:00:00Z
                    lastDeployed: 2021-01-01T00:00:00Z
                    name: my-helm-package
                    namespace: my-namespace
                    repository: https://my-helm-repo.com
                    status: deployed
                    values:
                      key1: value1
                      key2: value2
                    version: 1.0.0
                  id: hc-12345678
                  key: my-host-cluster
                  kubernetesDashboardEndpoint: https://my-k8s-dashboard.com
                  regionId: region-12345678
                  status: READY
                  type: Kubernetes
                token: 8q
              schema:
                $ref: '#/components/schemas/ListHostClustersResult'
          description: OK response.
        "400":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "bad_request: Response used on a bad request"
        "401":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "auth_failure: Response used on authentication failure"
        "403":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "forbidden: Response used on authorization failure"
        "404":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "not_found: Response used when the requested resource is not\
            \ found"
        "409":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "invalid_state: Response used when requested resource is in\
            \ an invalid state for this operation"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "failed_request: Response used on failure to list host clusters"
      security:
      - api_key_header_Authorization: []
      summary: ListHostClusters hostcluster-api
      tags:
      - hostcluster-api
  /2022-09-01-00/fleet/notification-channel:
    get:
      operationId: notifications-api#ListNotificationChannels
      responses:
        "200":
          content:
            application/json:
              example:
                channels:
                - channelType: EMAIL
                  email:
                    to: notify@example.com
                  id: channel-12345678
                - channelType: SLACK
                  id: channel-87654321
                  slack:
                    webhookUrl: https://hooks.slack.com/services/...
              schema:
                $ref: '#/components/schemas/ListNotificationChannelsResult'
          description: OK response.
        "400":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "bad_request: Response used on a bad request"
        "401":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "auth_failure: Response used on authentication failure"
        "403":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "forbidden: Response used on authorization failure"
        "404":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "not_found: Response used when the requested resource is not\
            \ found"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "failed_request: Internal Server Error response."
      security:
      - api_key_header_Authorization: []
      summary: ListNotificationChannels notifications-api
      tags:
      - notifications-api
    post:
      operationId: notifications-api#CreateNotificationChannel
      requestBody:
        content:
          application/json:
            example:
              email:
                to: notify@example.com
              name: My Channel
              pagerDuty:
                APIKey: e93facc47f2d4b2b88272b3a647afe7d-fictional-integration-key
              slack:
                webhookUrl: https://hooks.slack.com/services/...
              subscription:
                alertTypes:
                - Alarm
                - Notification
                environmentTypes:
                - PROD
                - PRIVATE
                - CANARY
                eventCategories:
                - InstanceEvent
                - ServiceEvent
                eventPriorities:
                - Critical
                - High
                eventTypes:
                - UnhealthyInstance
                - UserSignUp
              webhook:
                method: POST
                url: https://example.com/notify
            schema:
              $ref: '#/components/schemas/CreateNotificationChannelRequest2'
        required: true
      responses:
        "200":
          content:
            application/json:
              example: Nisi nihil quos aspernatur et vel voluptatum.
              schema:
                example: Reprehenderit quas.
                type: string
          description: OK response.
        "400":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "bad_request: Response used on a bad request"
        "401":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "auth_failure: Response used on authentication failure"
        "403":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "forbidden: Response used on authorization failure"
        "404":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "not_found: Response used when the requested resource is not\
            \ found"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "failed_request: Internal Server Error response."
      security:
      - api_key_header_Authorization: []
      summary: CreateNotificationChannel notifications-api
      tags:
      - notifications-api
  /2022-09-01-00/fleet/notification-channel/{id}:
    delete:
      operationId: notifications-api#DeleteNotificationChannel
      parameters:
      - description: Unique identifier of the channel
        example: channel-12345678
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: ID of a Notification Channel
          example: Fuga eum recusandae delectus labore earum.
          type: string
        style: simple
      responses:
        "200":
          description: OK response.
        "401":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "auth_failure: Response used on authentication failure"
        "403":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "forbidden: Response used on authorization failure"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "failed_request: Internal Server Error response."
      security:
      - api_key_header_Authorization: []
      summary: DeleteNotificationChannel notifications-api
      tags:
      - notifications-api
    get:
      operationId: notifications-api#DescribeNotificationChannel
      parameters:
      - description: Unique identifier of the channel
        example: channel-12345678
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: ID of a Notification Channel
          example: Aliquid suscipit voluptatem cumque amet omnis pariatur.
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                channelType: EMAIL
                email:
                  to: notify@example.com
                id: channel-12345678
                name: My Channel
                pagerDuty:
                  integrationKey: e93facc47f2d4b2b88272b3a647afe7d-fictional-integration-key
                slack:
                  webhookUrl: https://hooks.slack.com/services/...
                subscription:
                  alertTypes:
                  - Alarm
                  - Notification
                  environmentTypes:
                  - PROD
                  - PRIVATE
                  - CANARY
                  eventCategories:
                  - InstanceEvent
                  - ServiceEvent
                  eventPriorities:
                  - Critical
                  - High
                  eventTypes:
                  - UnhealthyInstance
                  - UserSignUp
                webhook:
                  method: POST
                  url: https://example.com/notify
              schema:
                $ref: '#/components/schemas/Channel'
          description: OK response.
        "401":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "auth_failure: Response used on authentication failure"
        "403":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "forbidden: Response used on authorization failure"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "failed_request: Internal Server Error response."
      security:
      - api_key_header_Authorization: []
      summary: DescribeNotificationChannel notifications-api
      tags:
      - notifications-api
    patch:
      operationId: notifications-api#UpdateNotificationChannel
      parameters:
      - description: Unique identifier of the channel
        example: channel-12345678
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: ID of a Notification Channel
          example: Qui quas.
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              email:
                to: notify@example.com
              name: My Channel
              pagerDuty:
                APIKey: e93facc47f2d4b2b88272b3a647afe7d-fictional-integration-key
              slack:
                webhookUrl: https://hooks.slack.com/services/...
              subscription:
                alertTypes:
                - Alarm
                - Notification
                environmentTypes:
                - PROD
                - PRIVATE
                - CANARY
                eventCategories:
                - InstanceEvent
                - ServiceEvent
                eventPriorities:
                - Critical
                - High
                eventTypes:
                - UnhealthyInstance
                - UserSignUp
              webhook:
                method: POST
                url: https://example.com/notify
            schema:
              $ref: '#/components/schemas/UpdateNotificationChannelRequest2'
        required: true
      responses:
        "200":
          description: OK response.
        "400":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "bad_request: Response used on a bad request"
        "401":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "auth_failure: Response used on authentication failure"
        "403":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "forbidden: Response used on authorization failure"
        "404":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "not_found: Response used when the requested resource is not\
            \ found"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "failed_request: Internal Server Error response."
      security:
      - api_key_header_Authorization: []
      summary: UpdateNotificationChannel notifications-api
      tags:
      - notifications-api
  /2022-09-01-00/fleet/operations/deployment-cell-health:
    get:
      operationId: operations-api#DeploymentCellHealth
      parameters:
      - allowEmptyValue: true
        description: The host cluster ID to get the health for
        example: hc-12345678
        explode: true
        in: query
        name: hostClusterID
        required: true
        schema:
          description: ID of a Host Cluster
          example: Omnis ullam aut.
          type: string
        style: form
      - allowEmptyValue: true
        description: The service ID to get the health for
        example: s-12345678
        explode: true
        in: query
        name: serviceID
        required: true
        schema:
          description: ID of a Service
          example: s-123456
          type: string
        style: form
      - allowEmptyValue: true
        description: The service environment ID to get the health for
        example: se-12345678
        explode: true
        in: query
        name: serviceEnvironmentID
        required: true
        schema:
          description: ID of a Service Environment
          example: se-123456
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                cloudProvider: aws
                hostClusterID: hc-12345678
                instanceHealth:
                  Dolorem dicta qui quaerat.:
                    instanceID: instance-12345678
                    lifeCycleStatus: RUNNING
                    resourcesHealth:
                      Quidem repellat non.:
                        nodesHealth:
                          Molestiae harum illo a.:
                            availabilityZone: us-east-2a
                            connectivityStatus: HEALTHY
                            diskHealth: HEALTHY
                            endpoint: primary-0.instance-abcd1234.us-east-2.aws.omnistrate.cloud
                            events:
                            - event-1
                            - event-2
                            loadHealth: POD_NORMAL
                            nodeHealth: HEALTHY
                            nodeName: postgres-0
                            ports:
                            - 80
                            - 443
                            processHealth: HEALTHY
                            processLiveness: HEALTHY
                            recentLogs: Log message
                            status: HEALTHY
                          Sit voluptatem officiis ratione at.:
                            availabilityZone: us-east-2a
                            connectivityStatus: HEALTHY
                            diskHealth: HEALTHY
                            endpoint: primary-0.instance-abcd1234.us-east-2.aws.omnistrate.cloud
                            events:
                            - event-1
                            - event-2
                            loadHealth: POD_NORMAL
                            nodeHealth: HEALTHY
                            nodeName: postgres-0
                            ports:
                            - 80
                            - 443
                            processHealth: HEALTHY
                            processLiveness: HEALTHY
                            recentLogs: Log message
                            status: HEALTHY
                          Voluptatum omnis.:
                            availabilityZone: us-east-2a
                            connectivityStatus: HEALTHY
                            diskHealth: HEALTHY
                            endpoint: primary-0.instance-abcd1234.us-east-2.aws.omnistrate.cloud
                            events:
                            - event-1
                            - event-2
                            loadHealth: POD_NORMAL
                            nodeHealth: HEALTHY
                            nodeName: postgres-0
                            ports:
                            - 80
                            - 443
                            processHealth: HEALTHY
                            processLiveness: HEALTHY
                            recentLogs: Log message
                            status: HEALTHY
                        resourceID: resource-12345678
                        resourceKey: primary
                        resourceType: Kustomize
                        status: HEALTHY
                    status: HEALTHY
                  Non qui vel.:
                    instanceID: instance-12345678
                    lifeCycleStatus: RUNNING
                    resourcesHealth:
                      Quidem repellat non.:
                        nodesHealth:
                          Molestiae harum illo a.:
                            availabilityZone: us-east-2a
                            connectivityStatus: HEALTHY
                            diskHealth: HEALTHY
                            endpoint: primary-0.instance-abcd1234.us-east-2.aws.omnistrate.cloud
                            events:
                            - event-1
                            - event-2
                            loadHealth: POD_NORMAL
                            nodeHealth: HEALTHY
                            nodeName: postgres-0
                            ports:
                            - 80
                            - 443
                            processHealth: HEALTHY
                            processLiveness: HEALTHY
                            recentLogs: Log message
                            status: HEALTHY
                          Sit voluptatem officiis ratione at.:
                            availabilityZone: us-east-2a
                            connectivityStatus: HEALTHY
                            diskHealth: HEALTHY
                            endpoint: primary-0.instance-abcd1234.us-east-2.aws.omnistrate.cloud
                            events:
                            - event-1
                            - event-2
                            loadHealth: POD_NORMAL
                            nodeHealth: HEALTHY
                            nodeName: postgres-0
                            ports:
                            - 80
                            - 443
                            processHealth: HEALTHY
                            processLiveness: HEALTHY
                            recentLogs: Log message
                            status: HEALTHY
                          Voluptatum omnis.:
                            availabilityZone: us-east-2a
                            connectivityStatus: HEALTHY
                            diskHealth: HEALTHY
                            endpoint: primary-0.instance-abcd1234.us-east-2.aws.omnistrate.cloud
                            events:
                            - event-1
                            - event-2
                            loadHealth: POD_NORMAL
                            nodeHealth: HEALTHY
                            nodeName: postgres-0
                            ports:
                            - 80
                            - 443
                            processHealth: HEALTHY
                            processLiveness: HEALTHY
                            recentLogs: Log message
                            status: HEALTHY
                        resourceID: resource-12345678
                        resourceKey: primary
                        resourceType: Kustomize
                        status: HEALTHY
                    status: HEALTHY
                regionCode: us-west-1
                serviceEnvironmentName: prod
                serviceName: mysql
              schema:
                $ref: '#/components/schemas/DeploymentCellHealthDetail'
          description: OK response.
        "400":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "bad_request: Response used on a bad request"
        "401":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "auth_failure: Response used on authentication failure"
        "403":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "forbidden: Response used on authorization failure"
        "404":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "not_found: Response used when the requested resource is not\
            \ found"
        "409":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "invalid_state: Response used when requested resource is in\
            \ an invalid state for this operation"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "failed_request: Response used on failure to list events"
      security:
      - api_key_header_Authorization: []
      summary: DeploymentCellHealth operations-api
      tags:
      - operations-api
  /2022-09-01-00/fleet/operations/events:
    get:
      operationId: operations-api#ListEvents
      parameters:
      - allowEmptyValue: true
        example: PROD|PRIVATE|CANARY|STAGING|QA|DEV
        explode: true
        in: query
        name: environmentType
        required: false
        schema:
          description: The type of service environment
          example: PROD|PRIVATE|CANARY|STAGING|QA|DEV
          type: string
        style: form
      - allowEmptyValue: true
        description: The service ID to list events for
        example: s-123456
        explode: true
        in: query
        name: serviceID
        required: false
        schema:
          description: ID of a Service
          example: s-123456
          type: string
        style: form
      - allowEmptyValue: true
        description: The service environment ID to list events for
        example: se-123456
        explode: true
        in: query
        name: serviceEnvironmentID
        required: false
        schema:
          description: ID of a Service Environment
          example: se-123456
          type: string
        style: form
      - allowEmptyValue: true
        description: The instance ID to list events for
        example: instance-12345678
        explode: true
        in: query
        name: instanceID
        required: false
        schema:
          description: ID of a Resource Instance
          example: instance-12345678
          type: string
        style: form
      - allowEmptyValue: true
        description: The next token to use for pagination
        example: token
        explode: true
        in: query
        name: nextPageToken
        required: false
        schema:
          description: The next token to use for pagination
          example: token
          type: string
        style: form
      - allowEmptyValue: true
        description: The number of events to return per page
        example: 10
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          description: The number of resources to return per page
          example: 10
          format: int64
          type: integer
        style: form
      - allowEmptyValue: true
        description: Start date of the events
        example: 2023-01-01T10:00:00Z
        explode: true
        in: query
        name: startDate
        required: false
        schema:
          description: "Start time of the window in ISO 8601 format. If omitted, the\
            \ filter is open-ended at the start."
          example: 2023-01-01T10:00:00Z
          format: date-time
          type: string
        style: form
      - allowEmptyValue: true
        description: End date of the events
        example: 2024-01-01T10:00:00Z
        explode: true
        in: query
        name: endDate
        required: false
        schema:
          description: "End time of the window in ISO 8601 format. If omitted, the\
            \ filter is open-ended at the start."
          example: 2024-01-01T10:00:00Z
          format: date-time
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                events:
                - alertType: Alarm
                  eventCategory: InstanceEvent
                  eventID: e-123456
                  eventPayload:
                    Autem veritatis dolores molestiae et atque.: Illum temporibus
                      fuga.
                    Quaerat non odio et asperiores vel voluptatibus.: Sunt quia mollitia
                      autem perspiciatis inventore.
                    Rerum sed eos corrupti qui.: Sit quo vitae consequatur quae ullam
                      sequi.
                  eventType: UnhealthyInstance
                  expiryTime: 2023-01-10T00:00:00Z
                  instanceID: instance-12345678
                  priority: Critical
                  scope: ServiceProvider
                  serviceEnvironmentID: se-123456
                  serviceID: s-123456
                  time: 2023-01-10T00:00:00Z
                - alertType: Alarm
                  eventCategory: InstanceEvent
                  eventID: e-123456
                  eventPayload:
                    Autem veritatis dolores molestiae et atque.: Illum temporibus
                      fuga.
                    Quaerat non odio et asperiores vel voluptatibus.: Sunt quia mollitia
                      autem perspiciatis inventore.
                    Rerum sed eos corrupti qui.: Sit quo vitae consequatur quae ullam
                      sequi.
                  eventType: UnhealthyInstance
                  expiryTime: 2023-01-10T00:00:00Z
                  instanceID: instance-12345678
                  priority: Critical
                  scope: ServiceProvider
                  serviceEnvironmentID: se-123456
                  serviceID: s-123456
                  time: 2023-01-10T00:00:00Z
                - alertType: Alarm
                  eventCategory: InstanceEvent
                  eventID: e-123456
                  eventPayload:
                    Autem veritatis dolores molestiae et atque.: Illum temporibus
                      fuga.
                    Quaerat non odio et asperiores vel voluptatibus.: Sunt quia mollitia
                      autem perspiciatis inventore.
                    Rerum sed eos corrupti qui.: Sit quo vitae consequatur quae ullam
                      sequi.
                  eventType: UnhealthyInstance
                  expiryTime: 2023-01-10T00:00:00Z
                  instanceID: instance-12345678
                  priority: Critical
                  scope: ServiceProvider
                  serviceEnvironmentID: se-123456
                  serviceID: s-123456
                  time: 2023-01-10T00:00:00Z
                - alertType: Alarm
                  eventCategory: InstanceEvent
                  eventID: e-123456
                  eventPayload:
                    Autem veritatis dolores molestiae et atque.: Illum temporibus
                      fuga.
                    Quaerat non odio et asperiores vel voluptatibus.: Sunt quia mollitia
                      autem perspiciatis inventore.
                    Rerum sed eos corrupti qui.: Sit quo vitae consequatur quae ullam
                      sequi.
                  eventType: UnhealthyInstance
                  expiryTime: 2023-01-10T00:00:00Z
                  instanceID: instance-12345678
                  priority: Critical
                  scope: ServiceProvider
                  serviceEnvironmentID: se-123456
                  serviceID: s-123456
                  time: 2023-01-10T00:00:00Z
                eventsSummary:
                  eventsSummary:
                    FailedDeployment: 1
                    UnhealthyInstance: 2
                nextPageToken: Eos provident.
              schema:
                $ref: '#/components/schemas/ListServiceProviderEventsResult'
          description: OK response.
        "400":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "bad_request: Response used on a bad request"
        "401":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "auth_failure: Response used on authentication failure"
        "403":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "forbidden: Response used on authorization failure"
        "404":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "not_found: Response used when the requested resource is not\
            \ found"
        "409":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "invalid_state: Response used when requested resource is in\
            \ an invalid state for this operation"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "failed_request: Response used on failure to list events"
      security:
      - api_key_header_Authorization: []
      summary: ListEvents operations-api
      tags:
      - operations-api
  /2022-09-01-00/fleet/operations/service-health:
    get:
      operationId: operations-api#ServiceHealth
      parameters:
      - allowEmptyValue: true
        description: The service ID to get the health for
        example: s-123456
        explode: true
        in: query
        name: serviceID
        required: true
        schema:
          description: ID of a Service
          example: s-123456
          type: string
        style: form
      - allowEmptyValue: true
        description: The service environment ID to get the health for
        example: se-123456
        explode: true
        in: query
        name: serviceEnvironmentID
        required: true
        schema:
          description: ID of a Service Environment
          example: se-123456
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                cloudProviderHealthSummary:
                  Aliquam occaecati id.:
                    cloudProvider: aws
                    deployingInstances: 9173482151913397364
                    healthyInstances: 4450834104518800790
                    message: Cloud provider is healthy
                    regionalHealthSummary:
                      Et rerum non quo vel.:
                        deployingInstances: 1159588422793008602
                        deploymentCellHealthSummary:
                          Aut aut consequatur autem nisi iusto qui.:
                            deployingInstances: 3577594034230165237
                            healthyInstances: 7205899933660697352
                            hostClusterID: hc-12345678
                            message: Cell is healthy
                            status: Healthy
                            totalInstances: 7771824387038761930
                            unhealthyInstances: 8715922546170458575
                            unknownInstances: 8804703451828975381
                          Ratione repellat.:
                            deployingInstances: 3577594034230165237
                            healthyInstances: 7205899933660697352
                            hostClusterID: hc-12345678
                            message: Cell is healthy
                            status: Healthy
                            totalInstances: 7771824387038761930
                            unhealthyInstances: 8715922546170458575
                            unknownInstances: 8804703451828975381
                        healthyInstances: 6108594118985032578
                        message: Region is healthy
                        region: us-east-1
                        status: Healthy
                        totalInstances: 1168721564849006339
                        unhealthyInstances: 1396509977222015352
                        unknownInstances: 629498190793305544
                      Quibusdam rerum modi ratione ut.:
                        deployingInstances: 1159588422793008602
                        deploymentCellHealthSummary:
                          Aut aut consequatur autem nisi iusto qui.:
                            deployingInstances: 3577594034230165237
                            healthyInstances: 7205899933660697352
                            hostClusterID: hc-12345678
                            message: Cell is healthy
                            status: Healthy
                            totalInstances: 7771824387038761930
                            unhealthyInstances: 8715922546170458575
                            unknownInstances: 8804703451828975381
                          Ratione repellat.:
                            deployingInstances: 3577594034230165237
                            healthyInstances: 7205899933660697352
                            hostClusterID: hc-12345678
                            message: Cell is healthy
                            status: Healthy
                            totalInstances: 7771824387038761930
                            unhealthyInstances: 8715922546170458575
                            unknownInstances: 8804703451828975381
                        healthyInstances: 6108594118985032578
                        message: Region is healthy
                        region: us-east-1
                        status: Healthy
                        totalInstances: 1168721564849006339
                        unhealthyInstances: 1396509977222015352
                        unknownInstances: 629498190793305544
                      Sint sapiente itaque.:
                        deployingInstances: 1159588422793008602
                        deploymentCellHealthSummary:
                          Aut aut consequatur autem nisi iusto qui.:
                            deployingInstances: 3577594034230165237
                            healthyInstances: 7205899933660697352
                            hostClusterID: hc-12345678
                            message: Cell is healthy
                            status: Healthy
                            totalInstances: 7771824387038761930
                            unhealthyInstances: 8715922546170458575
                            unknownInstances: 8804703451828975381
                          Ratione repellat.:
                            deployingInstances: 3577594034230165237
                            healthyInstances: 7205899933660697352
                            hostClusterID: hc-12345678
                            message: Cell is healthy
                            status: Healthy
                            totalInstances: 7771824387038761930
                            unhealthyInstances: 8715922546170458575
                            unknownInstances: 8804703451828975381
                        healthyInstances: 6108594118985032578
                        message: Region is healthy
                        region: us-east-1
                        status: Healthy
                        totalInstances: 1168721564849006339
                        unhealthyInstances: 1396509977222015352
                        unknownInstances: 629498190793305544
                    status: Healthy
                    totalInstances: 6754584418147565657
                    unhealthyInstances: 2034515350950539336
                    unknownInstances: 5680482598679783781
                deployingInstances: 7192607238474108249
                healthyInstances: 6642008012346891765
                message: Service is healthy
                serviceEnvironmentID: se-123456
                serviceID: s-123456
                status: Healthy
                totalInstances: 4219900124749088606
                unhealthyInstances: 5240437117907840022
                unknownInstances: 5140829217696490597
              schema:
                $ref: '#/components/schemas/ServiceHealthSummary'
          description: OK response.
        "400":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "bad_request: Response used on a bad request"
        "401":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "auth_failure: Response used on authentication failure"
        "403":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "forbidden: Response used on authorization failure"
        "404":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "not_found: Response used when the requested resource is not\
            \ found"
        "409":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "invalid_state: Response used when requested resource is in\
            \ an invalid state for this operation"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "failed_request: Response used on failure to list events"
      security:
      - api_key_header_Authorization: []
      summary: ServiceHealth operations-api
      tags:
      - operations-api
  ? /2022-09-01-00/fleet/proxy-resource-instance/{serviceProviderId}/{serviceKey}/{serviceAPIVersion}/{serviceEnvironmentKey}/{serviceModelKey}/{productTierKey}/{id}
  : delete:
      operationId: inventory-api#DeleteProxyResourceInstance
      parameters:
      - description: The service provider ID
        example: omnistrate
        explode: false
        in: path
        name: serviceProviderId
        required: true
        schema:
          description: ID of a Service Provider
          example: Id ducimus blanditiis culpa velit.
          type: string
        style: simple
      - description: The service name
        example: service-orchestration
        explode: false
        in: path
        name: serviceKey
        required: true
        schema:
          description: The service name
          example: service-orchestration
          type: string
        style: simple
      - description: The service API version
        example: v1
        explode: false
        in: path
        name: serviceAPIVersion
        required: true
        schema:
          description: The service API version
          example: v1
          type: string
        style: simple
      - description: The service environment name
        example: dev
        explode: false
        in: path
        name: serviceEnvironmentKey
        required: true
        schema:
          description: The service environment name
          example: dev
          type: string
        style: simple
      - description: The service model name
        example: hosted
        explode: false
        in: path
        name: serviceModelKey
        required: true
        schema:
          description: The service model name
          example: hosted
          type: string
        style: simple
      - description: The product tier name
        example: premium
        explode: false
        in: path
        name: productTierKey
        required: true
        schema:
          description: The product tier name
          example: premium
          type: string
        style: simple
      - description: The instance ID
        example: instance-abcd1234
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: The instance ID
          example: instance-abcd1234
          type: string
        style: simple
      responses:
        "202":
          description: Accepted response.
        "400":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "bad_request: Response used on a bad request"
        "401":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "auth_failure: Response used on authentication failure"
        "403":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "forbidden: Response used on authorization failure"
        "404":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "not_found: Response used when the requested resource is not\
            \ found"
        "409":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "invalid_state: Response used when requested resource is in\
            \ an invalid state for this operation"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "failed_request: Response used on failure to delete a resource\
            \ instance"
      security:
      - api_key_header_Authorization: []
      summary: DeleteProxyResourceInstance inventory-api
      tags:
      - inventory-api
  ? /2022-09-01-00/fleet/proxy-resource-instance/{serviceProviderId}/{serviceKey}/{serviceAPIVersion}/{serviceEnvironmentKey}/{serviceModelKey}/{productTierKey}/{sourceResourceKey}
  : post:
      operationId: inventory-api#CreateProxyResourceInstance
      parameters:
      - description: The service provider ID
        example: omnistrate
        explode: false
        in: path
        name: serviceProviderId
        required: true
        schema:
          description: ID of a Service Provider
          example: Voluptas quia.
          type: string
        style: simple
      - description: The service name
        example: service-orchestration
        explode: false
        in: path
        name: serviceKey
        required: true
        schema:
          description: The service name
          example: service-orchestration
          type: string
        style: simple
      - description: The service API version
        example: v1
        explode: false
        in: path
        name: serviceAPIVersion
        required: true
        schema:
          description: The service API version
          example: v1
          type: string
        style: simple
      - description: The service environment name
        example: dev
        explode: false
        in: path
        name: serviceEnvironmentKey
        required: true
        schema:
          description: The service environment name
          example: dev
          type: string
        style: simple
      - description: The service model name
        example: hosted
        explode: false
        in: path
        name: serviceModelKey
        required: true
        schema:
          description: The service model name
          example: hosted
          type: string
        style: simple
      - description: The product tier name
        example: premium
        explode: false
        in: path
        name: productTierKey
        required: true
        schema:
          description: The product tier name
          example: premium
          type: string
        style: simple
      - description: The serverless resource key
        example: mysql
        explode: false
        in: path
        name: sourceResourceKey
        required: true
        schema:
          description: The serverless resource key
          example: mysql
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              cloud_provider: aws
              region: us-east-1
              requestParams:
                param1: value1
                param2: value2
            schema:
              $ref: '#/components/schemas/CreateProxyResourceInstanceRequest2'
        required: true
      responses:
        "202":
          content:
            application/json:
              example:
                id: Omnis mollitia dolorem labore.
              schema:
                $ref: '#/components/schemas/CreateResourceInstanceResponseBody'
          description: Accepted response.
        "400":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "bad_request: Response used on a bad request"
        "401":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "auth_failure: Response used on authentication failure"
        "403":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "forbidden: Response used on authorization failure"
        "404":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "not_found: Response used when the requested resource is not\
            \ found"
        "409":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "invalid_state: Response used when requested resource is in\
            \ an invalid state for this operation"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "failed_request: Response used on failure to create a resource\
            \ instance"
      security:
      - api_key_header_Authorization: []
      summary: CreateProxyResourceInstance inventory-api
      tags:
      - inventory-api
  ? /2022-09-01-00/fleet/resource-instance/{serviceProviderId}/{serviceKey}/{serviceAPIVersion}/{serviceEnvironmentKey}/{serviceModelKey}/{productTierKey}/{resourceKey}
  : post:
      operationId: inventory-api#CreateResourceInstance
      parameters:
      - description: The service provider ID
        example: omnistrate
        explode: false
        in: path
        name: serviceProviderId
        required: true
        schema:
          description: ID of a Service Provider
          example: Pariatur et occaecati dolores aperiam dolores praesentium.
          type: string
        style: simple
      - description: The service name
        example: service-orchestration
        explode: false
        in: path
        name: serviceKey
        required: true
        schema:
          description: The service name
          example: service-orchestration
          type: string
        style: simple
      - description: The service API version
        example: v1
        explode: false
        in: path
        name: serviceAPIVersion
        required: true
        schema:
          description: The service API version
          example: v1
          type: string
        style: simple
      - description: The service environment name
        example: dev
        explode: false
        in: path
        name: serviceEnvironmentKey
        required: true
        schema:
          description: The service environment name
          example: dev
          type: string
        style: simple
      - description: The service model name
        example: hosted
        explode: false
        in: path
        name: serviceModelKey
        required: true
        schema:
          description: The service model name
          example: hosted
          type: string
        style: simple
[...]
