openapi: 3.0.3
info:
  description: REST API for Omnistrate Fleet
  title: Omnistrate Fleet API
  version: 2022-09-01-00
servers:
- url: https://api.omnistrate.cloud
tags:
- description: The set of APIs manage the internal temporal workflows.
  name: fleet-workflows-api
- description: The set of APIs manage the inventory for service providers.
  name: inventory-api
- description: The set of APIs manage the host clusters for service providers.
  name: hostcluster-api
- description: The set of APIs manage the events for service providers.
  name: events-api
- description: The set of APIs for auditing fleet events for service providers.
  name: audit-events-api
- description: The set of APIs manage the operations and observe overall fleet health
    for service providers
  name: operations-api
- name: webhooks-api
- name: fleet-features-api
- name: notifications-api
- name: customer-onboardings-api
- name: helm-package-api
- name: fleet-custom-network-api
paths:
  /2022-09-01-00/fleet/audit-events:
    get:
      operationId: audit-events-api#AuditEvents
      parameters:
      - allowEmptyValue: true
        description: The service ID to list events for
        example: s-123456
        explode: true
        in: query
        name: serviceID
        required: false
        schema:
          description: ID of a Service
          example: s-123456
          type: string
        style: form
      - allowEmptyValue: true
        example: PROD|PRIVATE|CANARY|STAGING|QA|DEV
        explode: true
        in: query
        name: environmentType
        required: false
        schema:
          description: The type of service environment
          example: PROD|PRIVATE|CANARY|STAGING|QA|DEV
          type: string
        style: form
      - allowEmptyValue: true
        description: The event types to filter by
        example:
        - Et vero exercitationem ut.
        - Occaecati eos placeat explicabo nobis aut.
        - Laboriosam asperiores optio.
        - Quibusdam temporibus ipsa.
        explode: true
        in: query
        name: eventSourceTypes
        required: false
        schema:
          description: The event types to filter by
          example:
          - Ut ut.
          - Dolor et ut voluptatibus aut dolorem alias.
          - Quod nulla qui.
          - Sit quae.
          items:
            example: Iste aut.
            type: string
          type: array
        style: form
      - allowEmptyValue: true
        description: The instance ID to list events for
        example: instance-12345678
        explode: true
        in: query
        name: instanceID
        required: false
        schema:
          description: ID of a Resource Instance
          example: instance-12345678
          type: string
        style: form
      - allowEmptyValue: true
        example: Fugit minima repellendus.
        explode: true
        in: query
        name: productTierID
        required: false
        schema:
          description: ID of a Product Tier
          example: Quo error doloremque vel sed beatae dolor.
          type: string
        style: form
      - allowEmptyValue: true
        description: The next token to use for pagination
        example: token
        explode: true
        in: query
        name: nextPageToken
        required: false
        schema:
          description: The next token to use for pagination
          example: token
          type: string
        style: form
      - allowEmptyValue: true
        description: The number of events to return per page
        example: 10
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          description: The number of resources to return per page
          example: 10
          format: int64
          type: integer
        style: form
      - allowEmptyValue: true
        description: Start date of the events
        example: 2023-01-01T10:00:00Z
        explode: true
        in: query
        name: startDate
        required: false
        schema:
          description: "Start time of the window in ISO 8601 format. If omitted, the\
            \ filter is open-ended at the start."
          example: 2023-01-01T10:00:00Z
          format: date-time
          type: string
        style: form
      - allowEmptyValue: true
        description: End date of the events
        example: 2024-01-01T10:00:00Z
        explode: true
        in: query
        name: endDate
        required: false
        schema:
          description: "End time of the window in ISO 8601 format. If omitted, the\
            \ filter is open-ended at the start."
          example: 2024-01-01T10:00:00Z
          format: date-time
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                events:
                - environmentId: Nobis aut aut consequatur autem nisi iusto.
                  eventSource: "Customer, Infra or Maintenance"
                  id: Ratione ut exercitationem sint sapiente itaque.
                  instanceId: Perspiciatis quibusdam rerum.
                  message: instance-abcd1234 created
                  orgId: org-12345678
                  orgName: Acme Corporation
                  planVersion: v1.0
                  productTierId: Odio iste necessitatibus tempora et.
                  resourceName: Et aliquam occaecati id id dolor.
                  serviceId: Repellat architecto sequi dolorem amet.
                  serviceName: mysql
                  servicePlanName: Basic Plan
                  time: Est exercitationem corporis tempore vero.
                  userId: user-12345678
                  userName: John Doe
                  workflowFailures:
                  - eventTime: 2020-01-01T00:00:00Z
                    message: Bootstrap failed for reason X
                  - eventTime: 2020-01-01T00:01:00Z
                    message: Compute failed for reason Y
                  workflowId: workflow-12345678
                - environmentId: Nobis aut aut consequatur autem nisi iusto.
                  eventSource: "Customer, Infra or Maintenance"
                  id: Ratione ut exercitationem sint sapiente itaque.
                  instanceId: Perspiciatis quibusdam rerum.
                  message: instance-abcd1234 created
                  orgId: org-12345678
                  orgName: Acme Corporation
                  planVersion: v1.0
                  productTierId: Odio iste necessitatibus tempora et.
                  resourceName: Et aliquam occaecati id id dolor.
                  serviceId: Repellat architecto sequi dolorem amet.
                  serviceName: mysql
                  servicePlanName: Basic Plan
                  time: Est exercitationem corporis tempore vero.
                  userId: user-12345678
                  userName: John Doe
                  workflowFailures:
                  - eventTime: 2020-01-01T00:00:00Z
                    message: Bootstrap failed for reason X
                  - eventTime: 2020-01-01T00:01:00Z
                    message: Compute failed for reason Y
                  workflowId: workflow-12345678
                - environmentId: Nobis aut aut consequatur autem nisi iusto.
                  eventSource: "Customer, Infra or Maintenance"
                  id: Ratione ut exercitationem sint sapiente itaque.
                  instanceId: Perspiciatis quibusdam rerum.
                  message: instance-abcd1234 created
                  orgId: org-12345678
                  orgName: Acme Corporation
                  planVersion: v1.0
                  productTierId: Odio iste necessitatibus tempora et.
                  resourceName: Et aliquam occaecati id id dolor.
                  serviceId: Repellat architecto sequi dolorem amet.
                  serviceName: mysql
                  servicePlanName: Basic Plan
                  time: Est exercitationem corporis tempore vero.
                  userId: user-12345678
                  userName: John Doe
                  workflowFailures:
                  - eventTime: 2020-01-01T00:00:00Z
                    message: Bootstrap failed for reason X
                  - eventTime: 2020-01-01T00:01:00Z
                    message: Compute failed for reason Y
                  workflowId: workflow-12345678
                - environmentId: Nobis aut aut consequatur autem nisi iusto.
                  eventSource: "Customer, Infra or Maintenance"
                  id: Ratione ut exercitationem sint sapiente itaque.
                  instanceId: Perspiciatis quibusdam rerum.
                  message: instance-abcd1234 created
                  orgId: org-12345678
                  orgName: Acme Corporation
                  planVersion: v1.0
                  productTierId: Odio iste necessitatibus tempora et.
                  resourceName: Et aliquam occaecati id id dolor.
                  serviceId: Repellat architecto sequi dolorem amet.
                  serviceName: mysql
                  servicePlanName: Basic Plan
                  time: Est exercitationem corporis tempore vero.
                  userId: user-12345678
                  userName: John Doe
                  workflowFailures:
                  - eventTime: 2020-01-01T00:00:00Z
                    message: Bootstrap failed for reason X
                  - eventTime: 2020-01-01T00:01:00Z
                    message: Compute failed for reason Y
                  workflowId: workflow-12345678
                ids:
                - event-12345678
                nextPageToken: Qui voluptatem aliquid neque eius debitis.
              schema:
                $ref: '#/components/schemas/FleetAuditEventsResult'
          description: OK response.
        "400":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "bad_request: Response used on a bad request"
        "401":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "auth_failure: Response used on authentication failure"
        "403":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "forbidden: Response used on authorization failure"
        "404":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "not_found: Response used when the requested resource is not\
            \ found"
        "409":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "invalid_state: Response used when requested resource is in\
            \ an invalid state for this operation"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "failed_request: Response used on failure to list events"
      security:
      - api_key_header_Authorization: []
      summary: AuditEvents audit-events-api
      tags:
      - audit-events-api
  /2022-09-01-00/fleet/custom-network:
    get:
      operationId: fleet-custom-network-api#ListCustomNetworks
      parameters:
      - allowEmptyValue: true
        description: The name of the cloud provider that custom network should be
          created in
        example: aws
        explode: true
        in: query
        name: cloudProviderName
        required: false
        schema:
          description: Name of the Infra Provider
          example: aws|azure|gcp|all
          type: string
        style: form
      - allowEmptyValue: true
        description: The region of the cloud provider that the network should be created
          in
        example: us-east-1
        explode: true
        in: query
        name: cloudProviderRegion
        required: false
        schema:
          description: The region of the cloud provider that the network should be
            created in
          example: us-east-1
          type: string
        style: form
      - allowEmptyValue: true
        description: "Flag indicating whether to return only custom networks, or to\
          \ include default and imported networks as well"
        example: false
        explode: true
        in: query
        name: customNetworksOnly
        required: false
        schema:
          description: "Flag indicating whether to return only custom networks, or\
            \ to include default and imported networks as well"
          example: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                customNetworks:
                - cidr: 10.0.0.0/16
                  cloudProviderName: aws
                  cloudProviderRegion: us-east-1
                  id: n-12345678
                  name: Prod us-east-1
                  networkDefinitionType: Custom
                  networkFeaturesConfiguration:
                    isPrivateLinkEnabled: true
                  networkInstances:
                  - awsAccountID: "123456789012"
                    cloudProviderNativeNetworkId: vpc-12345678
                    gcpProjectID: my-project
                    gcpProjectNumber: "123456789012"
                    hostClusterID: hc-12345678
                  - awsAccountID: "123456789012"
                    cloudProviderNativeNetworkId: vpc-12345678
                    gcpProjectID: my-project
                    gcpProjectNumber: "123456789012"
                    hostClusterID: hc-12345678
                  - awsAccountID: "123456789012"
                    cloudProviderNativeNetworkId: vpc-12345678
                    gcpProjectID: my-project
                    gcpProjectNumber: "123456789012"
                    hostClusterID: hc-12345678
                  owningOrgID: org-12345678
                  owningOrgName: my-customer
                  owningUserID: user-12345678
                  owningUserName: Jane Doe
                - cidr: 10.0.0.0/16
                  cloudProviderName: aws
                  cloudProviderRegion: us-east-1
                  id: n-12345678
                  name: Prod us-east-1
                  networkDefinitionType: Custom
                  networkFeaturesConfiguration:
                    isPrivateLinkEnabled: true
                  networkInstances:
                  - awsAccountID: "123456789012"
                    cloudProviderNativeNetworkId: vpc-12345678
                    gcpProjectID: my-project
                    gcpProjectNumber: "123456789012"
                    hostClusterID: hc-12345678
                  - awsAccountID: "123456789012"
                    cloudProviderNativeNetworkId: vpc-12345678
                    gcpProjectID: my-project
                    gcpProjectNumber: "123456789012"
                    hostClusterID: hc-12345678
                  - awsAccountID: "123456789012"
                    cloudProviderNativeNetworkId: vpc-12345678
                    gcpProjectID: my-project
                    gcpProjectNumber: "123456789012"
                    hostClusterID: hc-12345678
                  owningOrgID: org-12345678
                  owningOrgName: my-customer
                  owningUserID: user-12345678
                  owningUserName: Jane Doe
                - cidr: 10.0.0.0/16
                  cloudProviderName: aws
                  cloudProviderRegion: us-east-1
                  id: n-12345678
                  name: Prod us-east-1
                  networkDefinitionType: Custom
                  networkFeaturesConfiguration:
                    isPrivateLinkEnabled: true
                  networkInstances:
                  - awsAccountID: "123456789012"
                    cloudProviderNativeNetworkId: vpc-12345678
                    gcpProjectID: my-project
                    gcpProjectNumber: "123456789012"
                    hostClusterID: hc-12345678
                  - awsAccountID: "123456789012"
                    cloudProviderNativeNetworkId: vpc-12345678
                    gcpProjectID: my-project
                    gcpProjectNumber: "123456789012"
                    hostClusterID: hc-12345678
                  - awsAccountID: "123456789012"
                    cloudProviderNativeNetworkId: vpc-12345678
                    gcpProjectID: my-project
                    gcpProjectNumber: "123456789012"
                    hostClusterID: hc-12345678
                  owningOrgID: org-12345678
                  owningOrgName: my-customer
                  owningUserID: user-12345678
                  owningUserName: Jane Doe
                - cidr: 10.0.0.0/16
                  cloudProviderName: aws
                  cloudProviderRegion: us-east-1
                  id: n-12345678
                  name: Prod us-east-1
                  networkDefinitionType: Custom
                  networkFeaturesConfiguration:
                    isPrivateLinkEnabled: true
                  networkInstances:
                  - awsAccountID: "123456789012"
                    cloudProviderNativeNetworkId: vpc-12345678
                    gcpProjectID: my-project
                    gcpProjectNumber: "123456789012"
                    hostClusterID: hc-12345678
                  - awsAccountID: "123456789012"
                    cloudProviderNativeNetworkId: vpc-12345678
                    gcpProjectID: my-project
                    gcpProjectNumber: "123456789012"
                    hostClusterID: hc-12345678
                  - awsAccountID: "123456789012"
                    cloudProviderNativeNetworkId: vpc-12345678
                    gcpProjectID: my-project
                    gcpProjectNumber: "123456789012"
                    hostClusterID: hc-12345678
                  owningOrgID: org-12345678
                  owningOrgName: my-customer
                  owningUserID: user-12345678
                  owningUserName: Jane Doe
              schema:
                $ref: '#/components/schemas/FleetListCustomNetworksResult'
          description: OK response.
        "400":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "bad_request: Response used on a bad request"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "failed_request: Response used on failure to list custom networks"
      security:
      - api_key_header_Authorization: []
      summary: ListCustomNetworks fleet-custom-network-api
      tags:
      - fleet-custom-network-api
    post:
      operationId: fleet-custom-network-api#CreateCustomNetwork
      requestBody:
        content:
          application/json:
            example:
              cidr: 10.0.0.0/16
              cloudProviderName: aws
              cloudProviderRegion: us-east-1
              name: Prod us-east-1
              networkFeaturesConfiguration:
                isPrivateLinkEnabled: false
            schema:
              $ref: '#/components/schemas/FleetCreateCustomNetworkRequest2'
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                cidr: 10.0.0.0/16
                cloudProviderName: aws
                cloudProviderRegion: us-east-1
                id: n-12345678
                name: Prod us-east-1
                networkDefinitionType: Custom
                networkFeaturesConfiguration:
                  isPrivateLinkEnabled: true
                networkInstances:
                - awsAccountID: "123456789012"
                  cloudProviderNativeNetworkId: vpc-12345678
                  gcpProjectID: my-project
                  gcpProjectNumber: "123456789012"
                  hostClusterID: hc-12345678
                - awsAccountID: "123456789012"
                  cloudProviderNativeNetworkId: vpc-12345678
                  gcpProjectID: my-project
                  gcpProjectNumber: "123456789012"
                  hostClusterID: hc-12345678
                owningOrgID: org-12345678
                owningOrgName: my-customer
                owningUserID: user-12345678
                owningUserName: Jane Doe
              schema:
                $ref: '#/components/schemas/FleetCustomNetwork'
          description: OK response.
        "400":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "bad_request: Response used on a bad request"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "failed_request: Response used on failure to create a custom\
            \ network"
      security:
      - api_key_header_Authorization: []
      summary: CreateCustomNetwork fleet-custom-network-api
      tags:
      - fleet-custom-network-api
  /2022-09-01-00/fleet/custom-network/{id}:
    delete:
      operationId: fleet-custom-network-api#DeleteCustomNetwork
      parameters:
      - description: ID of a custom network
        example: n-12345678
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: ID of a custom network
          example: Vel nisi impedit dignissimos corrupti illum omnis.
          type: string
        style: simple
      responses:
        "200":
          description: OK response.
        "400":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "bad_request: Response used on a bad request to delete a custom\
            \ network"
        "404":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "not_found: Response used when the requested custom network\
            \ is not found"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "failed_request: Response used on failure to delete a custom\
            \ network"
      security:
      - api_key_header_Authorization: []
      summary: DeleteCustomNetwork fleet-custom-network-api
      tags:
      - fleet-custom-network-api
    get:
      operationId: fleet-custom-network-api#DescribeCustomNetwork
      parameters:
      - description: ID of a custom network
        example: n-12345678
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: ID of a custom network
          example: Sequi est magnam sit assumenda tempora.
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                cidr: 10.0.0.0/16
                cloudProviderName: aws
                cloudProviderRegion: us-east-1
                id: n-12345678
                name: Prod us-east-1
                networkDefinitionType: Custom
                networkFeaturesConfiguration:
                  isPrivateLinkEnabled: true
                networkInstances:
                - awsAccountID: "123456789012"
                  cloudProviderNativeNetworkId: vpc-12345678
                  gcpProjectID: my-project
                  gcpProjectNumber: "123456789012"
                  hostClusterID: hc-12345678
                - awsAccountID: "123456789012"
                  cloudProviderNativeNetworkId: vpc-12345678
                  gcpProjectID: my-project
                  gcpProjectNumber: "123456789012"
                  hostClusterID: hc-12345678
                owningOrgID: org-12345678
                owningOrgName: my-customer
                owningUserID: user-12345678
                owningUserName: Jane Doe
              schema:
                $ref: '#/components/schemas/FleetCustomNetwork'
          description: OK response.
        "400":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "bad_request: Response used on a bad request to describe a\
            \ custom network"
        "404":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "not_found: Response used when the requested custom network\
            \ is not found"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "failed_request: Response used on failure to describe a custom\
            \ network"
      security:
      - api_key_header_Authorization: []
      summary: DescribeCustomNetwork fleet-custom-network-api
      tags:
      - fleet-custom-network-api
    patch:
      operationId: fleet-custom-network-api#UpdateCustomNetwork
      parameters:
      - description: ID of a custom network
        example: n-12345678
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: ID of a custom network
          example: Quo qui dolorum et qui.
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              name: Dev us-east-1
            schema:
              $ref: '#/components/schemas/FleetUpdateCustomNetworkRequest2'
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                cidr: 10.0.0.0/16
                cloudProviderName: aws
                cloudProviderRegion: us-east-1
                id: n-12345678
                name: Prod us-east-1
                networkDefinitionType: Custom
                networkFeaturesConfiguration:
                  isPrivateLinkEnabled: true
                networkInstances:
                - awsAccountID: "123456789012"
                  cloudProviderNativeNetworkId: vpc-12345678
                  gcpProjectID: my-project
                  gcpProjectNumber: "123456789012"
                  hostClusterID: hc-12345678
                - awsAccountID: "123456789012"
                  cloudProviderNativeNetworkId: vpc-12345678
                  gcpProjectID: my-project
                  gcpProjectNumber: "123456789012"
                  hostClusterID: hc-12345678
                owningOrgID: org-12345678
                owningOrgName: my-customer
                owningUserID: user-12345678
                owningUserName: Jane Doe
              schema:
                $ref: '#/components/schemas/FleetCustomNetwork'
          description: OK response.
        "400":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "bad_request: Response used on a bad request"
        "404":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "not_found: Response used when the requested custom network\
            \ is not found"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "failed_request: Response used on failure to create a custom\
            \ network"
      security:
      - api_key_header_Authorization: []
      summary: UpdateCustomNetwork fleet-custom-network-api
      tags:
      - fleet-custom-network-api
  /2022-09-01-00/fleet/customer-onboarding:
    get:
      operationId: customer-onboardings-api#ListCustomerOnboardings
      parameters:
      - allowEmptyValue: true
        description: Whether to return only pending onboardings.
        example: true
        explode: true
        in: query
        name: pendingOnly
        required: false
        schema:
          description: Whether to return only pending onboardings.
          example: true
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                onboardings:
                - id: onboarding-1234567890
                  isCompleted: true
                  name: My Onboarding
                  orgId: org-1234567890
                  serviceId: service-1234567890
                  stages:
                  - name: ConfigureAccounts|BuildSaaS|LaunchSaaS
                    status: NOT_STARTED|COMPLETE|SKIPPED
                  - name: ConfigureAccounts|BuildSaaS|LaunchSaaS
                    status: NOT_STARTED|COMPLETE|SKIPPED
                  - name: ConfigureAccounts|BuildSaaS|LaunchSaaS
                    status: NOT_STARTED|COMPLETE|SKIPPED
                  userId: user-1234567890
                - id: onboarding-1234567890
                  isCompleted: true
                  name: My Onboarding
                  orgId: org-1234567890
                  serviceId: service-1234567890
                  stages:
                  - name: ConfigureAccounts|BuildSaaS|LaunchSaaS
                    status: NOT_STARTED|COMPLETE|SKIPPED
                  - name: ConfigureAccounts|BuildSaaS|LaunchSaaS
                    status: NOT_STARTED|COMPLETE|SKIPPED
                  - name: ConfigureAccounts|BuildSaaS|LaunchSaaS
                    status: NOT_STARTED|COMPLETE|SKIPPED
                  userId: user-1234567890
                - id: onboarding-1234567890
                  isCompleted: true
                  name: My Onboarding
                  orgId: org-1234567890
                  serviceId: service-1234567890
                  stages:
                  - name: ConfigureAccounts|BuildSaaS|LaunchSaaS
                    status: NOT_STARTED|COMPLETE|SKIPPED
                  - name: ConfigureAccounts|BuildSaaS|LaunchSaaS
                    status: NOT_STARTED|COMPLETE|SKIPPED
                  - name: ConfigureAccounts|BuildSaaS|LaunchSaaS
                    status: NOT_STARTED|COMPLETE|SKIPPED
                  userId: user-1234567890
              schema:
                $ref: '#/components/schemas/ListCustomerOnboardingResult'
          description: OK response.
        "400":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "bad_request: Response used on a bad request"
        "401":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "auth_failure: Response used on authentication failure"
        "403":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "forbidden: Response used on authorization failure"
        "404":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "not_found: Response used when the requested resource is not\
            \ found"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "failed_request: Internal Server Error response."
      security:
      - api_key_header_Authorization: []
      summary: ListCustomerOnboardings customer-onboardings-api
      tags:
      - customer-onboardings-api
    post:
      operationId: customer-onboardings-api#CreateCustomerOnboarding
      requestBody:
        content:
          application/json:
            example:
              name: Sapiente ullam quia officia nostrum.
            schema:
              $ref: '#/components/schemas/CreateCustomerOnboardingRequest2'
        required: true
      responses:
        "200":
          content:
            application/json:
              example: Excepturi natus saepe facilis animi quas omnis.
              schema:
                example: Ut praesentium eum ut.
                type: string
          description: OK response.
        "400":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "bad_request: Response used on a bad request"
        "401":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "auth_failure: Response used on authentication failure"
        "403":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "forbidden: Response used on authorization failure"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "failed_request: Internal Server Error response."
      security:
      - api_key_header_Authorization: []
      summary: CreateCustomerOnboarding customer-onboardings-api
      tags:
      - customer-onboardings-api
  /2022-09-01-00/fleet/customer-onboarding-stages:
    get:
      operationId: customer-onboardings-api#ListCustomerOnboardingStages
      responses:
        "200":
          content:
            application/json:
              example:
                stages:
                - name: ConfigureAccounts|BuildSaaS|LaunchSaaS
                  status: NOT_STARTED|COMPLETE|SKIPPED
                - name: ConfigureAccounts|BuildSaaS|LaunchSaaS
                  status: NOT_STARTED|COMPLETE|SKIPPED
                - name: ConfigureAccounts|BuildSaaS|LaunchSaaS
                  status: NOT_STARTED|COMPLETE|SKIPPED
              schema:
                $ref: '#/components/schemas/ListCustomerOnboardingStagesResult'
          description: OK response.
        "401":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "auth_failure: Response used on authentication failure"
        "403":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "forbidden: Response used on authorization failure"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "failed_request: Internal Server Error response."
      security:
      - api_key_header_Authorization: []
      summary: ListCustomerOnboardingStages customer-onboardings-api
      tags:
      - customer-onboardings-api
  /2022-09-01-00/fleet/customer-onboarding/{id}:
    delete:
      operationId: customer-onboardings-api#DeleteCustomerOnboarding
      parameters:
      - description: The ID of the onboarding.
        example: onboarding-1234567890
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: ID of a Customer Onboarding
          example: Et odit.
          type: string
        style: simple
      responses:
        "200":
          description: OK response.
        "400":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "bad_request: Response used on a bad request"
        "401":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "auth_failure: Response used on authentication failure"
        "403":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "forbidden: Response used on authorization failure"
        "404":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "not_found: Response used when the requested resource is not\
            \ found"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "failed_request: Internal Server Error response."
      security:
      - api_key_header_Authorization: []
      summary: DeleteCustomerOnboarding customer-onboardings-api
      tags:
      - customer-onboardings-api
    get:
      operationId: customer-onboardings-api#DescribeCustomerOnboarding
      parameters:
      - description: The ID of the onboarding.
        example: onboarding-1234567890
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: ID of a Customer Onboarding
          example: Quasi et rerum eum aut ab ratione.
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                id: onboarding-1234567890
                isCompleted: true
                name: My Onboarding
                orgId: org-1234567890
                serviceId: service-1234567890
                stages:
                - name: ConfigureAccounts|BuildSaaS|LaunchSaaS
                  status: NOT_STARTED|COMPLETE|SKIPPED
                - name: ConfigureAccounts|BuildSaaS|LaunchSaaS
                  status: NOT_STARTED|COMPLETE|SKIPPED
                userId: user-1234567890
              schema:
                $ref: '#/components/schemas/CustomerOnboarding'
          description: OK response.
        "400":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "bad_request: Response used on a bad request"
        "401":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "auth_failure: Response used on authentication failure"
        "403":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "forbidden: Response used on authorization failure"
        "404":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "not_found: Response used when the requested resource is not\
            \ found"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "failed_request: Internal Server Error response."
      security:
      - api_key_header_Authorization: []
      summary: DescribeCustomerOnboarding customer-onboardings-api
      tags:
      - customer-onboardings-api
    patch:
      operationId: customer-onboardings-api#UpdateCustomerOnboarding
      parameters:
      - description: The ID of the onboarding.
        example: onboarding-1234567890
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: ID of a Customer Onboarding
          example: Rerum ea ex ad.
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              serviceId: service-1234567890
              stage:
                name: ConfigureAccounts
                status: Skipped
            schema:
              $ref: '#/components/schemas/UpdateCustomerOnboardingRequest2'
        required: true
      responses:
        "200":
          description: OK response.
        "400":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "bad_request: Response used on a bad request"
        "401":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "auth_failure: Response used on authentication failure"
        "403":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "forbidden: Response used on authorization failure"
        "404":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "not_found: Response used when the requested resource is not\
            \ found"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "failed_request: Internal Server Error response."
      security:
      - api_key_header_Authorization: []
      summary: UpdateCustomerOnboarding customer-onboardings-api
      tags:
      - customer-onboardings-api
  /2022-09-01-00/fleet/events:
    get:
      operationId: events-api#ListEvents
      parameters:
      - allowEmptyValue: true
        description: The environment type to filter by
        example: DEV
        explode: true
        in: query
        name: environmentType
        required: false
        schema:
          description: The type of service environment
          example: PROD|PRIVATE|CANARY|STAGING|QA|DEV
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                events:
                - eventID: e-123456
                  eventPayload:
                    eventType: CustomerSignUp
                    token: "123456"
                  eventType: InviteUser
                  orgID: o-123456
                  orgName: Acme Corp
                  orgURL: https://acme.com
                  priority: Critical
                  time: 2023-01-10T00:00:00Z
                  userEmail: user@example.com
                  userID: user-123456
                  userName: user
                - eventID: e-123456
                  eventPayload:
                    eventType: CustomerSignUp
                    token: "123456"
                  eventType: InviteUser
                  orgID: o-123456
                  orgName: Acme Corp
                  orgURL: https://acme.com
                  priority: Critical
                  time: 2023-01-10T00:00:00Z
                  userEmail: user@example.com
                  userID: user-123456
                  userName: user
                - eventID: e-123456
                  eventPayload:
                    eventType: CustomerSignUp
                    token: "123456"
                  eventType: InviteUser
                  orgID: o-123456
                  orgName: Acme Corp
                  orgURL: https://acme.com
                  priority: Critical
                  time: 2023-01-10T00:00:00Z
                  userEmail: user@example.com
                  userID: user-123456
                  userName: user
                - eventID: e-123456
                  eventPayload:
                    eventType: CustomerSignUp
                    token: "123456"
                  eventType: InviteUser
                  orgID: o-123456
                  orgName: Acme Corp
                  orgURL: https://acme.com
                  priority: Critical
                  time: 2023-01-10T00:00:00Z
                  userEmail: user@example.com
                  userID: user-123456
                  userName: user
              schema:
                $ref: '#/components/schemas/ListEndCustomerEventsResult'
          description: OK response.
        "400":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "bad_request: Response used on a bad request"
        "401":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "auth_failure: Response used on authentication failure"
        "403":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "forbidden: Response used on authorization failure"
        "404":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "not_found: Response used when the requested resource is not\
            \ found"
        "409":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "invalid_state: Response used when requested resource is in\
            \ an invalid state for this operation"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "failed_request: Response used on failure to list events"
      security:
      - api_key_header_Authorization: []
      summary: ListEvents events-api
      tags:
      - events-api
  /2022-09-01-00/fleet/events/{id}:
    delete:
      operationId: events-api#AcknowledgeEvent
      parameters:
      - description: The ID of the event
        example: e-123456
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: ID of a Event
          example: Aut qui enim vel.
          type: string
        style: simple
      responses:
        "200":
          description: OK response.
        "400":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "bad_request: Response used on a bad request"
        "401":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "auth_failure: Response used on authentication failure"
        "403":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "forbidden: Response used on authorization failure"
        "404":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "not_found: Response used when the requested resource is not\
            \ found"
        "409":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "invalid_state: Response used when requested resource is in\
            \ an invalid state for this operation"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "failed_request: Response used on failure to list events."
      security:
      - api_key_header_Authorization: []
      summary: AcknowledgeEvent events-api
      tags:
      - events-api
  /2022-09-01-00/fleet/feature:
    delete:
      operationId: fleet-features-api#DisableFleetFeature
      requestBody:
        content:
          application/json:
            example:
              feature: Est et laboriosam in beatae cumque.
            schema:
              $ref: '#/components/schemas/DisableFleetFeatureRequest2'
        required: true
      responses:
        "200":
          description: OK response.
        "400":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "bad_request: Response used on a bad request"
        "401":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "auth_failure: Response used on authentication failure"
        "403":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "forbidden: Response used on authorization failure"
        "404":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "not_found: Response used when the requested resource is not\
            \ found"
        "409":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "invalid_state: Response used when requested resource is in\
            \ an invalid state for this operation"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "failed_request: Response used when the product tier feature\
            \ could not be disabled"
      security:
      - api_key_header_Authorization: []
      summary: DisableFleetFeature fleet-features-api
      tags:
      - fleet-features-api
    put:
      operationId: fleet-features-api#EnableFleetFeature
      requestBody:
        content:
          application/json:
            example:
              feature: Quibusdam sit et.
            schema:
              $ref: '#/components/schemas/EnableFleetFeatureRequest2'
        required: true
      responses:
        "200":
          description: OK response.
        "400":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "bad_request: Response used on a bad request"
        "401":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "auth_failure: Response used on authentication failure"
        "403":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "forbidden: Response used on authorization failure"
        "404":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "not_found: Response used when the requested resource is not\
            \ found"
        "409":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "invalid_state: Response used when requested resource is in\
            \ an invalid state for this operation"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "failed_request: Response used when the product tier feature\
            \ could not be disabled"
      security:
      - api_key_header_Authorization: []
      summary: EnableFleetFeature fleet-features-api
      tags:
      - fleet-features-api
  /2022-09-01-00/fleet/feature/{feature}:
    get:
      operationId: fleet-features-api#DescribeFleetFeature
      parameters:
      - description: The feature to describe.
        example: CUSTOMER_BILLING
        explode: false
        in: path
        name: feature
        required: true
        schema:
          description: FleetFeatureType is to enable / disable features per service
            provider
          example: CUSTOMER_BILLING
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                feature: Ullam magnam aut adipisci aut.
                featureConfig:
                  embeddedInvoiceURL: https://acme.com/invoice
                  embeddedPaymentConfigurationURL: https://acme.com/payment
                status: pending
              schema:
                $ref: '#/components/schemas/FleetFeature'
          description: OK response.
        "400":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "bad_request: Response used on a bad request"
        "401":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "auth_failure: Response used on authentication failure"
        "403":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "forbidden: Response used on authorization failure"
        "404":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "not_found: Response used when the requested resource is not\
            \ found"
        "409":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "invalid_state: Response used when the product tier feature\
            \ could not be disabled"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "failed_request: Response used when the product tier feature\
            \ could not be disabled"
      security:
      - api_key_header_Authorization: []
      summary: DescribeFleetFeature fleet-features-api
      tags:
      - fleet-features-api
  /2022-09-01-00/fleet/features:
    get:
      operationId: fleet-features-api#ListFleetFeatures
      responses:
        "200":
          content:
            application/json:
              example:
                features:
                - feature: In excepturi nisi.
                  featureConfig:
                    embeddedInvoiceURL: https://acme.com/invoice
                    embeddedPaymentConfigurationURL: https://acme.com/payment
                  status: pending
                - feature: In excepturi nisi.
                  featureConfig:
                    embeddedInvoiceURL: https://acme.com/invoice
                    embeddedPaymentConfigurationURL: https://acme.com/payment
                  status: pending
              schema:
                $ref: '#/components/schemas/ListFleetFeaturesResult'
          description: OK response.
        "400":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "bad_request: Response used on a bad request"
        "401":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "auth_failure: Response used on authentication failure"
        "403":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "forbidden: Response used on authorization failure"
        "404":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "not_found: Response used when the requested resource is not\
            \ found"
        "409":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "invalid_state: Response used when requested resource is in\
            \ an invalid state for this operation"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "failed_request: Response used when the product tier feature\
            \ could not be disabled"
      security:
      - api_key_header_Authorization: []
      summary: ListFleetFeatures fleet-features-api
      tags:
      - fleet-features-api
  /2022-09-01-00/fleet/helm-package-installations:
    get:
      operationId: helm-package-api#ListHelmPackageInstallations
      parameters:
      - allowEmptyValue: true
        description: The host cluster ID to list helm packages for
        example: hc-12345678
        explode: true
        in: query
        name: hostClusterID
        required: false
        schema:
          description: ID of a Host Cluster
          example: Qui sint.
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                helmPackageInstallations:
                - helmPackage:
                    chartName: my-chart
                    chartRepoName: my-repo
                    chartRepoUrl: https://my-repo.com
                    chartValues:
                      key1: value1
                      key2: 3
                      key3:
                        key4: value4
                    chartVersion: 1.0.0
                    namespace: default
                  hostClusterID: hc-12345678
                  status: unknown|deployed|uninstalled|superseded|failed|uninstalling|pending-install|pending-upgrade|pending-rollback
                - helmPackage:
                    chartName: my-chart
                    chartRepoName: my-repo
                    chartRepoUrl: https://my-repo.com
                    chartValues:
                      key1: value1
                      key2: 3
                      key3:
                        key4: value4
                    chartVersion: 1.0.0
                    namespace: default
                  hostClusterID: hc-12345678
                  status: unknown|deployed|uninstalled|superseded|failed|uninstalling|pending-install|pending-upgrade|pending-rollback
                - helmPackage:
                    chartName: my-chart
                    chartRepoName: my-repo
                    chartRepoUrl: https://my-repo.com
                    chartValues:
                      key1: value1
                      key2: 3
                      key3:
                        key4: value4
                    chartVersion: 1.0.0
                    namespace: default
                  hostClusterID: hc-12345678
                  status: unknown|deployed|uninstalled|superseded|failed|uninstalling|pending-install|pending-upgrade|pending-rollback
              schema:
                $ref: '#/components/schemas/ListHelmPackageInstallationsResult'
          description: OK response.
        "401":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "auth_failure: Response used on authentication failure"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "failed_request: Internal Server Error response."
      security:
      - api_key_header_Authorization: []
      summary: ListHelmPackageInstallations helm-package-api
      tags:
      - helm-package-api
  /2022-09-01-00/fleet/hooks/{id}:
    post:
      operationId: webhooks-api#ReceiveWebhook
      parameters:
      - description: The unique id per producer.
        example: Ut enim amet adipisci tempora provident omnis.
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: The unique id per producer.
          example: Aut fugit iste sint id et.
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example: Dolor aut quia consequatur.
            schema:
              description: The event data
              example: Inventore aut ullam tenetur.
              type: string
        description: The event data
        required: true
      responses:
        "200":
          description: OK response.
        "400":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "bad_request: Response used on a bad request"
        "401":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "auth_failure: Response used on authentication failure"
        "403":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "forbidden: Response used on authorization failure"
        "404":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "not_found: Response used when the requested resource is not\
            \ found"
        "409":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "invalid_state: Response used when requested resource is in\
            \ an invalid state for this operation"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "failed_request: Response used on failure to list events"
      summary: ReceiveWebhook webhooks-api
      tags:
      - webhooks-api
  /2022-09-01-00/fleet/host-clusters:
    get:
      operationId: hostcluster-api#ListHostClusters
      parameters:
      - allowEmptyValue: true
        description: The account config ID of the host cluster
        example: ac-12345678
        explode: true
        in: query
        name: accountConfigId
        required: false
        schema:
          description: ID of an Account Config
          example: Reprehenderit aliquid.
          type: string
        style: form
      - allowEmptyValue: true
        description: The region ID of the host cluster
        example: region-12345678
        explode: true
        in: query
        name: regionId
        required: false
        schema:
          description: ID of a Region
          example: Distinctio autem.
          type: string
        style: form
      - allowEmptyValue: true
        description: Whether to include provisioner clusters in the response
        example: true
        explode: true
        in: query
        name: includeProvisionerClusters
        required: false
        schema:
          description: Whether to include provisioner clusters in the response
          example: true
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                hostClusters:
                - accountConfigId: ac-12345678
                  description: My Host Cluster
                  helmPackages:
                  - firstDeployed: 2021-01-01T00:00:00Z
                    lastDeployed: 2021-01-01T00:00:00Z
                    name: my-helm-package
                    namespace: my-namespace
                    repository: https://my-helm-repo.com
                    status: deployed
                    values:
                      key1: value1
                      key2: value2
                    version: 1.0.0
                  id: hc-12345678
                  key: my-host-cluster
                  kubernetesDashboardEndpoint: https://my-k8s-dashboard.com
                  regionId: region-12345678
                  status: READY
                  type: Kubernetes
                token: h1
              schema:
                $ref: '#/components/schemas/ListHostClustersResult'
          description: OK response.
        "400":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "bad_request: Response used on a bad request"
        "401":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "auth_failure: Response used on authentication failure"
        "403":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "forbidden: Response used on authorization failure"
        "404":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "not_found: Response used when the requested resource is not\
            \ found"
        "409":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "invalid_state: Response used when requested resource is in\
            \ an invalid state for this operation"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "failed_request: Response used on failure to list host clusters"
      security:
      - api_key_header_Authorization: []
      summary: ListHostClusters hostcluster-api
      tags:
      - hostcluster-api
  /2022-09-01-00/fleet/notification-channel:
    get:
      operationId: notifications-api#ListNotificationChannels
      responses:
        "200":
          content:
            application/json:
              example:
                channels:
                - channelType: EMAIL
                  email:
                    to: notify@example.com
                  id: channel-12345678
                - channelType: SLACK
                  id: channel-87654321
                  slack:
                    webhookUrl: https://hooks.slack.com/services/...
              schema:
                $ref: '#/components/schemas/ListNotificationChannelsResult'
          description: OK response.
        "400":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "bad_request: Response used on a bad request"
        "401":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "auth_failure: Response used on authentication failure"
        "403":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "forbidden: Response used on authorization failure"
        "404":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "not_found: Response used when the requested resource is not\
            \ found"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "failed_request: Internal Server Error response."
      security:
      - api_key_header_Authorization: []
      summary: ListNotificationChannels notifications-api
      tags:
      - notifications-api
    post:
      operationId: notifications-api#CreateNotificationChannel
      requestBody:
        content:
          application/json:
            example:
              email:
                to: notify@example.com
              name: My Channel
              pagerDuty:
                APIKey: e93facc47f2d4b2b88272b3a647afe7d-fictional-integration-key
              slack:
                webhookUrl: https://hooks.slack.com/services/...
              subscription:
                alertTypes:
                - Alarm
                - Notification
                environmentTypes:
                - PROD
                - PRIVATE
                - CANARY
                eventCategories:
                - InstanceEvent
                - ServiceEvent
                eventPriorities:
                - Critical
                - High
                eventTypes:
                - UnhealthyInstance
                - UserSignUp
              webhook:
                method: POST
                url: https://example.com/notify
            schema:
              $ref: '#/components/schemas/CreateNotificationChannelRequest2'
        required: true
      responses:
        "200":
          content:
            application/json:
              example: Et voluptatem.
              schema:
                example: Quas hic veniam.
                type: string
          description: OK response.
        "400":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "bad_request: Response used on a bad request"
        "401":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "auth_failure: Response used on authentication failure"
        "403":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "forbidden: Response used on authorization failure"
        "404":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "not_found: Response used when the requested resource is not\
            \ found"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "failed_request: Internal Server Error response."
      security:
      - api_key_header_Authorization: []
      summary: CreateNotificationChannel notifications-api
      tags:
      - notifications-api
  /2022-09-01-00/fleet/notification-channel/{id}:
    delete:
      operationId: notifications-api#DeleteNotificationChannel
      parameters:
      - description: Unique identifier of the channel
        example: channel-12345678
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: ID of a Notification Channel
          example: Alias similique minus perferendis rem dolorem.
          type: string
        style: simple
      responses:
        "200":
          description: OK response.
        "401":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "auth_failure: Response used on authentication failure"
        "403":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "forbidden: Response used on authorization failure"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "failed_request: Internal Server Error response."
      security:
      - api_key_header_Authorization: []
      summary: DeleteNotificationChannel notifications-api
      tags:
      - notifications-api
    get:
      operationId: notifications-api#DescribeNotificationChannel
      parameters:
      - description: Unique identifier of the channel
        example: channel-12345678
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: ID of a Notification Channel
          example: Dolore fugit rerum.
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                channelType: EMAIL
                email:
                  to: notify@example.com
                id: channel-12345678
                name: My Channel
                pagerDuty:
                  integrationKey: e93facc47f2d4b2b88272b3a647afe7d-fictional-integration-key
                slack:
                  webhookUrl: https://hooks.slack.com/services/...
                subscription:
                  alertTypes:
                  - Alarm
                  - Notification
                  environmentTypes:
                  - PROD
                  - PRIVATE
                  - CANARY
                  eventCategories:
                  - InstanceEvent
                  - ServiceEvent
                  eventPriorities:
                  - Critical
                  - High
                  eventTypes:
                  - UnhealthyInstance
                  - UserSignUp
                webhook:
                  method: POST
                  url: https://example.com/notify
              schema:
                $ref: '#/components/schemas/Channel'
          description: OK response.
        "401":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "auth_failure: Response used on authentication failure"
        "403":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "forbidden: Response used on authorization failure"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "failed_request: Internal Server Error response."
      security:
      - api_key_header_Authorization: []
      summary: DescribeNotificationChannel notifications-api
      tags:
      - notifications-api
    patch:
      operationId: notifications-api#UpdateNotificationChannel
      parameters:
      - description: Unique identifier of the channel
        example: channel-12345678
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: ID of a Notification Channel
          example: Eligendi sunt minus.
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              email:
                to: notify@example.com
              name: My Channel
              pagerDuty:
                APIKey: e93facc47f2d4b2b88272b3a647afe7d-fictional-integration-key
              slack:
                webhookUrl: https://hooks.slack.com/services/...
              subscription:
                alertTypes:
                - Alarm
                - Notification
                environmentTypes:
                - PROD
                - PRIVATE
                - CANARY
                eventCategories:
                - InstanceEvent
                - ServiceEvent
                eventPriorities:
                - Critical
                - High
                eventTypes:
                - UnhealthyInstance
                - UserSignUp
              webhook:
                method: POST
                url: https://example.com/notify
            schema:
              $ref: '#/components/schemas/UpdateNotificationChannelRequest2'
        required: true
      responses:
        "200":
          description: OK response.
        "400":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "bad_request: Response used on a bad request"
        "401":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "auth_failure: Response used on authentication failure"
        "403":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "forbidden: Response used on authorization failure"
        "404":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "not_found: Response used when the requested resource is not\
            \ found"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "failed_request: Internal Server Error response."
      security:
      - api_key_header_Authorization: []
      summary: UpdateNotificationChannel notifications-api
      tags:
      - notifications-api
  /2022-09-01-00/fleet/operations/deployment-cell-health:
    get:
      operationId: operations-api#DeploymentCellHealth
      parameters:
      - allowEmptyValue: true
        description: The host cluster ID to get the health for
        example: hc-12345678
        explode: true
        in: query
        name: hostClusterID
        required: false
        schema:
          description: ID of a Host Cluster
          example: Odit reprehenderit.
          type: string
        style: form
      - allowEmptyValue: true
        description: The service ID to get the health for
        example: s-12345678
        explode: true
        in: query
        name: serviceID
        required: false
        schema:
          description: ID of a Service
          example: s-123456
          type: string
        style: form
      - allowEmptyValue: true
        description: The service environment ID to get the health for
        example: se-12345678
        explode: true
        in: query
        name: serviceEnvironmentID
        required: false
        schema:
          description: ID of a Service Environment
          example: se-123456
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                cloudProvider: aws
                hostClusterID: hc-12345678
                instanceHealth:
                  Id et asperiores.:
                    instanceID: instance-12345678
                    lifeCycleStatus: RUNNING
                    resourcesHealth:
                      Omnis cumque beatae perspiciatis alias dolorem labore.:
                        nodesHealth:
                          Quisquam id sunt veniam aut.:
                            availabilityZone: us-east-2a
                            connectivityStatus: HEALTHY
                            diskHealth: HEALTHY
                            endpoint: primary-0.instance-abcd1234.us-east-2.aws.omnistrate.cloud
                            events:
                            - event-1
                            - event-2
                            integrationsHealth:
                              CustomerObservabilityHealth: HEALTHY
                              InternalObservabilityHealth: HEALTHY
                            loadHealth: LOAD_NORMAL
                            loadStatus: LOAD_NORMAL
                            nodeHealth: HEALTHY
                            nodeName: postgres-0
                            ports:
                            - 80
                            - 443
                            processHealth: HEALTHY
                            processLiveness: HEALTHY
                            recentLogs: Log message
                            status: HEALTHY
                        resourceID: resource-12345678
                        resourceKey: primary
                        resourceType: Kustomize
                        status: HEALTHY
                      Quisquam eius deserunt.:
                        nodesHealth:
                          Quisquam id sunt veniam aut.:
                            availabilityZone: us-east-2a
                            connectivityStatus: HEALTHY
                            diskHealth: HEALTHY
                            endpoint: primary-0.instance-abcd1234.us-east-2.aws.omnistrate.cloud
                            events:
                            - event-1
                            - event-2
                            integrationsHealth:
                              CustomerObservabilityHealth: HEALTHY
                              InternalObservabilityHealth: HEALTHY
                            loadHealth: LOAD_NORMAL
                            loadStatus: LOAD_NORMAL
                            nodeHealth: HEALTHY
                            nodeName: postgres-0
                            ports:
                            - 80
                            - 443
                            processHealth: HEALTHY
                            processLiveness: HEALTHY
                            recentLogs: Log message
                            status: HEALTHY
                        resourceID: resource-12345678
                        resourceKey: primary
                        resourceType: Kustomize
                        status: HEALTHY
                    status: HEALTHY
                  Sed beatae esse maxime cupiditate deleniti aut.:
                    instanceID: instance-12345678
                    lifeCycleStatus: RUNNING
                    resourcesHealth:
                      Omnis cumque beatae perspiciatis alias dolorem labore.:
                        nodesHealth:
                          Quisquam id sunt veniam aut.:
                            availabilityZone: us-east-2a
                            connectivityStatus: HEALTHY
                            diskHealth: HEALTHY
                            endpoint: primary-0.instance-abcd1234.us-east-2.aws.omnistrate.cloud
                            events:
                            - event-1
                            - event-2
                            integrationsHealth:
                              CustomerObservabilityHealth: HEALTHY
                              InternalObservabilityHealth: HEALTHY
                            loadHealth: LOAD_NORMAL
                            loadStatus: LOAD_NORMAL
                            nodeHealth: HEALTHY
                            nodeName: postgres-0
                            ports:
                            - 80
                            - 443
                            processHealth: HEALTHY
                            processLiveness: HEALTHY
                            recentLogs: Log message
                            status: HEALTHY
                        resourceID: resource-12345678
                        resourceKey: primary
                        resourceType: Kustomize
                        status: HEALTHY
                      Quisquam eius deserunt.:
                        nodesHealth:
                          Quisquam id sunt veniam aut.:
                            availabilityZone: us-east-2a
                            connectivityStatus: HEALTHY
                            diskHealth: HEALTHY
                            endpoint: primary-0.instance-abcd1234.us-east-2.aws.omnistrate.cloud
                            events:
                            - event-1
                            - event-2
                            integrationsHealth:
                              CustomerObservabilityHealth: HEALTHY
                              InternalObservabilityHealth: HEALTHY
                            loadHealth: LOAD_NORMAL
                            loadStatus: LOAD_NORMAL
                            nodeHealth: HEALTHY
                            nodeName: postgres-0
                            ports:
                            - 80
                            - 443
                            processHealth: HEALTHY
                            processLiveness: HEALTHY
                            recentLogs: Log message
                            status: HEALTHY
                        resourceID: resource-12345678
                        resourceKey: primary
                        resourceType: Kustomize
                        status: HEALTHY
                    status: HEALTHY
                regionCode: us-west-1
                serviceEnvironmentName: prod
                serviceName: mysql
              schema:
                $ref: '#/components/schemas/DeploymentCellHealthDetail'
          description: OK response.
        "400":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "bad_request: Response used on a bad request"
        "401":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "auth_failure: Response used on authentication failure"
        "403":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "forbidden: Response used on authorization failure"
        "404":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "not_found: Response used when the requested resource is not\
            \ found"
        "409":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "invalid_state: Response used when requested resource is in\
            \ an invalid state for this operation"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "failed_request: Response used on failure to list events"
      security:
      - api_key_header_Authorization: []
      summary: DeploymentCellHealth operations-api
      tags:
      - operations-api
  /2022-09-01-00/fleet/operations/events:
    get:
      operationId: operations-api#ListEvents
      parameters:
      - allowEmptyValue: true
        example: PROD|PRIVATE|CANARY|STAGING|QA|DEV
        explode: true
        in: query
        name: environmentType
        required: false
        schema:
          description: The type of service environment
          example: PROD|PRIVATE|CANARY|STAGING|QA|DEV
          type: string
        style: form
      - allowEmptyValue: true
        description: The event types to filter by
        example:
        - UnhealthyInstance|FailedDeployment|ScaleOut|UserSignUp|UserSubscription
        - UnhealthyInstance|FailedDeployment|ScaleOut|UserSignUp|UserSubscription
        - UnhealthyInstance|FailedDeployment|ScaleOut|UserSignUp|UserSubscription
        - UnhealthyInstance|FailedDeployment|ScaleOut|UserSignUp|UserSubscription
        explode: true
        in: query
        name: eventTypes
        required: false
        schema:
          description: The event types to filter by
          example:
          - UnhealthyInstance|FailedDeployment|ScaleOut|UserSignUp|UserSubscription
          - UnhealthyInstance|FailedDeployment|ScaleOut|UserSignUp|UserSubscription
          items:
            description: The type of the service provider specific event
            example: UnhealthyInstance|FailedDeployment|ScaleOut|UserSignUp|UserSubscription
            type: string
          type: array
        style: form
      - allowEmptyValue: true
        description: The service ID to list events for
        example: s-123456
        explode: true
        in: query
        name: serviceID
        required: false
        schema:
          description: ID of a Service
          example: s-123456
          type: string
        style: form
      - allowEmptyValue: true
        description: The service environment ID to list events for
        example: se-123456
        explode: true
        in: query
        name: serviceEnvironmentID
        required: false
        schema:
          description: ID of a Service Environment
          example: se-123456
          type: string
        style: form
      - allowEmptyValue: true
        description: The instance ID to list events for
        example: instance-12345678
        explode: true
        in: query
        name: instanceID
        required: false
        schema:
          description: ID of a Resource Instance
          example: instance-12345678
          type: string
        style: form
      - allowEmptyValue: true
        description: The next token to use for pagination
        example: token
        explode: true
        in: query
        name: nextPageToken
        required: false
        schema:
          description: The next token to use for pagination
          example: token
          type: string
        style: form
      - allowEmptyValue: true
        description: The number of events to return per page
        example: 10
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          description: The number of resources to return per page
          example: 10
          format: int64
          type: integer
        style: form
      - allowEmptyValue: true
        description: Start date of the events
        example: 2023-01-01T10:00:00Z
        explode: true
        in: query
        name: startDate
        required: false
        schema:
          description: "Start time of the window in ISO 8601 format. If omitted, the\
            \ filter is open-ended at the start."
          example: 2023-01-01T10:00:00Z
          format: date-time
          type: string
        style: form
      - allowEmptyValue: true
        description: End date of the events
        example: 2024-01-01T10:00:00Z
        explode: true
        in: query
        name: endDate
        required: false
        schema:
          description: "End time of the window in ISO 8601 format. If omitted, the\
            \ filter is open-ended at the start."
          example: 2024-01-01T10:00:00Z
          format: date-time
          type: string
        style: form
      - allowEmptyValue: true
        example: Fugit minima repellendus.
        explode: true
        in: query
        name: productTierID
        required: false
        schema:
          description: ID of a Product Tier
          example: Et rerum minus alias aut omnis.
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                events:
                - alertType: Alarm
                  eventCategory: InstanceEvent
                  eventID: e-123456
                  eventPayload:
                    Praesentium exercitationem.: Ut ut omnis quod id quia est.
                    Rerum tempore.: Ad quam.
                  eventType: UnhealthyInstance
                  expiryTime: 2023-01-10T00:00:00Z
                  instanceID: instance-12345678
                  planVersion: v1.0
                  priority: Critical
                  resourceName: Resource-123
                  scope: ServiceProvider
                  serviceEnvironmentID: se-123456
                  serviceID: s-123456
                  serviceName: Service-123
                  servicePlanName: Basic Plan
                  time: 2023-01-10T00:00:00Z
                - alertType: Alarm
                  eventCategory: InstanceEvent
                  eventID: e-123456
                  eventPayload:
                    Praesentium exercitationem.: Ut ut omnis quod id quia est.
                    Rerum tempore.: Ad quam.
                  eventType: UnhealthyInstance
                  expiryTime: 2023-01-10T00:00:00Z
                  instanceID: instance-12345678
                  planVersion: v1.0
                  priority: Critical
                  resourceName: Resource-123
                  scope: ServiceProvider
                  serviceEnvironmentID: se-123456
                  serviceID: s-123456
                  serviceName: Service-123
                  servicePlanName: Basic Plan
                  time: 2023-01-10T00:00:00Z
                eventsSummary:
                  eventsSummary:
                    FailedDeployment: 1
                    UnhealthyInstance: 2
                nextPageToken: Atque eaque non eos natus laborum beatae.
              schema:
                $ref: '#/components/schemas/ListServiceProviderEventsResult'
          description: OK response.
        "400":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "bad_request: Response used on a bad request"
        "401":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "auth_failure: Response used on authentication failure"
        "403":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "forbidden: Response used on authorization failure"
        "404":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "not_found: Response used when the requested resource is not\
            \ found"
        "409":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "invalid_state: Response used when requested resource is in\
            \ an invalid state for this operation"
        "500":
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
          description: "failed_request: Response used on failure to list events"
      security:
      - api_key_header_Authorization: []
      summary: ListEvents operations-api
      tags:
      - operations-api
  /2022-09-01-00/fleet/operations/service-health:
    get:
      operationId: operations-api#ServiceHealth
      parameters:
      - allowEmptyValue: true
        description: The service ID to get the health for
        example: s-123456
        explode: true
        in: query
        name: serviceID
        required: true
        schema:
          description: ID of a Service
          example: s-123456
          type: string
        style: form
      - allowEmptyValue: true
        description: The service environment ID to get the health for
        example: se-123456
        explode: true
        in: query
        name: serviceEnvironmentID
        required: true
        schema:
          description: ID of a Service Environment
          example: se-123456
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                cloudProviderHealthSummary:
                  Ipsa vero beatae quo quaerat labore.:
                    cloudProvider: aws
                    deployingInstances: 4460417068197445977
                    healthyInstances: 4907007688049945305
                    message: Cloud provider is healthy
                    regionalHealthSummary:
                      Delectus sunt nobis aperiam perspiciatis.:
                        deployingInstances: 7469696172701531538
                        deploymentCellHealthSummary:
                          Id laborum.:
                            deployingInstances: 6997542729596897024
                            healthyInstances: 770884094247088125
                            hostClusterID: hc-12345678
                            message: Cell is healthy
                            status: Healthy
                            totalInstances: 4891538073110731011
                            unhealthyInstances: 5562473879683249862
                            unknownInstances: 5312122713572893051
                          Sed iusto.:
                            deployingInstances: 6997542729596897024
                            healthyInstances: 770884094247088125
                            hostClusterID: hc-12345678
                            message: Cell is healthy
                            status: Healthy
                            totalInstances: 4891538073110731011
                            unhealthyInstances: 5562473879683249862
                            unknownInstances: 5312122713572893051
                          Vel recusandae.:
                            deployingInstances: 6997542729596897024
                            healthyInstances: 770884094247088125
                            hostClusterID: hc-12345678
                            message: Cell is healthy
                            status: Healthy
                            totalInstances: 4891538073110731011
                            unhealthyInstances: 5562473879683249862
                            unknownInstances: 5312122713572893051
                        healthyInstances: 1368201351709053163
                        message: Region is healthy
                        region: us-east-1
                        status: Healthy
                        totalInstances: 2926386008153782468
                        unhealthyInstances: 5466525558751629929
                        unknownInstances: 1623331972904624952
                    status: Healthy
                    totalInstances: 8444264263037782174
                    unhealthyInstances: 3243173848717617871
                    unknownInstances: 7799129757000197765
                  Ipsam dolorum est recusandae doloremque dolorem dolor.:
                    cloudProvider: aws
                    deployingInstances: 4460417068197445977
                    healthyInstances: 4907007688049945305
                    message: Cloud provider is healthy
                    regionalHealthSummary:
                      Delectus sunt nobis aperiam perspiciatis.:
                        deployingInstances: 7469696172701531538
                        deploymentCellHealthSummary:
                          Id laborum.:
                            deployingInstances: 6997542729596897024
                            healthyInstances: 770884094247088125
                            hostClusterID: hc-12345678
                            message: Cell is healthy
                            status: Healthy
                            totalInstances: 4891538073110731011
[...]
